#preavisExterne .preavisExterne {
    width: 90%;
    margin: auto;
    height: calc(100vh - 80px);
}

#preavisExterne ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#preavisExterne li {
    padding: 0;
}

#preavisExterne .pendingRow {
    font-style: italic;
    color: grey;
}
