#preavisEditDecision .tg {
    border-collapse: collapse;
    border-spacing: 10;
    width: 1350px;
}

#preavisEditDecision .tg tr {
    height: 45px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#preavisEditDecision .tg td, #preavisEditDecision .tg th {
    padding: 20px 10px 20px 10px;
}

#preavisEditDecision .oldVersion {
    font-style: italic;
    color: gray;
}

#preavisEditDecision .table_glossaire {
    border-collapse: collapse;
    border: 1px solid black;
}

#preavisEditDecision .table_glossaire tr {
    border: 1px dashed black;
}

#preavisEditDecision .table_glossaire_add {
    width: 50px !important;
}

#preavisEditDecision .table_glossaire_text {
    width: 1400px !important;
}

#preavisEditDecision .remarque_contexte_situation .md-textarea {
    height: 40vh;
}

#preavisEditDecision .title {
    width: 400px;
    font-weight: bold;
    font-size: 15pt;
    color: black;
    opacity: 0.8;
    padding-bottom: 15px;
}

#preavisEditDecision .subtitle {
    font-weight: bold;
    color: black;
    opacity: 0.7;
    font-size: 12pt;
    padding-bottom: 10px;
}

#preavisEditDecision .subtitle::before {
    content: '-';
    padding-right: 10px;
    padding-left: 5px;
}
