#preavisEdit.preavisEdit {
    width: 90%;
    margin: auto;
    height: calc(100vh - 80px);
}

#preavisEdit .preavisHeader {
    position: fixed;
    margin-top: 0px;
    width: calc(90% - 33px);
}

#preavisEdit .preavisContent {
    position: relative; top: 70px;
}

#preavisEdit .table_infogen .title {
    font-weight: bold;
    width: 180px;
}

#preavisEdit .table_infogen .content {
    width: 400px;
}

#preavisEdit .table_infogen {
    border-collapse: collapse;
    border-spacing: 0;
}

#preavisEdit .table_infogen tr {
    height: 45px;
}

#preavisEdit .table_infogen td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

#preavisEdit #mapContainer {
    width: 95%;
    margin: auto;
    height: 370px; /*valeur empirique*/
    border: 1px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#preavisEdit .highlightDecision {
    background-color: yellow;
}

#preavisEdit .dragdrop {
    height: 200px; /*valeur empirique*/
    border: 1px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    text-align: center;
    background-color: lightgray;
}

#preavisEdit .map{
    width: 100%;
    height: 100%;
    float: left;
}
