#preavisEditDecision .tg {
    border-collapse: collapse;
    border-spacing: 10;
    width: 1350px;
}

#preavisEditDecision .tg tr {
    height: 45px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#preavisEditDecision .tg td, #preavisEditDecision .tg th {
    padding: 20px 10px 20px 10px;
}

#preavisEditDecision .oldVersion {
    font-style: italic;
    color: gray;
}

#preavisEditDecision .table_glossaire {
    border-collapse: collapse;
    border: 1px solid black;
}

#preavisEditDecision .table_glossaire tr {
    border: 1px dashed black;
}

#preavisEditDecision .table_glossaire_add {
    width: 50px !important;
}
#preavisEditDecision .table_glossaire_text {
    width: 1400px !important;
}