#controleGeometre .controleGeometre {
    width: 100%;
    float: left;
}


#controleGeometre .controleGeometre .label {
    display: block;
}


#controleGeometre table, #controleGeometre th, #controleGeometre td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

#controleGeometre th, #controleGeometre td {
    padding: 5px;
}

#controleGeometre th {
    vertical-align: bottom;
}

#controleGeometre th.ctrl_radiobtn {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    vertical-align: top;
}

#controleGeometre td {
    vertical-align: middle;
}

#controleGeometre .ctrl_title {
    font-style: italic;
    background-color: lightgray;
}

#controleGeometre .ctrl_label {
    text-align: left;
    width: 700px;
}

#controleGeometre .ctrl_radiobtn {
    text-align: center;
    width: 32px;
}

#controleGeometre .md-radio {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}