#emolumentsDialog .md-dialog {
  max-width: 1600px !important;
  margin: auto;
}

#emolumentsDialog .md-dialog-container {
  max-height: unset;
  height: 95vh !important;
}

#emolumentsDialog .formField {
  width: 250px;
}

#zi .md-input, #tableau_emoluments .md-input {
  text-align: right;
  height: 20px !important
}

#emolumentsDialog .nbField {
  margin: 0px;
  margin-bottom: 2px;
  min-height: 23px !important;
  padding: 3px 0px 0px 0px !important;
}

#emolumentsDialog .nbInput {
  width: 50px;
  text-align: center;
}

#emolumentsDialog .nbSelect{
  width: 100px !important;
  text-align: center;
  height: 20px;
}

#emolumentsDialog .md-field .md-input, #emolumentsDialog .md-field .md-textarea {
  height: 32px;
}

#emolumentsDialog .inputMontant {
  width: 70px;
  text-align: Right;
  margin-right: 5px;
}

#emolumentsDialog .inputText {
  width: 200px;
  text-align: Left;
}

#emolumentsDialog .tg {
  border-collapse: collapse;
  border-spacing: 0;
}

#emolumentsDialog .tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 0px 5px;
  word-break: normal;
}

#emolumentsDialog .tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding: 0px 5px;
  word-break: normal;
}

#emolumentsDialog .tg .tg-0lax {
  text-align: left;
  vertical-align: center
}

#emolumentsDialog .subtitle {
  background-color: lightgray;
}

#emolumentsDialog .alignRight {
  text-align: right !important;
}

#emolumentsDialog .alignCenter {
  text-align: center !important;
}

#emolumentsDialog .notEditable {
  background-color: lightgray;
}

#emolumentsDialog .montantTotal {
  font-weight: bold;
}

#emolumentsDialog .tabulation {
  padding-left: 15px !important;
  font-style: italic;
}

#emolumentsDialog .tabulation-2 {
  padding-left: 30px !important;
  font-style: italic;
}

#emolumentsDialog .batiment-separator {
  border-left: 3px solid black !important;
}

#emolumentsDialog .overHead {
  line-break: normal !important;
  font-weight: normal !important;
  font-style: italic;
  text-align: left;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  padding-bottom: 10px !important;
}

#emolumentsDialog .highlightEmolument {
  background-color: lightgreen;
}

#emolumentsDialog .hideNulls {
  font-size: 0px;
}

#emolumentsDialog .customTable .customTableHead {
  width: calc(100% - 1em);
}

#emolumentsDialog .customTable .customTableBody, #emolumentsDialog .customTable .customTableHead {
  display: block;
}

#emolumentsDialog .customTable .customTableBody {
  overflow-y: scroll;
  max-height: 610px;
}

#emolumentsDialog th, #emolumentsDialog td {
  width: 150px !important;
}

#emolumentsDialog .code {
  width: 50px !important;
}

#emolumentsDialog .position {
  width: 250px !important;
}

#emolumentsDialog .position_divers {
  width: 250px !important;
}

#emolumentsDialog .position_recapitulatif {
  width: 400px !important;
}

#emolumentsDialog .unite {
  width: 100px !important;
}

#emolumentsDialog .prix_unitaire {
  width: 120px !important;
}

#emolumentsDialog .nombre {
  width: 70px !important;
}

#emolumentsDialog .montant {
  width: 80px;
}

#emolumentsDialog .repartitionFaux {
  background-color: lightcoral;
}

#emolumentsDialog .repartitionJuste {
  background-color: lightgreen;
}

#emolumentsDialog .chapter {
  width: 35px !important;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

#emolumentsDialog .rowChapterDistinction {
  border-top: 3px solid;
}

#tableau_emoluments tr:hover, .selected {
  background-color: #FFCF8B;
}
