<div class="balance">
    <md-card class="md-elevation-0">
        <md-card-header>
            <div class="md-title">Balance</div>
            <md-button @click="initBFArrays" class="md-raised">init</md-button>
        </md-card-header>

        <md-card-content v-if="numeros_relations[0]">
            
            <div style="text-align: center;">
                Nouvel état
            </div>

            <div style="display: flex;">
                <span class="verticalSpan">Ancien état</span>
                <md-table v-model="numeros_relations_matrice" style="width: min-content;" md-card>
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell>{{ item.source_numero }}</md-table-cell>
                        <md-table-cell v-for="(value, key) in item.destination" :md-label="key"><md-checkbox v-model="item.destination[key]" @change="updateNumerosRelations"></md-checkbox></md-table-cell>
                    </md-table-row>
                </md-table>
            </div>

            <div style="text-align: right;">
                <md-button class="md-accent" @click="initBFArrays">Annuler</md-button>
                <md-button class="md-primary" @click="saveBalance">Enregistrer</md-button>
            </div>

        </md-card-content>
    </md-card>
</div>