<div class="ddp">

    <md-dialog :md-active.sync="showDDPDialog" md-confirm-text="Enregistrer" md-cancel-text="Annuler"
               md-title="Création de DDP" :md-close-on-esc="true" :md-click-outside-to-close="true">
        <md-dialog-title>Création de DDP</md-dialog-title>

        <md-dialog-content>
            <div class="md-layout md-gutter">
                <!-- Cadastre -->
                <div class="md-layout-item md-size-50">
                    <md-field>
                        <label>Cadastre</label>
                        <md-input v-model="numero.numero_cadastre" readonly></md-input>
                    </md-field>
                </div>
                <!-- Numéro du DDP -->
                <div class="md-layout-item md-size-50">
                    <md-field>
                        <label>Numéro de DDP</label>
                        <md-input v-model="numero.numero" readonly></md-input>
                    </md-field>
                </div>

                <!-- Numéro de base (recherche) -->
                <div class="md-layout-item md-size-50">
                    <md-field>
                        <label>Recherche du bien-fonds de base</label>
                        <md-input v-model="searchBFBase"></md-input>
                        <md-button class="md-icon-button md-dense" title="Rechercher" @click="filterBF"><md-icon>search</md-icon></md-button>
                        <span class="md-helper-text">Entrer le bien-fonds de base et cliquer sur rechercher</span>
                    </md-field>
                </div>
                <!-- Numéro de base correspondant à la recherche -->
                <div class="md-layout-item md-size-50">
                    <md-field md-clearable>
                        <label>Bien-fonds de base sélectionné</label>
                        <md-input style="font-style: italic" v-model="form.numeroBase" :disabled="!(form.numeroBase && form.numeroBase.nom)"></md-input>
                    </md-field>
                </div>


            </div>

            <md-dialog-actions>
                <md-button class="md-accent" @click="onCancelDDP">Annuler</md-button>
                <md-button class="md-primary" @click="onConfirmDDP">Enregistrer</md-button>
            </md-dialog-actions>

        </md-dialog-content>
    </md-dialog>

</div>