.suiviMandat {
    width: 100%;
    float: left;
}

.suiviMandat .suiviMandatForm {
    width: 32%;
    /*float: left;*/
}

.suiviMandat .newSuiviMandatBtn {
    right: 25px;
    position: absolute;
}
