<div id="cockpit">
    <md-toolbar class="justifyTitleBtn">
        <h1>Cockpit</h1>
        <md-button class="md-raised md-accent" v-if="newAffaireAllowed" @click="$router.push({name: 'NewAffaire'})">Nouvelle affaire</md-button>
    </md-toolbar>

    <!-- Panneau de gestion des mat diff pour la réquisition de radiation de mention au RF (secrétariat) -->
    <div v-if="showMatdiff_secr">
        <Matdiff_secr />
    </div>
    
    <!-- Panneau de suivi des immeuble en mat diff de l'opérateur MO -->
    <div v-if="showMatdiff_mo">
        <Matdiff_mo />
    </div>

    <!-- Panneau de suivi des affaires chez le client de l'opérateur PPE -->
    <div>
        <AffairesChezClient :operateurs="operateurs" :affaireTypes="affaireTypes" />
    </div>

    <md-card>
        <md-card-content>

            <div style="display: flex;">
                <md-field style="width: 250px !important;">
                    <label>Rechercher</label>
                    <md-input v-model="searchAffaire" placeholder="Nom d'affaire" v-on:keyup="updateTable"></md-input>
                </md-field>

                <md-field style="margin-left: 50px; width: 250px !important;">
                    <label for="operateur">Opérateur</label>
                    <md-select v-model="selectedOperateur_id" name="operateur" id="operateur" @md-selected="updateTable" md-dense>
                      <md-option :value="-1">Tous</md-option>
                      <md-option v-for="item in operateurs" :value="item.id">{{ item.nom }}</md-option>
                    </md-select>
                </md-field>
                
                <md-field style="margin-left: 50px; width: 250px !important;">
                    <label>Type(s) d'affaire</label>
                    <md-select v-model="selectedAffaireTypes_id" @md-selected="updateTable" md-dense>
                        <md-option :value="-1">Tous</md-option>
                        <md-option v-for="item in affaireTypes" :value="item.id">{{ item.nom }}</md-option>
                    </md-select>
                </md-field>

                <md-checkbox v-model="showFinProcessus" @change="updateTable" style="margin-left: 50px; margin-top:25px;">Afficher l'étape fin de processus</md-checkbox>

                <p style="margin-top: 25px;">({{ affaires.length }} affaires)</p>
            </div>
            
            <md-progress-bar md-mode="indeterminate" v-if="loadingAffaires"></md-progress-bar>
            <md-table md-height="40vh" v-model="affaires" md-sort="id" md-sort-order="desc" md-card>

                <md-table-empty-state
                    md-label="Aucune affaire">
                </md-table-empty-state>
                
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-sort-by="affaire_type" md-label="Type d'affaire">{{ item.affaire_type }}</md-table-cell>
                    <md-table-cell md-sort-by="dashboard_0" md-label="Coordination"><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_0">{{ item.dashboard_0 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_1" md-label="Traitement"><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_1">{{ item.dashboard_1 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_2" md-label="Ctrl tech."><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_2">{{ item.dashboard_2 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_3" md-label="Report serv."><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_3">{{ item.dashboard_3 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_4" md-label="Ctrl juridique"><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_4">{{ item.dashboard_4 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_5" md-label="Prép. admin."><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_5">{{ item.dashboard_5 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_6" md-label="Signature"><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_6">{{ item.dashboard_6 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_7" md-label="Expédition"><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_7">{{ item.dashboard_7 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_8" md-label="Validation BD"><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_8">{{ item.dashboard_8 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_9" md-label="Signature Art.35"><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_9">{{ item.dashboard_9 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_10" md-label="Fin de processus  (<30 j>)" v-if="showFinProcessus"><md-button class="affBtn md-raised" :title="item.title" @click="openAffaire(item)" v-if="item.dashboard_10">{{ item.dashboard_10 }}</md-button></md-table-cell>
                </md-table-row>
            </md-table>

        </md-card-content>
    </md-card>

</div>

