<div id="cockpit">
    <md-toolbar class="justifyTitleBtn">
        <h1>Cockpit</h1>
        <md-button class="md-raised md-accent" v-if="newAffaireAllowed" @click="$router.push({name: 'NewAffaire'})">Nouvelle affaire</md-button>
    </md-toolbar>

    <!-- mat diff -->
    <div>
        <Matdiff v-if="showMatdiff_secr || showMatdiff_mo"
            :operateurs="operateurs"
            :showMatdiff_secr="showMatdiff_secr"
            :showMatdiff_mo="showMatdiff_mo"
            :showMatdiff_ctrl="showMatdiff_ctrl"></Matdiff>
    </div>
    
    <md-card>
        <md-card-content>
            <div class="md-layout md-gutter md-alignment-center-space-between">
                <div class="md-layout-item md-size-80" style="display: flex;">
                    <md-field style="width: 250px !important;">
                        <label>Rechercher</label>
                        <md-input v-model="searchTerm" placeholder="Numéro d'affaire" v-on:keyup="getAffaire"></md-input>
                        <md-icon>search</md-icon>
                    </md-field>
    
                    <md-field style="margin-left: 50px; width: 250px !important;">
                        <label for="operateur">Opérateur·rice</label>
                        <md-select v-model="search.operateur_id" name="operateur" id="operateur" @md-selected="getAffaire" md-dense>
                          <md-option :value="-1">Tous</md-option>
                          <md-option v-for="item in operateurs" :value="item.id">{{ item.prenom_nom }}</md-option>
                        </md-select>
                    </md-field>
                    
                    <md-field style="margin-left: 50px; width: 250px !important;">
                        <label>Type(s) d'affaire</label>
                        <md-select v-model="search.type_id" @md-selected="getAffaire" md-dense>
                            <md-option :value="-1">Tous</md-option>
                            <md-option v-for="item in affaireTypes" :value="item.id">{{ item.nom }}</md-option>
                        </md-select>
                    </md-field>
    
                    <md-checkbox v-model="search.showFinProcessus" @change="getAffaire" style="margin-left: 50px; margin-top:25px;">Afficher l'étape fin de processus</md-checkbox>
                    <md-checkbox v-model="search.showOnlyAffairesUrgentes" @change="getAffaire" style="margin-left: 50px; margin-top:25px;">N'afficher que les affaires urgentes</md-checkbox>
                </div>

                <div class="md-layout-item" style="text-align: right;">
                    <p style="margin-top: 25px;">({{ affaires.length }} affaire{{ plural }} affichée{{ plural }})</p>
                </div>
            </div>

            <md-progress-bar md-mode="indeterminate" v-if="loadingAffaires"></md-progress-bar>
            <md-table v-model="affaires" :md-sort.sync="current_sort" :md-sort-order.sync="current_sort_order" :md-sort-fn="customSort" md-card>

                <md-table-empty-state
                    md-label="Aucune affaire">
                </md-table-empty-state>
                
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-sort-by="affaire_type" md-label="Type d'affaire">{{ item.affaire_type }}</md-table-cell>
                    <md-table-cell md-sort-by="dashboard_13" md-label="Coordination"><div v-if="item.preavis_unread_remarks > 0"><md-badge class="md-primary" :md-content="item.preavis_unread_remarks" md-position="top" v-if="item.dashboard_13" md-dense><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent, preavis_ok: item.preavis_status === 'ok', pending_preavis: item.preavis_status === 'pending' }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" style="margin-top: 4px !important;"  v-if="item.dashboard_13" >{{ item.dashboard_13 }}</md-button></md-badge></div><div v-else><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent, preavis_ok: item.preavis_status === 'ok', pending_preavis: item.preavis_status === 'pending' }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_13">{{ item.dashboard_13 }}</md-button></div></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_1" md-label="Chez le client"><div v-if="item.preavis_unread_remarks > 0"><md-badge class="md-primary" :md-content="item.preavis_unread_remarks" md-position="top" v-if="item.dashboard_1" md-dense><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent, preavis_ok: item.preavis_status === 'ok', pending_preavis: item.preavis_status === 'pending' }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" style="margin-top: 4px !important;"  v-if="item.dashboard_1" >{{ item.dashboard_1 }}</md-button></md-badge></div><div v-else><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent, preavis_ok: item.preavis_status === 'ok', pending_preavis: item.preavis_status === 'pending' }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_1">{{ item.dashboard_1 }}</md-button></div></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_5" md-label="Traitement"><div v-if="item.preavis_unread_remarks > 0"><md-badge class="md-primary" :md-content="item.preavis_unread_remarks" md-position="top" v-if="item.dashboard_5" md-dense><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent, preavis_ok: item.preavis_status === 'ok', pending_preavis: item.preavis_status === 'pending' }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" style="margin-top: 4px !important;"  v-if="item.dashboard_5" >{{ item.dashboard_5 }}</md-button></md-badge></div><div v-else><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent, preavis_ok: item.preavis_status === 'ok', pending_preavis: item.preavis_status === 'pending' }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_5">{{ item.dashboard_5 }}</md-button></div></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_9" md-label="Ctrl tech."><div v-if="item.preavis_unread_remarks > 0"><md-badge class="md-primary" :md-content="item.preavis_unread_remarks" md-position="top" v-if="item.dashboard_9" md-dense><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent, preavis_ok: item.preavis_status === 'ok', pending_preavis: item.preavis_status === 'pending' }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" style="margin-top: 4px !important;"  v-if="item.dashboard_9" >{{ item.dashboard_9 }}</md-button></md-badge></div><div v-else><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent, preavis_ok: item.preavis_status === 'ok', pending_preavis: item.preavis_status === 'pending' }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_9">{{ item.dashboard_9 }}</md-button></div></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_8" md-label="Report serv."><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_8">{{ item.dashboard_8 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_6" md-label="Ctrl juridique"><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_6">{{ item.dashboard_6 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_10" md-label="Prép. admin."><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_10">{{ item.dashboard_10 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_11" md-label="Signature"><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_11">{{ item.dashboard_11 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_27" md-label="Expédition"><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_27">{{ item.dashboard_27 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_14" md-label="Validation BD"><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_14">{{ item.dashboard_14 }}<span v-if="item.geos_retarder_validation===true"><md-icon style="color: red;">pause_circle</md-icon></span></md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_15" md-label="Signature Art.35"><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_15">{{ item.dashboard_15 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_16" md-label="Fin de processus  (<30 j)" v-if="search.showFinProcessus"><md-button class="affBtn md-raised" v-bind:class="{ urgent: item.urgent }" :title="item.title" :to="{ name: 'AffairesDashboard', params: { id: item.id } }" v-if="item.dashboard_16">{{ item.dashboard_16 }}</md-button></md-table-cell>
                </md-table-row>
            </md-table>

        </md-card-content>
    </md-card>

</div>

