.affBtn {
  font-size: 12px !important;
  padding: 0px !important;
  margin: 0px !important;
  min-width: auto;
}

.md-table-cell-container {
  padding: 0px !important;
}

.urgent {
  background-color: lightcoral !important;
}