<div class="activationAffaire">
  <md-dialog :md-active.sync="showActivationDialog" class="activationAffaireDialog">
    <md-dialog-title>Réactivation de l'affaire</md-dialog-title>

    <md-dialog-content>
      <p>
        En confirmant, les opérations suivantes seront réalisées:
        <ul>
          <li>Les dates d'envoi, clôture et de validation de l'affaire seront effacées,</li>
          <li>l'affaire sera renvoyée à l'étape précisée ci-dessous,</li>
          <li>les biens-fonds réservés dans l'affaire redeviendront à l'état "projet" et ceux liés à l'affaire à l'état "validé",</li>
          <li>la balance et les relations entre les numéros (DDP, PPE, PCOP) de l'affaire seront effacées</li>
        </ul>
      </p>
      <br>
      <NewStepSetter :affaire_id="affaire.id" @new-step-selected="setNewStepId" />
    </md-dialog-content>
    

    <md-dialog-actions>
      <md-progress-bar md-mode="indeterminate" v-if="showProgressBar"></md-progress-bar>
      <md-button class="md-accent" @click="showActivationDialog=false">Annuler</md-button>
      <md-button class="md-primary" @click="activateAffaire" :disabled="disabledConfirmBtn">Confirmer</md-button>
    </md-dialog-actions>

  </md-dialog>
</div>