<div class="referenceNumeros">

    <md-dialog :md-active.sync="showReferenceDialog" md-confirm-text="Enregistrer" md-cancel-text="Annuler"
        md-title="Référencer des numéros" :md-close-on-esc="true" :md-click-outside-to-close="true">

        <md-dialog-title>{{ dialogTitle }}</md-dialog-title>

        <md-dialog-content>
            <md-card class="md-elevation-0 simple">
                <md-card-header>
                    <div class="md-layout md-gutter">
                        <div class="md-title">Rechercher un numéro</div>
                        <div>

                        </div>
                    </div>
                </md-card-header>


                <md-card-content>
                    <div class="md-layout md-gutter">
                        <!-- Cadastre -->
                        <div class="md-layout-item md-size-50">
                            <md-autocomplete v-model="search.cadastre" :md-options="cadastre_liste" md-dense @md-selected="initNumerosList">
                                <label>Cadastre</label>
                                <template slot="md-autocomplete-item" slot-scope="{ item }">
                                    {{ item.nom }}
                                </template>
                            </md-autocomplete>
                        </div>
                        <!-- Numéro -->
                        <div class="md-layout-item md-size-25">
                            <md-field>
                                <label>Numéro</label>
                                <md-input v-model="search.numero" type="number" @keyup="initNumerosList"></md-input>
                            </md-field>
                        </div>
                        <!-- SUFFIXE -->
                        <div class="md-layout-item md-size-25">
                            <md-field>
                                <label>Unité</label>
                                <md-input v-model="search.suffixe" @keyup="initNumerosList"></md-input>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <!-- Type -->
                        <div class="md-layout-item">
                            <md-autocomplete v-model="search.type" :md-options="numeros_types_liste" @md-changed="initNumerosList" md-dense>
                                <label>Type</label>
                                <template slot="md-autocomplete-item" slot-scope="{ item }">
                                    {{ item.nom }}
                                </template>
                            </md-autocomplete>
                        </div>
                        <!-- Etat -->
                        <div class="md-layout-item">
                            <md-autocomplete v-model="search.etat" :md-options="numeros_etats_liste" @md-changed="initNumerosList" md-dense>
                                <label>Etat</label>
                                <template slot="md-autocomplete-item" slot-scope="{ item }">
                                    {{ item.nom }}
                                </template>
                            </md-autocomplete>
                        </div>
                    </div>

                </md-card-content>

                <md-divider />

                <md-card-content>

                    <!-- Table des biens-fonds -->
                    <md-table v-model="numeros_liste" md-sort="numero" md-sort-order="desc" @md-selected="onSelect" md-fixed-header>
                        <md-table-toolbar>
                            <h1 class="md-title">Résultat de la recherche</h1>
                        </md-table-toolbar>

                        <md-table-empty-state
                            md-label="Aucun numéro trouvé"
                            md-description="Tous les critères sont-ils corrects?">
                        </md-table-empty-state>

                        <md-table-row slot="md-table-row" slot-scope="{ item }" :md-selectable="selectionType"
                            class="md-primary md-raised" md-auto-select>
                            <md-table-cell md-label="Cadastre" md-sort-by="cadastre">
                                {{ item.cadastre }}
                            </md-table-cell>
                            <md-table-cell md-label="Type" md-sort-by="type_numero">
                                {{ item.type_numero }}
                            </md-table-cell>
                            <md-table-cell md-label="Numéro" md-sort-by="numero">
                                {{ item.numero_sitn }}
                            </md-table-cell>
                            <md-table-cell md-label="État" md-sort-by="etat">
                                {{ item.etat }}
                            </md-table-cell>
                        </md-table-row>
                    </md-table>

                </md-card-content>
            </md-card>

            <md-divider />


            <md-dialog-actions>
                <md-button class="md-accent" @click="onCancelReferenceNumeros">Annuler</md-button>
                <md-button class="md-primary" @click="onConfirmReferenceNumeros(selectedNumeros)">Enregistrer</md-button>
            </md-dialog-actions>

        </md-dialog-content>
    </md-dialog>

    <md-snackbar :md-active.sync="success.check">{{ success.txt }}</md-snackbar>
</div>