.referenceNumeros {
    width: 80%;
    margin: auto;
}

.referenceNumeros .md-card .simple {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}

.referenceNumerosDialog .md-dialog-container {
    min-width: 900px;
    width: 900px;
}
