INSTANCE=overwriteme
BACK_INI_FILE=overwriteme.ini
DOCKER_HOST=ssh://root@overwriteme.domain.com
DOCKER_BACK_PORT=overwriteme
DOCKER_FRONT_PORT=overwriteme
PUBLIC_PATH=/overwriteme
COMPOSE_PROJECT_NAME=infolica-prepub
API_URL=https://overwriteme.domain.ch/infolica_api/infolica/api

AFFAIRES_PATH=/mnt/infolica_prepub/affaires_conservation
TEMPLATES_PATH=/mnt/infolica_templates
TEMP_PATH=/mnt/infolica_temp
