.documents {
    width: 100%;
    float: left;
}

.documents .md-table {
    max-width: 700px;
    margin: auto;
}

.documents .actionsCol {
    width: 140px;
}

.documents .newRemarqueBtn {
    right: 25px;
    position: absolute;
}

.documents .uploadDocBtn {
    right: 25px;
    position: absolute;
}

.uploadDocFile {
    max-width: 700px;
}

/* Correction à l'affichage du md-dialog */
.md-dialog /deep/ .md-dialog-container {
    transform: none;
}