<div class="Documents">
    <md-card>
        <!-- Results Header -->
        <md-card-header>
            <div class="md-title">
                <md-card-expand-trigger>
                    <md-button class="md-icon-button expandCollapseBtn">
                        <md-icon>keyboard_arrow_down</md-icon>
                    </md-button>
                </md-card-expand-trigger>
                Documents
            </div>
        </md-card-header>

        <md-card-expand>
            <md-card-expand-content>

                <md-card-content>
                    <md-button class="md-primary" v-on:click="showUploadDocsDialog = true">
                        Charger des documents
                    </md-button>

                    <div v-if="documents[0]">
                        <md-table v-model="documents" md-sort="" md-sort-order="desc">
                            <md-table-row slot="md-table-row" slot-scope="{ item }">
                                <md-table-cell md-label="Nom" md-sort-by="nom">{{ item.nom }}</md-table-cell>
                                <md-table-cell md-label="Dossier" md-sort-by="dossier">{{ item.dossier }}
                                </md-table-cell>
                                <md-table-cell md-label="Création" md-sort-by="creation">{{ item.creation }}
                                </md-table-cell>
                                <md-table-cell md-label="Télécharger">
                                    <md-button class="md-icon-button md-dense md-primary">
                                        <!-- Lier au webservice pour télécharger les documents! -->
                                        <!-- <a :href="'require('+ item.chemin +')'" :download="item.chemin"> -->
                                        <a :href="item.chemin" @click.prevent="downloadItem(item)" target="_blank">
                                            <md-icon>save_alt</md-icon>
                                        </a>
                                    </md-button>
                                </md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>
                    <div v-else>
                        <i>Aucun document</i>
                    </div>
                </md-card-content>

            </md-card-expand-content>
        </md-card-expand>

    </md-card>
    
    <md-dialog :md-active.sync="showUploadDocsDialog">
        <md-dialog-title>Chargement des documents</md-dialog-title>
        <md-content style="padding: 0 10px;">
            <md-field>
                <label for="type_document">Type document</label>
                <md-select name="type_document" id="type_document" v-model="type_document">
                    <md-option v-for="item in types_documents_list" :key="item.id" :value="item.id">{{item.nom}}</md-option>
                </md-select>
            </md-field>

            <md-field class="uploadDocFile">
                <label>Charger un document</label>
                <md-file v-model="documentFileName" @md-change="handleFileSelect($event)" placeholder="Charger un document" multiple></md-file>                        
            </md-field>  
        </md-content>

        <md-dialog-actions>
            <md-button class="md-primary" @click="showUploadDocsDialog = false">Annuler</md-button>
            <md-button class="md-primary" @click="uploadAffaireDocument()">Enregistrer</md-button>
        </md-dialog-actions>
    </md-dialog>
</div>