<div class="numerosAffaire">

    <md-card>
        <md-card-header>
            <div class="md-title">
                <md-card-expand-trigger>
                    <md-button class="md-icon-button expandCollapseBtn">
                        <md-icon>keyboard_arrow_down</md-icon>
                    </md-button>
                </md-card-expand-trigger>
                Immeubles et numéros MO
            </div>
        </md-card-header>
        
        <md-card-expand>

            <!-- NUMEROS VALIDES CONCERNES (anciens numéros) -->
            <md-card-expand-content class="halfLeft">
                <md-card class="md-elevation-0">
                    <md-card-header>
                        <div class="md-title">Immeubles mutés/Biens-fonds de base
                            <!-- <md-button class="md-icon-button md-raised md-primary newNumerosBtn"
                                v-on:click="callOpenReservationDialog">
                                <md-icon>add</md-icon>
                            </md-button> -->
                        </div>
                    </md-card-header>

                    <!-- Tableau des numéros concernés par l'affaire -->
                    <md-card-content>
                        <div v-if="affaire_numeros_anciens[0]">
                            <md-table v-model="affaire_numeros_anciens" md-sort="id" md-sort-order="desc">
                                <md-table-row slot="md-table-row" slot-scope="{ item }">
                                    <md-table-cell md-label="Id" md-sort-by="numero_id" v-if="false">
                                        {{ item.numero_id }}
                                    </md-table-cell>
                                    <md-table-cell md-label="Cadastre" md-sort-by="numero_cadastre">
                                        {{ item.numero_cadastre }}
                                    </md-table-cell>
                                    <md-table-cell md-label="Type" md-sort-by="numero_type">{{ item.numero_type }}
                                    </md-table-cell>
                                    <md-table-cell md-label="Numéro" md-sort-by="numero">{{ item.numero }}
                                    </md-table-cell>
                                    <md-table-cell md-label="Suffixe/Unité" md-sort-by="numero_suffixe">
                                        {{ item.numero_suffixe }}
                                    </md-table-cell>
                                    <md-table-cell md-label="Etat" md-sort-by="numero_etat">{{ item.numero_etat }}
                                    </md-table-cell>
                                    <!-- <md-table-cell md-label="" class="actionsColumn">
                                        <md-button class="md-icon-button md-primary"
                                            v-on:click="doOpenNumero(item.id)">
                                            <md-icon>open_in_new</md-icon>
                                        </md-button>
                                    </md-table-cell> -->
                                </md-table-row>
                            </md-table>
                        </div>
                        <div v-else>
                            <i>Aucun numéro</i>
                        </div>
                    </md-card-content>
                </md-card>
                <!-- </div> -->
            </md-card-expand-content>


            <!-- NUMEROS RESERVES (nouveaux numéros) -->
            <md-card-expand-content class="halfRight">
                <md-card class="md-elevation-0">
                    <md-card-header>
                        <div class="md-title">Immeubles réservés
                            <md-button class="md-primary newNumerosBtn" v-on:click="callOpenReservationDialog">
                                Réservation
                            </md-button>
                        </div>
                    </md-card-header>


                    <!-- Tableau des numéros concernés par l'affaire -->
                    <md-card-content>
                        <div v-if="affaire_numeros_nouveaux[0]">
                            <md-table v-model="affaire_numeros_nouveaux" md-sort="id" md-sort-order="desc">
                                <md-table-row slot="md-table-row" slot-scope="{ item }">
                                    <md-table-cell md-label="" class="actionsColumn">
                                        <md-switch v-model="item.active" @change="doDeleteNumero(item.numero_id)"
                                            class="md-primary"></md-switch>
                                    </md-table-cell>
                                    <md-table-cell md-label="Id" md-sort-by="numero_id" v-if="false">
                                        {{ item.numero_id }}
                                    </md-table-cell>
                                    <md-table-cell md-label="Cadastre" md-sort-by="numero_cadastre">
                                        {{ item.numero_cadastre }}
                                    </md-table-cell>
                                    <md-table-cell md-label="Type" md-sort-by="numero_type">{{ item.numero_type }}
                                    </md-table-cell>
                                    <md-table-cell md-label="Numéro" md-sort-by="numero">{{ item.numero }}
                                    </md-table-cell>
                                    <md-table-cell md-label="Suffixe/Unité" md-sort-by="numero_suffixe">
                                        {{ item.numero_suffixe }}
                                    </md-table-cell>
                                    <md-table-cell md-label="Etat" md-sort-by="numero_etat">{{ item.numero_etat }}
                                    </md-table-cell>
                                    <!-- <md-table-cell md-label="" class="actionsColumn">
                                        <md-button class="md-icon-button md-primary" v-on:click="doOpenNumero(item.id)">
                                            <md-icon>open_in_new</md-icon>
                                        </md-button>
                                    </md-table-cell> -->
                                </md-table-row>
                            </md-table>
                        </div>
                        <div v-else>
                            <i>Aucun numéro</i>
                        </div>
                    </md-card-content>
                </md-card>
            </md-card-expand-content>
        </md-card-expand>
    </md-card>

    <!-- Réservation de numéros -->
    <ReservationNumeros ref="form" />

</div>