.numerosAffaire {
    width: 100%;
    float: left;
}

.numerosAffaire .actionsColumn {
    width: 150px !important;
    min-width: 150px !important;
}

.numerosAffaire .md-table {
    width: 100%;
    margin: auto;
}

.numerosAffaire .newNumerosBtn {
    right: 25px;
    position: absolute;
}

.numerosAffaire .halfLeft {
    position: relative;
    width: 49.7%;
    float: left;
}

.numerosAffaire .halfRight {
    position: relative;
    width: 49.7%;
    float: right;
}
