<div class="numerosAffaire">

    <md-card>
        <md-card-header>
            <div class="md-title">
                <md-card-expand-trigger>
                    <md-button class="md-icon-button expandCollapseBtn">
                        <md-icon>keyboard_arrow_down</md-icon>
                    </md-button>
                </md-card-expand-trigger>
                Immeubles, numéros MO et balance
            </div>
        </md-card-header>

        <md-card-expand>
            <md-card-expand-content>
                <md-card-content>
                    
                    <div class="md-layout md-gutter">
                    <!-- NUMEROS VALIDES CONCERNES (anciens numéros) -->
                        <div class="md-layout-item md-size-45" v-if="show.numeros_references_card">
                    
                            <md-card>
                                <md-card-header>
                                    <div class="justifyTitleBtn">
                                        <div class="md-title">Immeubles / biens-fonds </div>
                                        <md-button class="md-primary" v-on:click="callOpenReferenceDialog" v-if="permission.editNumerosReferencesAllowed && permission.editAffaireAllowed">Référencer un bien-fonds</md-button>
                                    </div>
                                </md-card-header>

                                <!-- Tableau des numéros concernés par l'affaire -->
                                <md-card-content>
                                    <div v-if="affaire_numeros_anciens[0]">
                                        <md-table md-height="40vh" v-model="affaire_numeros_anciens" md-sort="id" md-sort-order="desc" md-fixed-header>
                                            <md-table-row slot="md-table-row" slot-scope="{ item }" v-bind:class="{ disabledNum: !item.affaire_numero_actif }">
                                                <md-table-cell md-label="Id" md-sort-by="numero_id" v-if="false">
                                                    {{ item.numero_id }}
                                                </md-table-cell>
                                                <md-table-cell md-label="Cadastre" md-sort-by="numero_cadastre">
                                                    {{ item.numero_cadastre }}
                                                </md-table-cell>
                                                <md-table-cell md-label="Numéro" md-sort-by="numero" md-numeric>{{ item.numero }}<span v-if="item.numero_suffixe"> / {{ item.numero_suffixe }}</span>
                                                </md-table-cell>
                                                <md-table-cell md-label="Etat" md-sort-by="numero_etat">
                                                    {{ item.numero_etat }}
                                                </md-table-cell>
                                                <md-table-cell md-label="Repris par" md-sort-by="affaire_destination_id">    
                                                    <a v-bind:href="item.affaire_destination_href">{{item.affaire_destination_id }}</a>
                                                </md-table-cell>
                                            </md-table-row>
                                        </md-table>
                                    </div>
                                    <div v-else>
                                        <em>Aucun numéro</em>
                                    </div>

                                </md-card-content>
                            </md-card>
                        </div>
                        
                        <!-- NUMEROS RESERVES (nouveaux numéros) -->
                        <div class="md-layout-item md-size-45" v-if="show.numeros_reserves_card">   
                            <md-card>
                                <md-card-header>
                                    <div class="justifyTitleBtn">
                                        <div class="md-title">Immeubles réservés</div>
                                        
                                        <div>
                                            <md-button class="md-primary" @click="doQuittanceNumerosReserves" v-if="affaire_numeros_nouveaux.length > 0">Quittance</md-button>
                                            <md-button class="md-primary" @click="callOpenQuittancePCOPDialog" v-if="permission.editNumerosAllowed && affaire.type_id === typesAffaires_conf.pcop">Quittance PCOP</md-button>
                                            <md-button class="md-primary" @click="callOpenReservationDialog" v-if="permission.editNumerosAllowed && permission.editAffaireAllowed">Réservation</md-button>
                                        </div>
                                    </div>
                                </md-card-header>
                                
                                <md-card-content>
                                    <!-- Tableau des numéros réservés dans l'affaire -->
                                    <div v-if="affaire_numeros_nouveaux[0]">
                                        <md-table md-height="40vh" v-model="affaire_numeros_nouveaux" md-sort="numero"
                                            md-sort-order="asc" md-fixed-header md-dense>
                                            <md-table-row slot="md-table-row" slot-scope="{ item }" v-bind:class="{ disabledNum: !item.affaire_numero_actif || !item.active }">
                                                <md-table-cell md-label="Id" md-sort-by="numero_id" v-if="false">{{ item.numero_id }}</md-table-cell>
                                                <md-table-cell md-label="Cadastre" md-sort-by="numero_cadastre">{{ item.numero_cadastre }}</md-table-cell>
                                                <md-table-cell md-label="Numéro" md-sort-by="numero" md-numeric>{{ item.numero }}<span v-if="item.numero_suffixe"> / {{ item.numero_suffixe }}</span></md-table-cell>
                                                <md-table-cell md-label="Immeuble de base" md-sort-by="numero_base" v-if="show.numeros_reserves_immeuble_base" md-numeric>{{ item.numero_base }} 
                                                    <span v-if="item.numero_base_etat_id === etatNumeros_conf.projet">*</span> 
                                                    <span v-if="item.numero_base_suffixe"> / {{ item.numero_base_suffixe }}</span></md-table-cell>
                                                <md-table-cell md-label="Etat" class="actionsColumn">
                                                    <md-switch v-model="item.active" v-if="permission.editNumerosAllowed && item.affaire_numero_actif && !affaire.date_cloture && [typesAffaires_conf.ppe, typesAffaires_conf.modification_ppe].includes(affaire.type_id)"
                                                        @change="onDeleteReserveNumero(item.numero_id)"
                                                        class="md-primary md-dense">
                                                    </md-switch><span v-if="[typesAffaires_conf.ppe, typesAffaires_conf.modification_ppe].includes(affaire.type_id)"> (</span>{{ item.numero_etat }}<span v-if="[typesAffaires_conf.ppe, typesAffaires_conf.modification_ppe].includes(affaire.type_id)">)</span>
                                                </md-table-cell>
                                                <md-table-cell md-label="Repris par" md-sort-by="affaire_destination_id"><a v-bind:href="item.affaire_destination_href">{{item.affaire_destination_id }}</a></md-table-cell>
                                                <md-table-cell md-label="Mat diff" class="actionsColumn" v-if="typesAffaires_conf.mutation === affaire.type_id || affaire.type_id === typesAffaires_conf.modification_mutation">
                                                    <!-- Si le numéro est différé -->
                                                    <div v-if="item.numero_diff_entree && item.numero_diff_sortie === null && editMatDiffAllowed && item.affaire_numero_actif">
                                                        <md-button v-if="item.numero_type_id===types_numeros.bf"  @click="confirmCreateDiffererNumero(item, 'sortie')" 
                                                            class="md-accent md-raised md-icon-button md-dense" title="Retirer la mention Mat Diff du BF (le BF est matérialisé)">
                                                            <md-icon>access_time</md-icon>
                                                        </md-button>
                                                    </div>
                                                    <!-- Si le numéro n'est pas encore différé -->
                                                    <div v-if="item.numero_diff_entree === null && item.numero_diff_sortie === null && editMatDiffAllowed && item.affaire_numero_actif && item.active">
                                                        <md-button v-if="item.numero_type_id===types_numeros.bf"  title="Différer la matérialisation du BF"
                                                            class="md-primary md-icon-button md-dense" @click="confirmCreateDiffererNumero(item, 'entree')">
                                                            <md-icon>access_time</md-icon>
                                                        </md-button>
                                                    </div>
                                                </md-table-cell>
                                            </md-table-row>
                                        </md-table>
                                    </div>
                                    <div v-else>
                                        <em>Aucun numéro</em>
                                    </div>
                                    
                                </md-card-content>
                            </md-card>
        
            
                        </div>
                    </div>
                    
                    
                    <div class="md-layout md-gutter">    
                        <div class="md-layout-item md-size-60" v-if="show.reservation_numeros_mo">
                            
                            <!-- Numéros de la MO -->
                            <ReservationNumerosMO :affaire="affaire" :types_numeros="types_numeros" :permission="permission"></ReservationNumerosMO>
                            
                        </div>
                    </div>
                    
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item" v-if="show.balance">
                            <!-- Balance des biens-fonds -->
                            <!-- <Balance :affaire_numeros_all="affaire_numeros_all" :affaire="affaire" /> -->
                            <BalanceFromFile :affaire_numeros_all="affaire_numeros_all" :affaire="affaire" />
                        </div>    
                    </div>    
                    
                    </md-card-content>
            </md-card-expand-content>
        </md-card-expand>
    </md-card>

    <!-- Référence de numéros -->
    <ReferenceNumeros ref="formReference" />
    <!-- Réservation de numéros -->
    <ReservationNumeros ref="formReservation"
                        :affaire="affaire" 
                        :typesAffaires_conf="typesAffaires_conf"
                        :types_numeros="types_numeros" />
    <!-- Quittance pour les numéros de parts de copropriété réservés -->
    <QuittancePCOP :affaire="affaire" 
                   :affaire_numeros_anciens="affaire_numeros_anciens" 
                   :affaire_numeros_nouveaux="affaire_numeros_nouveaux"
                   ref="formQuittancePCOP"/>

    <!-- Dialog de confirmation d'entrée d'un numéro réservé en matérialisation différée -->
    <md-dialog-confirm
        :md-active.sync="confirmDialog.show"
        :md-title="confirmDialog.title"
        :md-content="confirmDialog.content"
        md-confirm-text="Confirmer"
        md-cancel-text="Annuler"
        @md-cancel="confirmDialog.show=false"
        @md-confirm="confirmDialog.onConfirm" />

    <md-dialog-alert
        :md-active.sync="showAlertMatDiffDialog"
        md-title="Opération non autorisée"
        md-content="L'affaire doit avoir le statut 'envoyé' pour supprimer la mention 'mat diff' des numéros différés."
        md-confirm-text="Ok" />

</div>