<div class="header">
    <md-card>  
        <md-card-content>          
            <img class="logo" alt="ne.ch" src="@/assets/logo.png">
            <h2>Infolica</h2>
            <h2 style="color: rgb(255, 51, 0);"><md-icon class="md-accent">warning</md-icon> INSTANCE DE TEST <md-icon class="md-accent">warning</md-icon></h2>

            <nav class="menu" v-if="$route.name !== 'Login'">
              <md-menu md-align-trigger>
                  <md-button md-menu-trigger v-on:click="goTo('Cockpit')">Cockpit</md-button>
              </md-menu>

              <md-menu md-align-trigger>
                  <md-button md-menu-trigger v-on:click="goTo('Affaires')">Affaires</md-button>
              </md-menu>
            
              <md-menu md-align-trigger>
                <md-button md-menu-trigger v-on:click="goTo('Numeros')">Numéros</md-button>
              </md-menu>
            
              <md-menu md-align-trigger>
                <md-button md-menu-trigger v-on:click="goTo('Clients')">Clients</md-button>
              </md-menu>

              <md-menu md-align-trigger>
                <md-button md-menu-trigger v-on:click="goTo('Operateurs')">Opérateurs</md-button>
              </md-menu>
            
              <md-menu md-align-trigger>
                <md-button md-menu-trigger v-on:click="goTo('About')">à propos</md-button>
              </md-menu>              
            </nav>           

            <div class="user" v-if="$route.name !== 'Login'">
              <em class="material-icons md-light">account_circle</em>
              <span class="userName">{{loggedUserName}}</span>
              <em class="material-icons md-light" v-on:click="callLogout" title="Déconnexion">exit_to_app</em>
            </div>
        </md-card-content>
      </md-card>
</div>