.header{
    height: 40px;
    width: 100%;
    float: left;    
}

.header .md-card.md-theme-default{
    height: 40px;
    background-color: #1e6259;
}

.header .md-card-content{
    padding: 0 10px;
}

.header .logo{
    height: 40px;
    float: left;
}

.header h2{
    color:#FFFFFF;
    float: left;
    margin: 10px;
}

.header .menu{
    width: 570px;
    margin: 0 auto;
    
}

.header .menu .md-menu .md-button{
    height: 40px;
    color:#FFFFFF /*#ff6358*/;
}

.header  .user{
    position: absolute;
    right: 10px;
    top: 8px;
}

.header em{
    vertical-align: middle !important;
}

.header .user span{
    color: #FFFFFF;
    margin: 0 10px;
    
}

.header  .user .userName{
    font-weight: bold;
}

.header  .user em {
    cursor: pointer;
}
