<div class="affaireRemarques">
    <!-- Results Header -->
    <md-card-header>
        <div class="md-title">Remarques</div>
    </md-card-header>

    <md-card-content>
        <div v-if="affaire_remarques[0]">
            <md-table v-model="affaire_remarques" md-sort="date" md-sort-order="desc">
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="Opérateur" md-sort-by="nom">{{ item.prenom }} {{ item.nom }}
                    </md-table-cell>
                    <md-table-cell md-label="Date" md-sort-by="date">{{ item.date }}</md-table-cell>
                    <md-table-cell md-label="Remarque" md-sort-by="remarque">{{ item.remarque }}</md-table-cell>
                </md-table-row>
            </md-table>
        </div>
        <div v-else>
            <i>Aucune remarque</i>
        </div>
    </md-card-content>
</div>