.suivi {
    width: 100%;
    float: left;
}

.suivi .md-table {
    width: fit-content;
}

.suivi .newEtapeBtn {
    right: 25px;
    position: absolute;
}

.affaire_suivi_prio2 {
    font-style: italic;
    background-color: rgba(215, 241, 219, 0.5);
}
