<div class="suivi">
    <md-card>
        <!-- Results Header -->
        <md-card-header>
            <div class="md-title">
                <md-card-expand-trigger>
                    <md-button class="md-icon-button expandCollapseBtn">
                        <md-icon>keyboard_arrow_down</md-icon>
                    </md-button>
                </md-card-expand-trigger>
                Suivi de l'affaire
            </div>
        </md-card-header>

        <md-card-expand>
            <md-card-expand-content>

                <md-card-content>
                    <div v-if="affaire_suivi[0]">
                        <div>
                            <div style="float: left;">
                                <md-button class="md-primary" style="min-width: min-content;" title="Recharger le suivi de l'affaire" @click="searchAffaireSuivi">
                                    <md-icon>refresh</md-icon> Recharger la table
                                </md-button>
                            </div>

                            <div style="float: left;">
                                <md-checkbox v-model="cb_showDetail" @change="updateAffaireSuiviShowList()">Afficher le détail</md-checkbox>
                            </div>
                        </div>

                        <div style="clear: left;">
                            <md-table  md-height="100%" v-model="affaire_suivi" md-sort="next_datetime_sort" md-sort-order="desc" md-card>
                                <md-table-row slot="md-table-row" slot-scope="{ item }" v-bind:class="{ affaire_suivi_prio2: item.etape_priorite == 2 }">
                                    <md-table-cell md-label="Étape" style="min-width: 200px !important;">{{ item.etape }}</md-table-cell>
                                    <md-table-cell md-label="Réalisée par" style="min-width: 200px !important;">{{ item.next_operateur_prenom }} {{ item.next_operateur_nom }}</md-table-cell>
                                    <md-table-cell md-label="Réalisation" md-sort-by="next_datetime_sort" style="min-width: 250px !important;">{{ item.realisation_period_txt }}</md-table-cell>
                                    <md-table-cell md-label="Remarque" style="min-width: 800px !important;">{{ item.next_remarque }}</md-table-cell>
                                </md-table-row>
                            </md-table>
                        </div>
                    </div>
                    <div v-else>
                        <em>Aucune étape</em>
                    </div>


                </md-card-content>
            </md-card-expand-content>
        </md-card-expand>
    </md-card>
</div>