<div class="etape">

    <div class="md-layout md-gutter" style="width: 96%;">
        <div class="md-layout-item md-size-100">
            <p style="display: flex; align-items: flex-end; margin-top: 0px;">
                Étape : 
                <md-field style="width: 350px; margin-top: 0px; margin-bottom: -5px; margin-left: 10px;"><md-input v-model="affaire.etape" readonly></md-input></md-field>
                <md-button @click="openNewStateDialog"
                            class="md-elevation-3 md-dense" 
                            style="min-width: 40px; margin-bottom: -5px;" 
                            title="Mettre à jour"
                            v-if="affaire.etape_id !== etapes_affaire_conf.fin_processus || isAdmin">
                    <md-icon>double_arrow</md-icon>
                </md-button>
            </p>
        </div>
    </div>
  

    <!-- Dialog pour la création de nouvelle étape dans l'affaire -->
    <md-dialog :md-active.sync="etapeAffaire.showDialog" style="z-index: 6; margin: auto; width: 900px;">
        <md-dialog-title>Nouvelle étape</md-dialog-title>

        <md-dialog-content>
            <div class="md-layout md-gutter md-alignment-top-space-between">
                <div class="md-layout-item md-size-45">
                    <!-- Nom de l'étape en cours -->
                    <md-field>
                        <label>Etape en cours</label>
                        <md-input v-model="affaire.etape" readonly></md-input>
                    </md-field>
                </div>

                <h3 style="margin-top: 24px">=></h3>

                <div class="md-layout-item md-size-45">
                    <!-- Nom de la prochaine étape -->
                    <md-autocomplete v-model="etapeAffaire.prochaine" :md-options="affaireEtapes" md-dense required @md-selected="onSelectNextStep">
                        <label>Prochaine étape</label>
                    </md-autocomplete>
                </div>

                <div class="md-layout-item md-size-45" v-if="etapeAffaire.prochaine && etapeAffaire.prochaine.id && etapeAffaire.prochaine.id === etapes_affaire_conf.travaux_chef_equipe">
                    <!-- Sélection de l'opérateur -->
                    <md-field>
                        <label>Opérateur·rice</label>
                        <md-select md-dense required v-model="etapeAffaire.chef_equipe_id">
                            <md-option v-for="item in chefs_equipe_list" v-bind:key="item.id" v-bind:value="item.id" >{{ item.nom }}</md-option>
                        </md-select>
                    </md-field>
                </div>

                <div class="md-layout-item md-size-100">
                    <md-field>
                        <label>Remarques</label>
                        <md-textarea v-model="etapeAffaire.remarque" md-autogrow></md-textarea>
                    </md-field>
                </div>

                <div v-if="joursHorsSGRF.show" class="md-layout-item md-size-45">
                    <md-field :class="getValidationClass('nb_jours')">
                        <label>Temps passé hors SGRF [jours]</label>
                        <md-input v-model="joursHorsSGRF.nb_jours" style="text-align: center;" @focus="$event.target.select()" onkeypress="return /[0-9]|[.]/g.test(event.key)"></md-input>
                        <span class="md-error" v-if="!$v.joursHorsSGRF.nb_jours.maxValue">La période hors SGRF ne peut pas excéder celle de l'étape en cours.</span>
                    </md-field>
                </div>
                <div v-if="joursHorsSGRF.show" class="md-layout-item md-size-55">
                    <p style="margin-top: 8px; margin-bottom: 24px; padding-top: 16px;">
                        Dans cette étape depuis {{ etapeAffaire.nb_jours_etape }} jour{{ etapeAffaire.nb_jours_etape > 1? 's': '' }}
                    </p>
                </div>
                
                <div class="md-layout-item"
                    v-if="affaire.type_id === typesAffaires_conf.art35 && affaire.etape_id === etapes_affaire_conf.travaux_chef_equipe">
                    <h3>Sélectionner le type d'article 35</h3>
                    <md-radio v-model="art35Radio" value="Affaire avec changement de surface de biens-fonds">Affaire avec changement de surface de biens-fonds</md-radio>
                    <md-radio v-model="art35Radio" value="Affaire avec changement de surface dans ses natures">Affaire avec changement de surface dans ses natures</md-radio>
                    <md-radio v-model="art35Radio" value="Affaire sans changement de l’état descriptif">Affaire sans changement de l’état descriptif</md-radio>
                </div>

                <div class="md-layout md-alignment-center-center" v-if="updateAffaireDate.show">
                    <md-checkbox v-model="updateAffaireDate.value">{{ updateAffaireDate.text }}</md-checkbox>
                </div>
            </div>

            <div v-if="controleEtape.length > 0" >
                <md-divider/></md-divider>

                <md-table v-model="controleEtape">
                    <md-table-toolbar>
                        <h1 class="md-title">Contrôles</h1>
                    </md-table-toolbar>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Intitulé" >{{ item.detail }}</md-table-cell>
                        <md-table-cell md-label="Statut"><md-icon class="md-size-1x" :style="'color: ' + item.icon_color + ' ;'" :title="item.icon_title">{{ item.icon }}</md-icon></md-table-cell>
                    </md-table-row>
                </md-table>
            </div>

            <div style="float: right;">
                <md-button class="md-accent" @click="etapeAffaire.showDialog = false">Annuler</md-button>
                <md-button class="md-primary" @click="validateForm" :disabled="!allowSaveNewStep">Enregistrer</md-button>
            </div>
        </md-dialog-content>
    </md-dialog>


    <!-- Cloture affaire -->
    <ClotureAffaire ref="clotureAffaire" :affaire="affaire" />
</div>
