<div class="etape">

    <div class="md-layout md-gutter" style="width: 96%;">
        <div class="md-layout-item md-size-100">
            <p style="display: flex; align-items: flex-end; margin-top: 0px;">
                Étape :
                <md-field style="width: 350px; margin-top: 0px; margin-bottom: -5px; margin-left: 10px;"><md-input v-model="affaire.etape" readonly></md-input></md-field>
                <md-button @click="openNewStateDialog"
                            class="md-elevation-3 md-dense"
                            style="min-width: 40px; margin-bottom: -5px;"
                            title="Mettre à jour"
                            v-if="affaire.etape_id !== etapes_affaire_conf.fin_processus && permission.editAffaireEtapeAllowed || isAdmin">
                    <md-icon>double_arrow</md-icon>
                </md-button>
            </p>
        </div>
    </div>


    <!-- Dialog pour la création de nouvelle étape dans l'affaire -->
    <md-dialog :md-active.sync="etapeAffaire.showDialog" class="etapeDialog">
        <md-dialog-title>Nouvelle étape</md-dialog-title>

        <md-dialog-content>
            <div class="md-layout md-gutter md-alignment-top-space-between">
                <div class="md-layout-item md-size-100">

                    <NewStepSetter
                        :affaire_id="affaire.id"
                        @new-step-selected="setNewStepId"
                        @next-step-authorization="getNextStepAuthorization" />

                </div>
                <div class="md-layout-item md-size-45" v-if="etapeAffaire.prochaine_id === etapes_affaire_conf.travaux_chef_equipe">
                    <!-- Sélection de l'opérateur -->
                    <md-field>
                        <label>Opérateur·rice</label>
                        <md-select md-dense required v-model="etapeAffaire.chef_equipe_id">
                            <md-option v-for="item in chefs_equipe_list" v-bind:key="item.id" v-bind:value="item.id" >{{ item.nom }}</md-option>
                        </md-select>
                    </md-field>
                </div>

                <div class="md-layout-item md-size-100">
                    <md-field>
                        <label>Remarques</label>
                        <md-textarea v-model="etapeAffaire.remarque" md-autogrow></md-textarea>
                    </md-field>
                </div>


                <div v-if="joursHorsSGRF.enabled" class="md-layout-item md-size-100">
                    <md-checkbox v-model="joursHorsSGRF.show" class="md-primary">Correction: ajouter une période chez le client</md-checkbox>

                    <div v-if="joursHorsSGRF.show">

                        <DateRangePicker
                            :dateperiod_start="dateperiod_start"
                            :showPeriodInfo="true"
                            ref="DateRangePicker"/>
                    </div>
                </div>

                <div class="md-layout-item"
                    v-if="affaire.type_id === typesAffaires_conf.art35 && affaire.etape_id === etapes_affaire_conf.travaux_chef_equipe">
                    <h3>Sélectionner le type d'article 35</h3>
                    <md-radio v-model="art35Radio" value="Affaire avec changement de surface de biens-fonds">Affaire avec changement de surface de biens-fonds</md-radio>
                    <md-radio v-model="art35Radio" value="Affaire avec changement de surface dans ses natures">Affaire avec changement de surface dans ses natures</md-radio>
                    <md-radio v-model="art35Radio" value="Affaire sans changement de l’état descriptif">Affaire sans changement de l’état descriptif</md-radio>
                </div>

                <div class="md-layout md-alignment-center-center" v-if="updateAffaireDate.show">
                    <md-checkbox v-model="updateAffaireDate.value">{{ updateAffaireDate.text }}</md-checkbox>
                </div>
            </div>

            <div v-if="controleEtape.length > 0" >
                <md-divider/></md-divider>

                <md-table v-model="controleEtape">
                    <md-table-toolbar>
                        <h1 class="md-title">Contrôles</h1>
                    </md-table-toolbar>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Intitulé" >{{ item.detail }}</md-table-cell>
                        <md-table-cell md-label="Statut"><md-icon class="md-size-1x" :style="'color: ' + item.icon_color + ' ;'" :title="item.icon_title">{{ item.icon }}</md-icon></md-table-cell>
                    </md-table-row>
                </md-table>
            </div>

            <div style="float: right;">
                <md-button class="md-accent" @click="etapeAffaire.showDialog = false">Annuler</md-button>
                <md-button class="md-primary" @click="updateAffaireEtape" :disabled="!(allowSaveNewStep.ctrl_etape || allowSaveNewStep.logique_processus)">Enregistrer</md-button>
            </div>
        </md-dialog-content>
    </md-dialog>


    <!-- Cloture affaire -->
    <ClotureAffaire ref="clotureAffaire" :affaire="affaire" />
</div>
