<div class="etape">

    <div class="md-layout md-gutter" style="width: 96%;">
        <div class="md-layout-item md-size-100">
            <p style="display: flex; align-items: flex-end; margin-top: 0px;">
                Étape : 
                <md-field style="width: 350px; margin-top: 0px; margin-bottom: -5px; margin-left: 10px;"><md-input v-model="affaire.etape" readonly></md-input></md-field>
                <md-button @click="openNewStateDialog"
                            class="md-elevation-3 md-dense" 
                            style="min-width: 40px; margin-bottom: -5px;" 
                            title="Mettre à jour"
                            v-if="affaire.etape_id !== etapes_affaire_conf.fin_processus || isAdmin">
                    <md-icon>double_arrow</md-icon>
                </md-button>
            </p>
        </div>
    </div>
  

    <!-- Dialog pour la création de nouvelle étape dans l'affaire -->
    <md-dialog :md-active.sync="etapeAffaire.showDialog" style="z-index: 6; margin: auto; width: 900px;">
        <md-dialog-title>Nouvelle étape</md-dialog-title>

        <md-dialog-content>
            <div class="md-layout md-gutter md-alignment-top-space-between">
                <div class="md-layout-item md-size-45">
                    <!-- Nom de l'étape en cours -->
                    <md-field>
                        <label>Etape en cours</label>
                        <md-input v-model="affaire.etape" readonly></md-input>
                    </md-field>
                </div>

                <h3 style="margin-top: 24px">=></h3>

                <div class="md-layout-item md-size-45">
                    <!-- Nom de la prochaine étape -->
                    <md-autocomplete v-model="etapeAffaire.prochaine" :md-options="affaireEtapes" md-dense required @md-selected="onSelectNextStep">
                        <label>Prochaine étape</label>
                    </md-autocomplete>
                </div>

                <div class="md-layout-item md-size-45" v-if="etapeAffaire.prochaine && etapeAffaire.prochaine.id && etapeAffaire.prochaine.id === etapes_affaire_conf.travaux_chef_equipe">
                    <!-- Sélection de l'opérateur -->
                    <md-field>
                        <label>Opérateur·rice</label>
                        <md-select md-dense required v-model="etapeAffaire.chef_equipe_id">
                            <md-option v-for="item in chefs_equipe_list" v-bind:key="item.id" v-bind:value="item.id" >{{ item.nom }}</md-option>
                        </md-select>
                    </md-field>
                </div>

                <div class="md-layout-item md-size-100">
                    <md-field>
                        <label>Remarques</label>
                        <md-textarea v-model="etapeAffaire.remarque" md-autogrow></md-textarea>
                    </md-field>
                </div>

                <div class="md-layout md-alignment-center-center" v-if="updateAffaireDate.show">
                    <md-checkbox v-model="updateAffaireDate.value">{{ updateAffaireDate.text }}</md-checkbox>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-accent" @click="etapeAffaire.showDialog = false">Annuler</md-button>
            <md-button class="md-primary" @click="updateAffaireEtape">Enregistrer</md-button>
        </md-dialog-actions>
    </md-dialog>


    <!-- Cloture affaire -->
    <ClotureAffaire ref="clotureAffaire" :affaire="affaire" />
</div>
