<div class="clients">

    <md-toolbar class="md-card">
        <div class="md-title" style="font-weight: 700;">Clients</div>
        <md-button class="md-raised md-accent newClientBtn" @click="$router.push({name: 'ClientsNew'})">Nouveau client</md-button>
    </md-toolbar>

   <!-- Search -->
   <md-card>
       <!-- Search Header -->
       <md-card-header>
           <div class="md-title">Recherche</div>
       </md-card-header>

       <md-card-expand-trigger>
         <md-button class="md-icon-button expandCollapseBtn">
             <md-icon>keyboard_arrow_down</md-icon>
         </md-button>
      </md-card-expand-trigger>

       <!-- Search Content -->
       <md-card-expand>
           <md-card-expand-content>
               <md-card-content>
                   <div class="md-layout md-gutter">
                       <div class="md-layout-item md-small-size-30">
                           <md-field>
                               <label for="prenom">Prénom</label>
                               <md-input name="prenom" id="prenom" v-model="search.prenom" />
                           </md-field>
                       </div>

                       <div class="md-layout-item md-small-size-30">
                           <md-field>
                               <label for="nom">Nom</label>
                               <md-input name="nom" id="nom" v-model="search.nom" />
                           </md-field>
                       </div>

                       <div class="md-layout-item md-small-size-30">
                           <md-field>
                               <label for="entreprise">Entreprise</label>
                               <md-input name="entreprise" id="entreprise" v-model="search.entreprise" />
                           </md-field>
                       </div>
                   </div>

                   <div class="md-layout md-gutter">
                       <div class="md-layout-item md-small-size-30">
                           <md-field>
                               <label for="adresse">Adresse</label>
                               <md-input name="adresse" id="adresse" v-model="search.adresse" />
                           </md-field>
                       </div>

                       <div class="md-layout-item md-small-size-30">
                           <md-field>
                               <label for="localite">Localité</label>
                               <md-input type="email" name="localite" id="localite" v-model="search.localite" />
                           </md-field>
                       </div>

                       <div class="md-layout-item md-small-size-30">
                           <md-field>
                               <label for="mail">Email</label>
                               <md-input type="email" name="mail" id="mail" v-model="search.mail" />
                           </md-field>
                       </div>
                   </div>
                   <!-- Search Actions -->
                  <md-card-actions>
                     <md-button class="md-raised" v-bind:disabled="!search.nom && !search.prenom && !search.entreprise && !search.adresse && !search.localite && !search.mail" v-on:click="clearForm">Réinitialiser</md-button>
                     <md-button class="md-raised md-primary" v-on:click="searchClients">Rechercher</md-button>
                  </md-card-actions>
               </md-card-content>              
           </md-card-expand-content>
       </md-card-expand>
   </md-card>

   </br>

   <!-- Results -->
   <div class="clientsResults">

       <md-card>
           <!-- Results Header -->
           <md-card-header>
               <div class="md-title">Résultats</div>
           </md-card-header>

           <!-- Results Content -->
           <md-card-content>
               <md-table v-model="clients" md-sort="name" md-sort-order="asc">
                   <md-table-row slot="md-table-row" slot-scope="{ item }">
                       <md-table-cell md-label="Id" md-sort-by="id" v-if="false">{{ item.id }}</md-table-cell>
                       <md-table-cell md-label="Entreprise" md-sort-by="entreprise">{{ item.entreprise }}</md-table-cell>
                       <md-table-cell md-label="Titre" md-sort-by="titre">{{ item.titre }}</md-table-cell>
                       <md-table-cell md-label="Prénom" md-sort-by="prenom">{{ item.prenom }}</md-table-cell>
                       <md-table-cell md-label="Nom" md-sort-by="nom">{{ item.nom }}</md-table-cell>
                       <md-table-cell md-label="Par" md-sort-by="represente_par">{{ item.represente_par }}</md-table-cell>
                       <md-table-cell md-label="Adresse">{{ item.adresse }}</md-table-cell>
                       <md-table-cell md-label="NPA">{{ item.npa }}</md-table-cell>
                       <md-table-cell md-label="Localité" md-sort-by="">{{ item.localite }}</md-table-cell>
                       <md-table-cell md-label="Case postale">{{ item.case_postale }}</md-table-cell>
                       <md-table-cell md-label="Tél.Fixe">{{ item.tel_fixe }}</md-table-cell>
                       <md-table-cell md-label="Fax">{{ item.fax }}</md-table-cell>
                       <md-table-cell md-label="Tél.Portable">{{ item.tel_portable }}</md-table-cell>
                       <md-table-cell md-label="Email">{{ item.mail }}</md-table-cell>
                       <md-table-cell md-label="Actions" class="actionsColumn">
                        <md-button class="md-icon-button md-raised md-primary" v-on:click="callEditClient(item.id)">
                           <md-icon>edit</md-icon>
                         </md-button>
                   
                         <md-button class="md-icon-button md-raised md-accent" v-on:click="callDeleteClient(item.id, item.nom, item.prenom, item.entreprise)">
                           <md-icon>delete</md-icon>
                         </md-button>
                       </md-table-cell>
                   </md-table-row>
               </md-table>
           </md-card-content>
           </md-card-content>
       </md-card>
   </div>

   <div>
    <md-dialog-confirm
      :md-active.sync="deleteClientActive"
      md-title="Supprimer le client"
      :md-content="deleteMessage"
      md-confirm-text="Confirmer"
      md-cancel-text="Annuler"
      @md-confirm="onConfirmDelete" 
      @md-cancel="onCancelDelete"/>    
  </div>
</div>