.clients{
    width: 100%;
    float: left;
}

.clients .actionsColumn{
    width: 150px !important;
    min-width: 150px !important;
}

.clients .expandCollapseBtn{
    position: absolute;
    left: 200px;
    top: 22px;
}

