.clients{
    width: 100%;
    float: left;
    overflow: auto;
}


.clients .actionsColumn{
    width: 150px !important;
    min-width: 150px !important;
}

/*
.clients .clientsResults .md-table{
    overflow: hidden;
}

.clients .clientsResults .md-table-content{
    width: 100%;
}*/

