
body{
  height: 100% !important;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%; 
  }

  #app .material-icons.md-light { color: #FFFFFF; }
