body {
    height: 100% !important;
    overflow: hidden;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
}

#app .material-icons.md-light {
    color: #FFFFFF;
}

.md-card .md-title {
    font-size: 20px !important;
}