body {
    height: 100% !important;
    overflow: hidden;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
}

#app .material-icons.md-light {
    color: #FFFFFF;
}


#app .disabledElement{
    pointer-events: none;
}

.md-card .md-title {
    font-size: 20px !important;
}

.md-snackbar{
    background-color: #267F00;
}

.md-card {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 4px;
}

.md-toolbar {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 4px;
}


/* Suppression molette input type number */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}