alembic==1.7.1
docx==0.2.4
docxtpl==0.11.5
GeoAlchemy2==0.9.1
geojson==2.5.0
greenlet==1.1.1
hupper==1.10.3
importlib-metadata==4.8.1
importlib-resources==5.2.2
Jinja2==3.0.1
ldap3==2.9.1
lxml==4.6.5
Mako==1.1.5
MarkupSafe==2.0.1
papyrus==2.4
PasteDeploy==2.1.1
Pillow==9.0.0
plaster==1.0
plaster-pastedeploy==0.7
psycopg2==2.9.1
pyasn1==0.4.8
Pygments==2.10.0
pyramid==2.0
pyramid-debugtoolbar==4.9
pyramid-ldap3==0.4.2
pyramid-mako==1.1.0
pyramid-retry==2.1.1
pyramid-tm==2.4
python-docx==0.8.11
repoze.lru==0.7
Shapely==1.7.1
six==1.16.0
SQLAlchemy==1.4.20
transaction==3.0.1
translationstring==1.4
typing-extensions==3.10.0.2
venusian==3.0.0
waitress==2.0.0
WebOb==1.8.7
zipp==3.5.0
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.6
