<div id="clientSearch" style="display: flex; flex-direction: column;">
    <md-autocomplete :class="getValidationClass('client')"
        id="clientSearchAutocomplete"
        v-model="client"
        :md-options="liste_clients"
        @md-changed="searchClient"
        @md-selected="$emit('update:client_id', $event.id)"
        :title="title"
        md-dense>

        <label>{{ label }}</label>

        <template slot="md-autocomplete-item" slot-scope="{ item }">
            <div class="custom-option">
                <span class="textOverflowEllipsis" :class="{ oldClient: !item.active }" :title="item.nom">{{ item.nom }}</span>
                <div class="detailPastille"><span class="details">{{ item.type_client_nom }}</span></div>
            </div>
        </template>

        <template slot="md-autocomplete-empty" slot-scope="{ term }" v-if="term && term.length > 2">
            Pas de client correspondant à la recherche "{{ term }}". <a @click="openCreateClient" v-if="permission_createClient">Créer le client !</a>
        </template>

        <span class="md-error" v-if="!$v.client.required">{{ validation_error_msg }}</span>
    </md-autocomplete>
    <span class="help-checker-text" v-if="clientRemarque">{{ clientRemarque }}</span>
</div>
