<div class="preavis">
    <md-card>
        <!-- Results Header -->
        <md-card-header class="justifyTitleBtn">
            <div class="md-title">
                <md-card-expand-trigger>
                    <md-button class="md-icon-button expandCollapseBtn"
                        @click.native="showNewPreavisBtn = !showNewPreavisBtn">
                        <md-icon>keyboard_arrow_down</md-icon>
                    </md-button>
                </md-card-expand-trigger>
                Préavis (SCAT, SAGR, Service de l'urbanisme des villes)
            </div>
            <md-button class="md-primary" v-on:click="openPreavisDialog()" v-if="showNewPreavisBtn && !affaireReadonly">Nouveau préavis</md-button>
        </md-card-header>

        <md-card-expand>
            <md-card-expand-content>

                <md-card-content>
                    <div v-if="affaire_preavis[0]" class="md-layout-item md-size-60">
                        <md-table v-model="affaire_preavis" md-sort="id" md-sort-order="desc" md-dense md-card style="width: fit-content;" @md-selected="onSelectTableItem">
                            <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
                                <md-table-cell md-label="id" md-sort-by="id" v-if="false">{{ item.id }}</md-table-cell>
                                <md-table-cell md-label="Service" md-sort-by="service" style="min-width: 100px;"><div v-if="item.unread_remarks > 0"><md-badge :md-content="item.unread_remarks" md-dense><span style="padding-right: 20px;">{{ item.service }}</span></md-badge></div><div v-else>{{ item.service }}</div></md-table-cell>
                                <md-table-cell md-label="Demande" md-sort-by="date_demande" style="min-width: 100px;">{{ item.date_demande | formatDate }}</md-table-cell>
                                <md-table-cell md-label="Réponse" md-sort-by="date_reponse" style="min-width: 100px;">{{ item.date_reponse | formatDate }}</md-table-cell>
                                <md-table-cell md-label="Préavis" md-sort-by="preavis" style="min-width: 100px;">{{ item.preavis }}</md-table-cell>
                                <md-table-cell md-label="Remarque" md-sort-by="remarque"  style="min-width: 1000px;">{{ item.remarque && item.remarque.length>250? item.remarque.substring(0, 250) + "...": item.remarque }}</md-table-cell>
                                <md-table-cell md-label="Actions" style="min-width: 200px;">
                                    <md-button class="md-icon-button md-primary md-dense" v-on:click.prevent.stop="onModifyPreavis(item)" title="Mettre à jour le préavis" v-if="!affaireReadonly">
                                        <md-icon class="md-edit">edit</md-icon>
                                    </md-button>
                                    <md-button v-if="item.date_reponse" class="md-icon-button md-primary md-dense" v-on:click.prevent.stop="onExportPreavisPDF(item)" title="Exporter le préavis dans un PDF">
                                        <md-icon class="md-edit">download</md-icon>
                                    </md-button>
                                </md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>
                    <div v-else>
                        <em>Aucun préavis</em>
                    </div>

                    <md-card style="width: 90%; background-color: lightgray;" v-if="selectedPreavis">
                        <md-card-header>
                            <div class="md-title">En provenance du service externe - {{ selectedPreavis.service }}</div>
                        </md-card-header>
                        <md-card-content>
                            <preavisEditComments :preavis_id="selectedPreavis.id" />
                            <PreavisEditDecision ref="preavisExtDecision" :preavis_id="selectedPreavis.id" :showAddDecision="false"/>
                        </md-card-content>
                    </md-card>


                </md-card-content>
            </md-card-expand-content>
        </md-card-expand>
        
    </md-card>


    <md-dialog :md-active.sync="showPreavisDialog" md-confirm-text="Enregistrer" md-cancel-text="Annuler"
        md-title="Édition de préavis">
        <md-dialog-title>
            <div class="md-layout md-gutter md-alignment-center-space-between">
                <div class="md-layout-item">
                    Édition de préavis
                </div>
                <div>
                    <md-button class="md-primary md-raised" @click="reopenPreavis" v-if="new_preavis.id && new_preavis.etape === 'interne'">Renvoyer le préavis</md-button>
                    <md-button class="md-accent md-raised" @click="deletePreavis(new_preavis.id)" v-if="new_preavis.id && !affaireReadonly">Supprimer</md-button>
                </div>
            </div>
        </md-dialog-title>
        <md-dialog-content>
            
            <div class="md-layout md-gutter">
                <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-autocomplete v-model="new_preavis.service" :md-options="services_liste"
                        :class="getValidationClass('service')" md-dense>
                        <label>Service *</label>
                        <template slot="md-autocomplete-item" slot-scope="{ item }">
                            {{ item.nom }}
                        </template>
                        <span class="md-error" v-if="!$v.new_preavis.service.required">Le service est
                            obligatoire</span>
                    </md-autocomplete>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-datepicker v-model="new_preavis.date_demande" :class="getValidationClass('date_demande')" md-immediately>
                        <label>Date de demande *</label>
                    </md-datepicker>
                    <span class="md-error" v-if="!$v.new_preavis.date_demande.required">La date de demande est
                        obligatoire</span>
                </div>
                <div class="md-layout-item md-size-100" v-if="new_preavis.id === null">
                    <md-field>
                        <label>Remarque (facultatif)</label>
                        <md-textarea v-model="new_preavis.remarque_conversation"></md-textarea>
                    </md-field>
                </div>
            </div>
    
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-accent" @click="onCancelEditPreavis">Annuler</md-button>
            <md-button class="md-primary" @click="onConfirmEditPreavis">Enregistrer</md-button>
    
        </md-dialog-actions>
    </md-dialog>
</div>