<div id="AffairesChezClient">
    <md-card>
        <md-card-header>
            <div class="md-title">
                <md-card-expand-trigger>
                    <md-button class="md-icon-button expandCollapseBtn">
                        <md-icon>keyboard_arrow_down</md-icon>
                    </md-button>
                </md-card-expand-trigger>
                Affaires en attente chez le client
            </div>
        </md-card-header>

        <md-card-expand>
            <md-card-expand-content>
                <md-card-content>
                    <div style="width: 1300px;">
                        <md-table v-model="affaires" md-sort="id" md-sort-order="desc" md-card md-fixed-header>
                            <md-table-toolbar>
                                <div class="md-toolbar-section-start">
                                  <h1 class="md-title">Affaires chez le client</h1>
                                </div>
                                
                                <div class="md-toolbar-section-end">
                                    <md-field style="margin-left: 50px; width: 250px">
                                        <label for="operateur">Type d'affaire</label>
                                        <md-select v-model="selectedTypeAffaire_id" name="type_affaire" id="type_affaire" @md-selected="filterAffaires" md-dense>
                                            <md-option :value="-1">Tous</md-option>
                                            <md-option v-for="item in affaireTypes" :value="item.id">{{ item.nom }}</md-option>
                                        </md-select>
                                    </md-field>
                                    <md-field style="margin-left: 50px; width: 250px">
                                        <label for="operateur">Opérateur·rice</label>
                                        <md-select v-model="selectedOperateur_id" name="operateur" id="operateur" @md-selected="filterAffaires" md-dense>
                                            <md-option :value="-1">Tous</md-option>
                                            <md-option v-for="item in operateurs" :value="item.id">{{ item.prenom_nom }}</md-option>
                                        </md-select>
                                    </md-field>
                                </div>
                              </md-table-toolbar>
                              
                            <md-table-empty-state
                                md-label="Aucune affaire"
                                md-description="Aucune affaire n'est en attente chez le client. Modifier les critères de recherche.">
                            </md-table-empty-state>

                            <md-table-row slot="md-table-row" slot-scope="{ item }">
                                <md-table-cell md-label="Cadastre" md-sort-by="cadastre">{{ item.cadastre }}</md-table-cell>
                                <md-table-cell md-label="Opérateur·rice" md-sort-by="operateur_initiales">{{ item.operateur_initiales }}</md-table-cell>
                                <md-table-cell md-label="Affaire" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
                                <md-table-cell md-label="Type d'affaire" md-sort-by="affaire_type" md-numeric>{{ item.affaire_type }}</md-table-cell>
                                <md-table-cell md-label="Description">{{ item.description }}</md-table-cell>
                                <md-table-cell md-label="Etape" md-sort-by="etape">{{ item.etape }} </md-table-cell>
                                <md-table-cell md-label="Chez le client depuis" md-sort-by="etape_datetime">{{ new Date(item.etape_datetime) | formatDate }} </md-table-cell>
                                <md-table-cell md-label="Consultation">
                                    <md-button class="md-primary md-icon-button" @click="openAffaire(item.id)" title="Consulter/modifier l'affaire">
                                        <md-icon>open_in_new</md-icon>
                                    </md-button>
                                </md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>

                </md-card-content>
            </md-card-expand-content>
        </md-card-expand>

    </md-card>
</div>

