<div class="reservationNumerosMO">
    <md-card>
        <md-card-header class="justifyTitleBtn">
                <div class="md-title">Numéros de la MO</div>
                <md-button class="md-primary" v-if="permission.editNumerosMOAllowed && permission.editAffaireAllowed" @click="showReservationNumerosMODialog = true">Réserver</md-button>
        </md-card-header>

        <md-card-content>
            <div v-if="reservationNumerosMO[0]">
                <md-table md-height="40vh" v-model="reservationNumerosMO" md-sort="cadastre_id" md-sort-order="desc" md-dense md-fixed-header>
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Cadastre" md-sort-by="cadastre">{{ item.cadastre }}</md-table-cell>
                        <md-table-cell md-label="Type" md-sort-by="type">{{ item.type_numero }}</md-table-cell>
                        <md-table-cell md-label="Plan" md-sort-by="plan_id" md-numeric>{{ item.plan_no }}</md-table-cell>
                        <md-table-cell md-label="De" md-sort-by="numero_de" md-numeric>{{ item.numero_de }}</md-table-cell>
                        <md-table-cell md-label="À" md-sort-by="numero_a" md-numeric>{{ item.numero_a }}</md-table-cell>
                        <md-table-cell md-label="Nombre" md-sort-by="nombre" md-numeric>{{ item.nombre }}</md-table-cell>
                        <md-table-cell md-label="Remarque" md-sort-by="remarque">{{ item.remarque }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </div>
            <div v-else>
                <em>Aucune réservation de points de la MO</em>
            </div>
        </md-card-content>
    </md-card>


    <md-dialog :md-active.sync="showReservationNumerosMODialog">
        <md-dialog-title>Réservation de numéros MO</md-dialog-title>
        <md-dialog-content>
            <div class="md-gutter md-layout">
                <div class="md-layout-item md-size-50">
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-size-100">
                            <!-- Cadastre -->
                            <md-autocomplete v-model="form.cadastre"
                                             :md-options="cadastreListe"
                                             @md-changed="changeCadastre"
                                             md-dense
                                             :class="getValidationClass('cadastre')">
                                <label>Cadastre</label>
                                <span class="md-error" v-if="!$v.form.cadastre.required">Sélectionner le cadastre</span>
                            </md-autocomplete>
                        </div>
        
                        <md-divider></md-divider>
        
                        <div class="md-layout-item md-size-100">
                            <!-- Points PFP3 -->
                            <md-field :class="getValidationClass('pfp3')">
                                <label>Nb PFP3</label>
                                <md-input style="text-align: right;" v-model="form.pfp3" @focus="$event.target.select()" type="number" min="0"></md-input>
                                <span class="md-error" v-if="!$v.form.pfp3.required">Combien de numéros faut-il réserver?</span>
                                <span class="md-error" v-if="!$v.form.pfp3.minValue">Réserver au moins un numéro</span>
                            </md-field>
                        </div>
                        <div class="md-layout-item md-size-100">
                            <!-- Points de auxiliaires -->
                            <md-field :class="getValidationClass('paux')">
                                <label>Nb Points auxiliaires</label>
                                <md-input style="text-align: right;" v-model="form.paux" @focus="$event.target.select()" type="number" min="0"></md-input>
                                <span class="md-error" v-if="!$v.form.paux.required">Combien de numéros faut-il réserver?</span>
                                <span class="md-error" v-if="!$v.form.paux.minValue">Réserver au moins un numéro</span>
                            </md-field>
                        </div>
                        <div class="md-layout-item md-size-100">
                            <!-- Points Bâtiments -->
                            <md-field :class="getValidationClass('bat')">
                                <label>Nb Bâtiments</label>
                                <md-input style="text-align: right;" v-model="form.bat" @focus="$event.target.select()" type="number" min="0"></md-input>
                                <span class="md-error" v-if="!$v.form.bat.required">Combien de numéros faut-il réserver?</span>
                                <span class="md-error" v-if="!$v.form.bat.minValue">Réserver au moins un numéro</span>
                            </md-field>
                        </div>
                        <div class="md-layout-item md-size-50">
                            <!-- Points de détail -->
                            <md-autocomplete style="text-align: right;" v-model="form.plan" :md-options="plansMOListe_cadastre" md-dense
                                :class="getValidationClass('plan')">
                                <label>Plan</label>
                                <span class="md-error" v-if="!$v.form.plan.required">Sélectionner le plan</span>
                            </md-autocomplete>
                        </div>
                        <div class="md-layout-item md-size-50">
                            <md-field :class="getValidationClass('pdet')">
                                <label>Nb Points de détail</label>
                                <md-input style="text-align: right;" v-model="form.pdet" @focus="$event.target.select()" type="number" min="0"></md-input>
                                <span class="md-error" v-if="!$v.form.pdet.required">Combien de numéros faut-il réserver?</span>
                                <span class="md-error" v-if="!$v.form.pdet.minValue">Réserver au moins un numéro</span>
                            </md-field>
                        </div>
                    </div>
                </div>

                <!-- Domaines publics -->
                <div class="md-layout-item md-size-50">
                    <md-field>
                        <label>Nb DP</label>
                        <md-input style="text-align: right;" v-model="form.dp" @focus="$event.target.select()" type="number" min="0"></md-input>
                    </md-field>
                    <md-field>
                        <label>Remarques</label>
                        <md-textarea v-model="form.remarque"></md-textarea>
                    </md-field>

                    <p v-if="reservationNumerosMODialog_errorMsg" style="background-color: yellow"><md-icon class="md-accent" style="vertical-align: bottom;">warning</md-icon> {{ reservationNumerosMODialog_errorMsg }}</p>
                    
                    <!-- Boutons annuler / enregistrer -->
                    <div style="  position: absolute; bottom: 8px; right: 16px;">
                        <md-button class="md-accent" @click="resetReservation">Annuler</md-button>
                        <md-button class="md-primary" @click="validationReservation">Enregistrer</md-button>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </md-dialog>


    <!-- Confirmation réservation grand nombre de numéros -->
    <md-dialog-confirm :md-active.sync="alertReservation.show"
        md-title="Confirmation de réservation"
        :md-content="alertReservation.text"
        md-confirm-text="Confirmer"
        md-cancel-text="Annuler"
        @md-cancel="alertReservation.show = false;"
        @md-confirm="alertReservation.show = false; confirmSaveReservation()"
    />


</div>