.balanceFromFile .verticalSpan {
    float: left;
    text-align: center;
    writing-mode: sideways-lr;
    min-width: 25px;
}

.balanceFromFile .md-toolbar {
    min-height: 25px;
}

.cardMenu {
    max-width: 500px !important;
}

.md-dialog {
    z-index: 6 !important;
}