.referenceNumeros {
    width: 80%;
    margin: auto;
}

.referenceNumeros .md-card .simple {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}

.md-dialog {
    z-index: 6;
}

.md-dialog /deep/ .md-dialog-container {
    transform: none;
}
