<div class="referenceNumeros">

    <md-dialog :md-active.sync="showReferenceDialog" md-confirm-text="Enregistrer" md-cancel-text="Annuler"
        md-title="Référencer des numéros" :md-close-on-esc="true" :md-click-outside-to-close="true">

        <md-dialog-title>Référencer des numéros</md-dialog-title>

        <md-dialog-content>
            <md-card class="md-elevation-0 simple">
                <md-card-header>
                    <div class="md-layout md-gutter">
                        <div class="md-title">Rechercher un numéro</div>
                        <div>

                        </div>
                    </div>
                </md-card-header>


                <md-card-content>
                    <div class="md-layout md-gutter">
                        <!-- Cadastre -->
                        <div class="md-layout-item md-size-50">
                            <md-autocomplete v-model="search.cadastre" :md-options="cadastre_liste" :class="getValidationClass('cadastre')">
                                <label>Cadastre</label>
                                <template slot="md-autocomplete-item" scope="{ item }">
                                    {{ item.nom }}
                                </template>
                                <span class="md-error" v-if="!$v.search.cadastre.required">Le cadastre est obligatoire</span>
                            </md-autocomplete>
                        </div>
                        <!-- Numéro -->
                        <div class="md-layout-item md-size-25">
                            <md-field :class="getValidationClass('numero')">
                                <label>Numéro</label>
                                <md-input v-model="search.numero" type="number"></md-input>
                                <span class="md-error" v-if="!$v.search.numero.required">Le numéro est obligatoire</span>
                                
                            </md-field>
                        </div>
                        <!-- SUFFIXE -->
                        <!-- INTEGRER LA VALIDATION -->
                        <div class="md-layout-item md-size-25">
                            <md-field>
                                <label>Unité</label>
                                <md-input v-model="search.suffixe"></md-input>
                            </md-field>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <!-- Type -->
                        <div class="md-layout-item">
                            <md-autocomplete v-model="search.type" :md-options="numeros_types_liste" :class="getValidationClass('type')">
                                <label>Type</label>
                                <template slot="md-autocomplete-item" scope="{ item }">
                                    {{ item.nom }}
                                </template>
                                <span class="md-error" v-if="!$v.search.type.required">Le type est obligatoire</span>
                            </md-autocomplete>
                        </div>
                        <!-- Etat -->
                        <div class="md-layout-item">
                            <md-autocomplete v-model="search.etat" :md-options="numeros_etats_liste" :class="getValidationClass('etat')">
                                <label>Etat</label>
                                <template slot="md-autocomplete-item" scope="{ item }">
                                    {{ item.nom }}
                                </template>
                                <span class="md-error" v-if="!$v.search.etat.required">L'état est obligatoire</span>
                            </md-autocomplete>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout md-alignment-bottom-right">
                            <md-button class="md-primary" v-on:click="initNumerosList">
                                Rechercher
                            </md-button>
                        </div>
                    </div>
                </md-card-content>

                <md-divider />

                <md-card-content>

                    <!-- Afficher le tableau des immeubles si la liste est non nulle -->
                    <div v-if="numeros_liste.length>0">
                        <!-- Table des biens-fonds -->
                        <md-table v-model="numeros_liste" md-sort="numero" md-sort-order="desc" @md-selected="onSelect">
                            <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple"
                                class="md-primary md-raised" md-auto-select>
                                <md-table-cell md-label="Cadastre" md-sort-by="cadastre">
                                    {{ item.cadastre }}
                                </md-table-cell>
                                <md-table-cell md-label="Type" md-sort-by="type_numero">
                                    {{ item.type_numero }}
                                </md-table-cell>
                                <md-table-cell md-label="Numéro" md-sort-by="numero">
                                    {{ item.numero }}
                                </md-table-cell>
                                <md-table-cell md-label="Suffixe/Unité" md-sort-by="suffixe">
                                    {{ item.suffixe }}
                                </md-table-cell>
                                <md-table-cell md-label="État" md-sort-by="etat">
                                    {{ item.etat }}
                                </md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>

                    <!-- Proposer de créer le numéro si le numéro recherché n'existe pas encore dans la base de données -->
                    <div v-else>
                        <p>Aucun numéro correspondant à la receherche.</p>
                        <p>Enregistrer le numéro avec les critères mentionnés dans la base de données?</p>

                        <div class="md-layout md-alignment-bottom-right">
                            <md-button class="md-primary md-raised" v-on:click="validateForm">
                                Créer
                            </md-button>
                        </div>
                    </div>

                </md-card-content>
            </md-card>

            <md-divider />


            <md-dialog-actions>
                <md-button class="md-accent" @click="onCancelReferenceNumeros">Annuler</md-button>
                <md-button class="md-primary" @click="onConfirmReferenceNumeros">Enregistrer</md-button>
            </md-dialog-actions>

        </md-dialog-content>
    </md-dialog>

    <md-snackbar :md-active.sync="success.check">{{ success.txt }}</md-snackbar>
</div>