<div class="infosGenerales">
    <!-- INFORMATIONS GENERALES -->
    <md-card class="mapHeight">
        <md-card-content>
            <div class="md-layout md-gutter ">
                <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-field>
                        <label>Cadastre</label>
                        <md-input v-model="affaire.cadastre" readonly></md-input>
                    </md-field>
                </div>

                <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-field v-if="typeAffaireReadonly || infoGenReadonly">
                        <label>Type</label>
                        <md-input v-model="affaire.type_affaire" readonly></md-input>
                    </md-field>
                    
                    <md-autocomplete v-model="form.typeAffaire" :md-options="typesAffairesListe" required md-dense v-else>
                        <label><strong style="color: blue;">Type</strong></label>
                    </md-autocomplete>
                </div>
            </div>

            <div class="md-layout md-gutter ">
                <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-field>
                        <label>Opérateur·rice</label>
                        <md-input v-model="affaire.technicien" readonly>
                        </md-input>
                    </md-field>
                </div>

                <div class="md-layout-item md-size-25 md-small-size-100">
                    <md-chips @md-click="openAffaire" v-model="affaires_source" md-static>
                        <label>Provient de l'affaire</label>
                    </md-chips>
                </div>
                <div class="md-layout-item md-size-25 md-small-size-100">
                    <md-chips @md-click="openAffaire" v-model="affaires_destination" md-static>
                        <label>Repris par l'affaire</label>
                    </md-chips>
                </div>
            </div>

            <div class="md-layout md-gutter">
                <div class="md-layout-item md-size-100 md-small-size-100">
                    <md-field>
                        <label v-if="infoGenReadonly">Description</label>
                        <label v-else><strong style="color: blue">Description</strong></label>
                        <md-textarea v-model="affaire.nom" :readonly="infoGenReadonly" md-autogrow :required="!infoGenReadonly">
                        </md-textarea>
                    </md-field>
                </div>

                <div class="md-layout-item md-size-100">
                    <md-field>
                        <label v-if="infoGenReadonly">Spécificités de l'affaire</label>
                        <label v-else><strong style="color: blue;">Spécificités de l'affaire</strong></label>
                        <md-textarea v-model="affaire.information" :readonly="infoGenReadonly" md-autogrow></md-textarea>
                    </md-field>
                </div>
            </div>

            <div class="md-layout md-gutter" style="border: 2px dotted red; margin: 0px 0px 15px 0px;" v-if="!infoGenReadonly && !affaireUrgente.disabled">
                <div class="md-layout-item md-medium-size-100 md-size-25">
                    <md-checkbox v-model="affaireUrgente.urgent" style="margin-top: 21px;" :disabled="infoGenReadonly">Affaire urgente</md-checkbox>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-25" v-if="!infoGenReadonly">
                    <md-datepicker v-if="affaireUrgente.urgent" md-immediately style="margin: 0px;" v-model="affaireUrgente.urgent_echeance" @md-closed="onSetUrgentEcheance">
                        <label>Échéance</label>
                    </md-datepicker>
                </div>
                <div v-if="!infoGenReadonly && affaireUrgente.urgent" class="md-layout-item md-medium-size-100 md-size-50">
                    <p style="margin: 5px;">
                        <em>En cliquant sur "Enregistrer", un e-mail automatique sera envoyé au·à la chef·fe de projet, au·à la préposé·e aux servitudes et au·à la coordinateur·rice de projets.</em>
                    </p>
                </div>
            </div>

            <div  v-if="infoGenReadonly">
                <!-- Clients (read-only) -->
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-field>
                            <label>Commandé par</label>
                            <md-textarea v-model="affaire.client_commande_nom_" readonly></md-textarea>
                            <md-button class="md-primary md-icon-button md-dense" v-if="affaire.client_commande_id !== null" title="Consulter/Modifier le client" @click="openClientEditor('client_commande_id')">
                                <md-icon>open_in_new</md-icon>
                            </md-button>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-field>
                            <label>Envoyer à</label>
                            <md-textarea v-model="affaire.client_envoi_nom_" readonly></md-textarea>

                            <ul style="list-style: none; margin: 0px; padding-left: 0px;">
                                <li style="text-align: center;">
                                    <md-button class="md-primary md-icon-button md-dense" v-if="affaire.client_envoi_id !== null" @click="openClientEditor('client_envoi_id')" title="Consulter/Modifier le client" style="display: block">
                                        <md-icon>open_in_new</md-icon>
                                    </md-button>
                                </li>

                                <li style="text-align: center;">
                                    <md-button class="md-primary md-icon-button md-dense" @click="genererBordereau" title="Générer le bordereau" style="display: block;">
                                        <md-icon>save_alt</md-icon>
                                    </md-button>
                                </li>
                            </ul>
                        </md-field>
                    </div>
                </div>

                <div v-if="show.clientFacture">
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-size-50 md-small-size-100">
                            <!-- select pour le client facture à afficher -->
                            <md-field>
                                <label>Client à afficher pour la facture ({{ clientsFacture.selectList.length }})</label>
                                <md-select v-model="clientsFacture.selected_id" md-dense @md-selected="updateClientFactureAdresse">
                                    <md-option v-for="item in clientsFacture.selectList" :key="item.id" :value="item.id">{{ item.nom }}</md-option>
                                </md-select>
                            </md-field>
                        </div>

                        <div class="md-layout-item md-size-50 md-small-size-100">
                            <!-- client facture à afficher -->
                            <md-field>
                                <label>Facturer à</label>
                                <md-textarea v-model="clientsFacture.selected_adress" readonly></md-textarea>
                                <md-button class="md-primary md-icon-button md-dense" v-if="clientsFacture.selected_adress" title="Consulter/Modifier le client" @click="openClientEditor('clientsFacture')">
                                    <md-icon>open_in_new</md-icon>
                                </md-button>
                            </md-field>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Clients (edition) -->
            <div class="md-layout md-gutter" v-else>
                <md-card style="margin: 15px;">
                    <md-card-header>
                        <div class="md-subhead">Commandé par</div>
                    </md-card-header>
                    <md-card-content>
                        <div class="md-layout-item md-size-100 md-small-size-100">
                            <ClientSearch
                                :client_id="form.client_commande_id"
                                @update:client_id="client_id => selectedClient(client_id, 'client_commande')"
                                :initial_client_id="form.client_commande_id"
                                :permission_createClient="permission.editClientAllowed"
                                :old_clients="false"
                                validation_error_msg="Le client qui qui a commandé l'affaire doit être renseigné ici"
                                label="Commandé par" 
                                ref="ref_client_commande"/>
                        </div>
                        <div class="md-layout-item md-size-50 md-small-size-100"  v-if="form.client_commande_type_id === clientTypes_conf.moral">
                            <md-autocomplete v-model="form.client_commande_complement"
                                :md-options="client_moral_personnes.commande"
                                md-dense>
                                <label>Personne de contact</label>
                                <template slot="md-autocomplete-empty" slot-scope="{ term }">
                                    Le contact "{{ term }}" n'existe pas dans la base. <a @click="openCreateContact(form.client_commande_id)">Le créer !</a>
                                </template>
                            </md-autocomplete>
                        </div>
                    </md-card-content>
                </md-card>

                <md-card style="margin: 15px;">
                    <md-card-header>
                        <div class="md-subhead">Envoi</div>
                    </md-card-header>
                    <md-card-content>
                        <div class="md-layout-item md-size-100 md-small-size-100">
                            <ClientSearch
                                :client_id="form.client_envoi_id"
                                @update:client_id="client_id => selectedClient(client_id, 'client_envoi')"
                                :initial_client_id="form.client_envoi_id"
                                :permission_createClient="permission.editClientAllowed"
                                :old_clients="false"
                                validation_error_msg="Le client qui qui a commandé l'affaire doit être renseigné ici"
                                label="Envoyer à" 
                                ref="ref_client_envoi"/>
                        </div>
                        <div class="md-layout-item md-size-50 md-small-size-100" v-if="form.client_envoi_type_id === clientTypes_conf.moral">
                            <md-autocomplete v-model="form.client_envoi_complement"
                                :md-options="client_moral_personnes.envoi"
                                md-dense>
                                <label>À l'attention de...</label>
                                <template slot="md-autocomplete-empty" slot-scope="{ term }">
                                    Le contact "{{ term }}" n'existe pas dans la base. <a @click="openCreateContact(form.client_envoi_id)">Le créer !</a>
                                </template>
                            </md-autocomplete>
                        </div>
                    </md-card-content>
                </md-card>

                <div v-if="show.clientFacture">
                    <md-card style="margin: 15px;">
                        <md-card-header>
                            <div class="md-subhead">Facture</div>
                        </md-card-header>
                        <md-card-content>
                            <md-icon class="md-accent">warning</md-icon> Les clients des factures doivent être édités dans la partie Devis et Factures.
                        </md-card-content>
                    </md-card>
                </div>
            </div>

            <!-- Dates -->
            <div class="md-layout md-gutter">
                <div class="md-layout-item md-size-25 md-small-size-100">
                    <md-field>
                        <label>Date d'ouverture</label>
                        <md-input v-model="affaire.date_ouverture" readonly></md-input>
                    </md-field>
                </div>
                <div class="md-layout-item md-size-25 md-small-size-100">
                    <md-field>
                        <label>Date d'envoi</label>
                        <md-input v-model="affaire.date_envoi" readonly></md-input>
                    </md-field>
                </div>
                <div class="md-layout-item md-size-25 md-small-size-100">
                    <md-field>
                        <label>Date de validation</label>
                        <md-input v-model="affaire.date_validation" readonly></md-input>
                    </md-field>
                </div>
                <div class="md-layout-item md-size-25 md-small-size-100">
                    <md-field>
                        <label>Date de clôture</label>
                        <md-input v-model="affaire.date_cloture" readonly></md-input>
                    </md-field>
                </div>
            </div>

            <div class="md-layout md-gutter">
                <div class="md-layout-item">
                    <div class="md-layout md-alignment-bottom-right">
                        <div v-if="infoGenReadonly">
                            <md-button class="md-elevation-5 md-dense md-primary" v-if="permission.editAffaireAllowed" @click="openEditMode">Modifier
                            </md-button>
                        </div>
                        <div v-else>
                            <md-button class="md-raised md-dense md-accent" @click="onCancelEdit">Annuler</md-button>
                            <md-button class="md-raised md-dense md-primary" @click="onConfirmEdit">Enregistrer</md-button>
                        </div>
                    </div>
                </div>
            </div>

        </md-card-content>
    </md-card>
</div>
