<div id="Matdiff">
    <md-card>
        <!-- Results Header -->
        <md-card-header>
            <div class="md-title">
                <md-card-expand-trigger>
                    <md-button class="md-icon-button expandCollapseBtn">
                        <md-icon>keyboard_arrow_down</md-icon>
                    </md-button>
                </md-card-expand-trigger>
                Matérialisation différée
            </div>
        </md-card-header>

        <md-card-expand>
            <md-card-expand-content>
                <md-card-content>
                    <md-table v-model="numerosDifferes" md-sort="date_sortie" md-sort-order="desc" md-card style="width: 1100px;" md-fixed-header>
                        <md-table-toolbar>
                            <h1 class="md-title">Biens-fonds matérialisés</h1>
                        </md-table-toolbar>
                          
                        <md-table-empty-state
                        md-label="Aucune mat diff"
                        md-description="Aucune Matérialisation différée n'a été réalisée.">
                        </md-table-empty-state>

                        <md-table-row slot="md-table-row" slot-scope="{ item }">
                            <md-table-cell md-label="ID" md-sort-by="id" md-numeric v-if="false">{{ item.id }}</md-table-cell>
                            <md-table-cell md-label="Cadastre" md-sort-by="cadastre">{{ item.cadastre }}</md-table-cell>
                            <md-table-cell md-label="Bien-fonds" md-sort-by="numero" md-numeric>{{ item.numero }}</md-table-cell>
                            <md-table-cell md-label="Affaire" md-sort-by="affaire" md-numeric>{{ item.diff_affaire_id }}</md-table-cell>
                            <md-table-cell md-label="Création mat diff" md-sort-by="diff_entree" md-numeric>{{ item.diff_entree }}</md-table-cell>
                            <md-table-cell md-label="Réalisation mat diff" md-sort-by="diff_sortie" md-numeric>{{ item.diff_sortie }}</md-table-cell>
                            <md-table-cell md-label="Générer la req de radiation">
                                <md-button class="md-primary" @click="generateReq">
                                    <md-icon>save_alt</md-icon>
                                </md-button>
                            </md-table-cell>
                        </md-table-row>
                    </md-table>

                </md-card-content>
            </md-card-expand-content>
        </md-card-expand>

    </md-card>
</div>

