<div class="affairesDashboard" v-if="affaireLoaded">

    <!-- TITRE -->
    <md-toolbar>
        <div class="md-title" style="flex: 1; font-weight: 700"> Affaire {{ affaire.id }}
            <span v-if="affaire.nom != '-'">[{{ affaire.nom }}]</span>
        </div>
        
        <md-button class="md-primary md-raised" v-if="editAffaireAllowed" v-on:click="duplicateAffaire">Dupliquer</md-button>
        <md-button class="md-accent md-raised" v-if="editAffaireAllowed && cloreAffaireEnabled" v-on:click="cloreAffaire()">Clôturer</md-button>
    </md-toolbar>

    <!-- INFORMATIONS GENERALES -->
    <div class="leftColumn">
        <InfosGenerales :affaire="affaire" />
    </div>


    <!-- MAP -->
    <div class="rightColumn">
        <md-card class="mapHeight">
            <md-card-content>
                <!-- Afficher les oordonnées -->
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-50">
                        <md-field>
                            <label>Coordonnées</label>
                            <md-input v-model="[affaire.localisation_e | 0, affaire.localisation_n | 0].join(' / ')"
                                readonly>
                            </md-input>
                        </md-field>
                    </div>
                </div>
                <div id="mapContainer">
                    <MapHandler ref="mapHandler" />
                </div>
            </md-card-content>
        </md-card>
    </div>

    <!-- DOCUMENTS -->
    <div class="affairesDashboard">
        <Documents />
    </div>

    <!-- ENVOIS DE DOCUMENTS -->


    <!-- NUMEROS -->
    <div class="affairesDashboard">
        <numerosAffaire />
    </div>

    <!-- SUIVI D'AFFAIRE -->
    <div class="affairesDashboard">
        <suivi />
    </div>

    <!-- PREAVIS -->
    <div class="affairesDashboard">
        <preavis />
    </div>

    <!-- FACTURATION -->
    <div class="affairesDashboard">
        <Facturation />
    </div>

    <!-- REMARQUE -->
    <div class="affairesDashboard">
        <Remarques />
    </div>

    <!-- CONTROLE TECHNIQUE MUTATION -->
    <div class="affairesDashboard">
        <ControleMutation v-if="affaire.type_id==1" />
    </div>

    <!-- CONTROLE TECHNIQUE PPE -->
    <div class="affairesDashboard">
        <ControlePPE v-if="affaire.type_id==3" />
    </div>

    <!-- SUIVI DU MANDAT -->
    <div class="affairesDashboard">
        <SuiviMandat />
    </div>


    <!-- Duplication Affaire -->
    <div>
        <DuplicationAffaire ref="duplicationAffaireForm" :affaire="affaire"/>
    </div>

</div>