<div class="affaires">

    <md-toolbar class="justifyTitleBtn">
            <h1>Affaires</h1>
            <md-button class="md-raised md-accent" v-if="newAffaireAllowed" @click="$router.push({name: 'NewAffaire'})">Nouvelle affaire</md-button>
    </md-toolbar>

    <!-- Search -->
    <md-card>
        <!-- Search Header -->
        <md-card-header>
            <div class="md-title">Recherche</div>
        </md-card-header>

        <md-card-expand-trigger>
            <md-button class="md-icon-button expandCollapseBtn">
                <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
        </md-card-expand-trigger>

        <!-- Search Content -->
        <md-card-expand>
            <md-card-expand-content>
                <md-card-content>
                    <div class="md-layout md-gutter">
                        <!-- id -->
                        <div class="md-layout-item md-size-25 md-small-size-50">
                            <md-field>
                                <label>ID</label>
                                <md-input type="number" v-model="search.id"></md-input>
                            </md-field>
                        </div>

                        <!-- nom -->
                        <div class="md-layout-item md-size-25 md-small-size-50">
                            <md-field>
                                <label>Référence ACCESS (p.ex.CF_1492)</label>
                                <md-input v-model="search.nom"></md-input>
                            </md-field>
                        </div>

                        <!-- Opétateur -->
                        <div class="md-layout-item md-size-25 md-small-size-50">
                            <md-autocomplete md-dense v-model="search.operateur" :md-options="operateurs_liste" >
                            <label>Opérateur</label>
                            </md-autocomplete>
                        </div>

                        <!-- Etape -->
                        <div class="md-layout-item md-size-25 md-small-size-50">
                            <md-autocomplete md-dense v-model="search.etape" :md-options="etapes_liste" >
                            <label>Étape</label>
                            </md-autocomplete>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <!-- Cadastre -->
                        <div class="md-layout-item md-size-25 md-small-size-50">
                            <md-autocomplete v-model="search.cadastre" :md-options="cadastre_liste" md-dense>
                                <label>Cadastre</label>
                                <template slot="md-autocomplete-item" slot-scope="{ item }">
                                    {{ item.nom }}
                                </template>
                            </md-autocomplete>
                        </div>
                        <!-- Type -->
                        <div class="md-layout-item md-size-25 md-small-size-50">
                            <md-autocomplete v-model="search.type" :md-options="types_affaires" md-dense>
                                <label>Type</label>
                                <template slot="md-autocomplete-item" slot-scope="{ item }">
                                    {{ item.nom }}
                                </template>
                            </md-autocomplete>
                        </div>
                        <!-- Date de -->
                        <div class="md-layout-item md-size-25 md-small-size-50" style="display: flex;">
                            <md-datepicker v-model="search.dateFrom" :md-disabled-dates="disabledStartDates" md-immediately>
                                <label>Depuis</label>
                            </md-datepicker>
            
                            <md-datepicker style="margin-left: 20px;" v-model="search.dateTo" :md-disabled-dates="disabledEndDates" md-immediately>
                                <label>Jusqu'au</label>
                            </md-datepicker>
                        </div>

                        <div class="md-layout-item md-size25 md-small-size-50">
                            <md-checkbox v-model="search.limitNbResults" class="md-primary">Limiter la recherche aux 20 premiers résultats (pour des raisons de performances).</md-checkbox>
                        </div>
                    </div>

                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-size-50">
                            <md-autocomplete v-model="search.client"
                                :md-options="clients"
                                @md-changed="searchClient"
                                md-dense>
                                <label>Client</label>
                            </md-autocomplete>
                        </div>
                    </div>

                    <!-- Search Actions -->
                    <md-card-actions>
                        <md-button class="md-raised"
                            v-bind:disabled="!search.id && !search.nom && !search.cadastre && !search.type"
                            v-on:click="clearForm">Réinitialiser</md-button>
                        <md-button class="md-raised md-primary" v-on:click="searchAffaires">Rechercher</md-button>
                    </md-card-actions>
                </md-card-content>
            </md-card-expand-content>
        </md-card-expand>
    </md-card>

    </br>


    <!-- Results -->
    <div class="affairesResults">

        <md-card>
            <!-- Results Header -->
            <md-card-header class="justifyTitleBtn">
                <div class="md-title">Résultats</div>
                <div>({{ affaires.length }} affaire<span v-if="affaires.length >= 2">s</span> affichée<span v-if="affaires.length >= 2">s</span>)</div>
            </md-card-header>

            <!-- Results Content -->
            <md-card-content>
                <md-progress-bar md-mode="indeterminate" v-if="showProgressBar"></md-progress-bar>

                <md-table md-height="100%" v-model="affaires" md-sort="id" md-sort-order="desc" md-fixed-header>
                    <md-table-empty-state
                        md-label="Aucune affaire"
                        md-description="Aucune affaire ne correspond aux critères de recherche.">
                    </md-table-empty-state>
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Id" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
                        <md-table-cell md-label="ACCESS" md-sort-by="no_access">{{ item.no_access }}</md-table-cell>
                        <md-table-cell md-label="Cadastre" md-sort-by="cadastre">{{ item.cadastre }}</md-table-cell>
                        <md-table-cell md-label="Type" md-sort-by="type_affaire">{{ item.type_affaire }}</md-table-cell>
                        <md-table-cell md-label="Description" md-sort-by="nom">{{ item.nom }}</md-table-cell>
                        <md-table-cell md-label="Client" md-sort-by="client_commande_nom">
                            <ul style="padding-left: 0px;">
                                <li v-if="item.client_commande_">Commande: {{ item.client_commande_ }}</li>
                                <li v-if="item.client_envoi_">Envoi: {{ item.client_envoi_ }}</li>
                                <li v-if="item.client_facture_">Facture: {{ item.client_facture_ }}</li>
                            </ul>
                        </md-table-cell>
                        <md-table-cell md-label="Étape" md-sort-by="etape">{{ item.etape }}</md-table-cell>
                        <md-table-cell md-label="Opérateur·rice" md-sort-by="technicien_nom">{{ item.technicien_prenom }} {{ item.technicien_nom }}</md-table-cell>
                        <md-table-cell md-label="Date d'ouverture" md-sort-by="date_ouverture">{{ item.date_ouverture | formatDate }}</md-table-cell>
                        <md-table-cell md-label="Date d'envoi" md-sort-by="date_envoi">{{ item.date_envoi | formatDate }}</md-table-cell>
                        <md-table-cell md-label="Consulter" class="actionsColumn">
                            <md-button class="md-icon-button md-primary" v-on:click="doOpenAffaire(item.id)">
                                <md-icon>open_in_new</md-icon>
                            </md-button>
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </md-card-content>
        </md-card>

    </div>
</div>