<div class="affairesDashboard">

    <!-- TITRE -->
    <md-card>
        <md-card-header>
            <div class="md-title ">Affaire {{ affaire.id }} <span v-if="affaire.nom != '-'">[{{ affaire.nom }}]</span>
            </div>
        </md-card-header>
    </md-card>

    <!-- INFORMATIONS GENERALES -->
    <div class="leftColumn">
        <md-card class="leftColumn test">
            <md-card-content>
                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Cadastre</label>
                            <md-input v-model="affaire.cadastre" readonly></md-input>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Type</label>
                            <md-input v-model="affaire.type_affaire" readonly></md-input>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Client</label>
                            <md-input v-model="[affaire.client_commande_nom].join(' ')" readonly></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Représenté par</label>
                            <md-input v-model="[affaire.client_commande_par_nom].join(' ')" readonly></md-input>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>v/ref</label>
                            <md-input v-model="affaire.vref" readonly></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-30"></div>
                </div>

                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Technicien</label>
                            <md-input v-model="[affaire.technicien_prenom, affaire.technicien_nom].join(' ')" readonly>
                            </md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Responsable</label>
                            <md-input v-model="[affaire.responsable_prenom, affaire.responsable_nom].join(' ')"
                                readonly>
                            </md-input>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Date de la demande</label>
                            <md-input v-model="affaire.date_ouverture" readonly></md-input>
                        </md-field>
                    </div>
                    <!-- <div class="md-layout-item md-small-size-30">
                            <md-field>
                                <label>Date de la validation</label>
                                <md-input v-model="affaire.date_validation" readonly></md-input>
                            </md-field>
                        </div> -->
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Date de clôture</label>
                            <md-input v-model="affaire.date_cloture" readonly></md-input>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Informations</label>
                            <md-input v-model="affaire.information" readonly></md-input>
                        </md-field>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>


    <!-- MAP -->
    <div class="rightColumn">
        <md-card class="test">
            <md-card-content>
                <div id="map">

                </div>
            </md-card-content>
        </md-card>
    </div>

    <!-- NUMEROS -->
    <div class="affairesDashboard">

        <md-card>
            <!-- Results Header -->
            <md-card-header>
                <div class="md-title">Immeubles concernés par l'affaire</div>
            </md-card-header>

            <!-- Results Content -->
            <md-card-content>
                <md-table v-model="affaire_numeros" md-sort="id" md-sort-order="desc">
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Id" md-sort-by="numero_id">{{ item.numero_id }}</md-table-cell>
                        <md-table-cell md-label="Cadastre" md-sort-by="numero_cadastre">{{ item.numero_cadastre }}</md-table-cell>
                        <md-table-cell md-label="Type" md-sort-by="numero_type">{{ item.numero_type }}</md-table-cell>
                        <md-table-cell md-label="Numéro" md-sort-by="numero">{{ item.numero }}</md-table-cell>
                        <md-table-cell md-label="Suffixe/Unité" md-sort-by="numero_suffixe">{{ item.numero_suffixe }}</md-table-cell>
                        <md-table-cell md-label="Etat" md-sort-by="numero_etat">{{ item.numero_etat }}</md-table-cell>
                        <md-table-cell md-label="Statut" md-sort-by="affaire_numero_type">{{ item.affaire_numero_type }}</md-table-cell>
                        <md-table-cell md-label="Actions" class="actionsColumn">
                            <md-button class="md-icon-button md-raised md-primary" v-on:click="doOpenNumero(item.numero_id)">
                                <md-icon>open_in_new</md-icon>
                            </md-button>
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </md-card-content>
        </md-card>

    </div>

    <!-- DOCUMENTS -->


    <!-- SUIVI D'AFFAIRE -->


    <!-- PREAVIS -->


    <!-- ENVOIS DE DOCUMENTS -->


    <!-- FACTURATION -->


    <!-- REMARQUE -->
    <div class="affairesDashboard">
        <md-card>
             <!-- Results Header -->
             <md-card-header>
                <div class="md-title">Remarques</div>
            </md-card-header>

            <md-card-content>
                <md-table v-model="affaire_remarques" md-sort="date" md-sort-order="desc">
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Opérateur" md-sort-by="nom">{{ item.prenom }} {{ item.nom }}</md-table-cell>
                        <md-table-cell md-label="Date" md-sort-by="date">{{ item.date }}</md-table-cell>
                        <md-table-cell md-label="Remarque" md-sort-by="remarque">{{ item.remarque }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </md-card-content>
        </md-card>
    </div>

    <!-- SUIVI DU MANDAT -->


    <!-- CONTROLE TECHNIQUE -->

</div>