<div class="affairesDashboard">

    <!-- TITRE -->
    <md-card>
        <md-card-header>
            <div class="md-title ">Affaire {{ affaire.id }} <span v-if="affaire.nom != '-'">[{{ affaire.nom }}]</span>
            </div>
        </md-card-header>
    </md-card>

    <!-- INFORMATIONS GENERALES -->
    <div class="leftColumn">
        <md-card class="mapHeight">
            <md-card-content>
                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Cadastre</label>
                            <md-input v-model="affaire.cadastre" readonly></md-input>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Type</label>
                            <md-input v-model="affaire.type_affaire" readonly></md-input>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Client</label>
                            <md-input v-model="[affaire.client_commande_nom].join(' ')" readonly></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Représenté par</label>
                            <md-input v-model="[affaire.client_commande_par_nom].join(' ')" readonly></md-input>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>v/ref</label>
                            <md-input v-model="affaire.vref" readonly></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-30"></div>
                </div>

                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Technicien</label>
                            <md-input v-model="[affaire.technicien_prenom, affaire.technicien_nom].join(' ')" readonly>
                            </md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Responsable</label>
                            <md-input v-model="[affaire.responsable_prenom, affaire.responsable_nom].join(' ')"
                                readonly>
                            </md-input>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Date de la demande</label>
                            <md-input v-model="affaire.date_ouverture" readonly></md-input>
                        </md-field>
                    </div>
                    <!-- <div class="md-layout-item md-small-size-30">
                            <md-field>
                                <label>Date de la validation</label>
                                <md-input v-model="affaire.date_validation" readonly></md-input>
                            </md-field>
                        </div> -->
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Date de clôture</label>
                            <md-input v-model="affaire.date_cloture" readonly></md-input>
                        </md-field>
                    </div>
                </div>

                <div class="md-layout md-gutter ">
                    <div class="md-layout-item md-small-size-30">
                        <md-field>
                            <label>Informations</label>
                            <md-input v-model="affaire.information" readonly></md-input>
                        </md-field>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>


    <!-- MAP -->
    <div class="rightColumn">
        <md-card class="mapHeight">
            <md-card-content>
                <div id="mapContainer">
                    <MapHandler ref="mapHandler" />
                </div>
            </md-card-content>
        </md-card>
    </div>

    <!-- NUMEROS -->
    <div class="affairesDashboard">
        <numerosAffaire />
    </div>

    <!-- DOCUMENTS -->


    <!-- SUIVI D'AFFAIRE -->
    <div class="affairesDashboard">
        <suivi />
    </div>

    <!-- PREAVIS -->
    <div class="affairesDashboard">
        <preavis />
    </div>


    <!-- ENVOIS DE DOCUMENTS -->


    <!-- FACTURATION -->
    <div class="affairesDashboard">
        <Facturation />
    </div>

    <!-- REMARQUE -->
    <div class="affairesDashboard">
        <Remarques />
    </div>

    <!-- CONTROLE TECHNIQUE -->
    <div class="affairesDashboard">
        <ControlePPE />
    </div>

    <!-- SUIVI DU MANDAT -->
    <div class="affairesDashboard">
        <SuiviMandat />
    </div>

</div>