.affairesDashboard {
    width: 100%;
    float: left;
}

.affairesDashboard .actionsColumn {
    width: 150px !important;
    min-width: 150px !important;
}

.affairesDashboard .expandCollapseBtn {
    position: absolute;
    left: 115px;
    top: 22px;
}

.affairesDashboard .leftColumn {
    float: left;
    width: 49.7%;
}

.affairesDashboard .rightColumn {
    float: right;
    width: 49.7%;
}

#mapContainer {
    width: 95%;
    margin: auto;
    height: 510px; /*valeur empirique*/
  }

.affairesDashboard .mapHeight {
    height: inherit !important;;
}

.affairesDashboard p {
    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
