.affaires {
    width: 100%;
    float: left;
}

.affaires .actionsColumn {
    width: 150px !important;
    min-width: 150px !important;
}

.affaires .expandCollapseBtn {
    position: absolute;
    left: 115px;
    top: 22px;
}

.affaires .newAffaireBtn {
    right: 25px;
    position: absolute;
}
