<div class="notesmaj" v-if="showNotesMAJ">
    <md-card class="notesMAJ" v-if="$route.name !== 'Login' && showNotesMAJ">
        <md-card-header class="justifyTitleBtn" style="padding-bottom: 0px;">
            <div class="md-title"><b>Mise à jour</b></div>
            <div><md-button style="min-width: auto; width: auto;" title="Fermer la fenêtre d'informations" @click="showNotesMAJ=false" class="md-dense"><md-icon>close</md-icon></md-button></div>
        </md-card-header>
        <md-card-content>
            <p>La dernière mise à jour comporte les éléments suivants:</p>
            <ul style="margin-top: 0px;">
                <li v-for="item in notes" :title="item.title">{{ item.titre }}: {{ item.message }}</li>
            </ul>
            <p><a @click="goTo('About')">Consulter l'historique</a></p>
        </md-card-content>
    </md-card>
</div>