<div class="notesmaj" v-if="showNotesMAJ" id="notesmaj">
    <md-card class="notesMAJ" v-if="$route.name !== 'Login' && showNotesMAJ">
        <div class="container">

            <md-card-header class="justifyTitleBtn" style="padding-bottom: 0px;">
                <div class="md-title"><b>Information</b></div>
                <div>
                    <md-button style="min-width: auto; width: auto;" title="Ajouter une note de mise à jour" @click="openNewNote" class="md-dense" v-if="permissions.admin"><md-icon>add</md-icon></md-button>
                    <md-button style="min-width: auto; width: auto;" title="Fermer la fenêtre d'informations" @click="closeInfobulle" class="md-dense"><md-icon>close</md-icon></md-button>
                </div>
            </md-card-header>
            <md-card-content>
                <div v-if="newNote.show" style="border: 1px solid black; border-radius: 5px; padding: 15px; margin: 20px 0px 30px 0px;">
                    <h3>Ajouter une note de mise à jour</h3>
                    <div style="display: flex;">
                        <md-field style="width: 100px; margin-left: 10px; margin-right: 10px;">
                            <label>Version</label>
                            <md-input v-model="newNote.version"></md-input>
                        </md-field>
                        <md-datepicker style="width: 150px !important;" v-model="newNote.delai" md-immediately :md-disabled-dates="disabledDates">
                            <label>Délai</label>
                        </md-datepicker>
                        <md-field style="width: 300px; margin-left: 10px; margin-right: 10px;">
                            <label>Titre</label>
                            <md-input v-model="newNote.titre"></md-input>
                        </md-field>
                        <md-field style="width: 1200px; margin-left: 10px; margin-right: 10px;">
                            <label>Message</label>
                            <md-textarea v-model="newNote.message" md-autogrow></md-textarea>
                        </md-field>
                    </div>
                    <div style="text-align: right;">
                        <md-button class="md-accent md-raised" @click="onCancelNewNote">Annuler</md-button>
                        <md-button class="md-primary md-raised" @click="onSaveNewNote">Enregistrer</md-button>
                    </div>
                </div>
                <div v-if="notes.length > 0">
                    <p>Voici mises à jour apportées depuis votre dernière connexion à Infolica:</p>
                    <ul style="margin-top: 0px;">
                        <li v-for="item in notes" :title="item.title">{{ item.titre }}: {{ item.message }}</li>
                    </ul>
                </div>
                <div v-else>
                    <p><em>Il n'y a pas de mise à jour</em></p>
                </div>
                <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;">
                    <div>
                        <p><a @click="goTo('About')">Consulter l'historique</a></p>
                    </div>
                    <div>
                        <md-button class="md-dense md-primary md-raised" @click="closeAndSaveInfobulle()" title="Ne plus afficher l'information">
                            <md-icon>thumb_up</md-icon>
                            <span style="display: inline-block; height: 13px; vertical-align: middle; margin-left: 5px;"> J'ai compris</span>
                        </md-button>
                    </div>
                </div>
            </md-card-content>
        </div>
    </md-card>
</div>