.notesMAJ {
    background-color: lightblue;
    border-radius: 10px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 15px;
}

.notesmaj p {
    margin: 6px 0px 6px 0px;
}