<div class="duplicationAffaire">
    <md-dialog :md-active.sync="showDuplicationAffaireForm">
        <md-dialog-title>Duplication d'une affaire</md-dialog-title>
        <md-dialog-content style="padding: 0 25px;">
            <div class="md-title">Indiquer ce qu'il faut faire de l'affaire {{affaire.id}} <span v-if="affaire.nom != '-'">[{{ affaire.nom }}]</span></div>
            <br>
            <strong>1 - Type de modification de l'affaire</strong>  
            <md-field>
                <label for="type_modif_affaire">Type modification</label>
                <md-select name="type_modif_affaire" id="type_modif_affaire" v-model="type_modif_affaire" md-dense>
                    <md-option v-for="item in types_modifs_affaire_list" :key="item.id" :value="item.id">{{item.nom}}</md-option>
                </md-select>
            </md-field>

            <!-- Tableau des numéros concernés par l'affaire -->
            <br/>
            <strong>2 - Immeubles mutée / biens-fonds de base</strong>    
            <br/><br/>        
            <div v-if="affaire_numeros_anciens[0]">
                <md-table md-height="40vh" v-model="affaire_numeros_anciens" md-sort="numero" md-sort-order="desc" @md-selected="onSelectNumsAnciens" md-fixed-header md-card>
                    <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple">
                        <md-table-cell md-label="Numéro" md-sort-by="numero">{{ item.numero }}
                        </md-table-cell>
                        <md-table-cell md-label="Type" md-sort-by="numero_type">
                            {{ item.numero_type }}
                        </md-table-cell>
                        <md-table-cell md-label="Etat" md-sort-by="numero_etat">
                            {{ item.numero_etat }}
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </div>
            <div v-else>
                <em>Aucun numéro</em>
            </div>

            <!-- Tableau des numéros réservés dans l'affaire -->
            <br/>
            <strong>3 - Immeubles réservés</strong>
            <br/><br/>   
            <div v-if="affaire_numeros_nouveaux[0]">
                <md-table md-height="40vh" v-model="affaire_numeros_nouveaux" md-sort="numero" md-sort-order="desc" @md-selected="onSelectNumsNouveux" md-fixed-header md-card>
                    <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple">
                        <md-table-cell md-label="Numéro" md-sort-by="numero">{{ item.numero }}
                        </md-table-cell>
                        <md-table-cell md-label="Type" md-sort-by="numero_type">
                            {{ item.numero_type }}
                        </md-table-cell>
                        <md-table-cell md-label="Etat" md-sort-by="numero_etat">
                            {{ item.numero_etat }}
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </div>
            <div v-else>
                <em>Aucun numéro</em>
            </div>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" @click="showDuplicationAffaireForm = false">Annuler</md-button>
            <md-button class="md-primary" @click="saveDuplicatedAffaire()">Enregistrer</md-button>
        </md-dialog-actions>
    </md-dialog>
</div>