<div id="SuiviAffaire">
    <md-card>
        <md-card-header>
            <md-toolbar>
                <h1 style="flex: 1">Suivi technique des dossiers</h1>
                <!-- <md-button class="md-raised md-accent" @click="openInfolicaTest">Infolica version test</md-button> -->
            </md-toolbar>
        </md-card-header>
        
        <md-card-content>
            <md-button class="md-primary md-raised" @click="showNewAffaireDialog=true">Nouvelle affaire</md-button>

            <md-table v-model="affaires" md-sort="id" md-sort-order="desc" md-card>
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <!-- <md-table-cell md-label="Nom" md-sort-by="affaire_nom">{{ item.affaire_nom }}</md-table-cell> -->
                    <md-table-cell md-label="affaire_id" md-sort-by="affaire_id" v-if="false">{{ item.affaire_id }}</md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="Type d'affaire">{{ item.affaire_type }}</md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="Coordination (DGY)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[0]">{{ item.dashboard[0] }}</md-button></md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="Travaux (c. éq.)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[1]">{{ item.dashboard[1] }}</md-button></md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="Ctrl tech (DGY)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[2]">{{ item.dashboard[2] }}</md-button></md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="Dés. propres (PDE/SE)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[3]">{{ item.dashboard[3] }}</md-button></md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="Report serv. (BB)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[4]">{{ item.dashboard[4] }}</md-button></md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="1er ctrl (LF/FS)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[5]">{{ item.dashboard[5] }}</md-button></md-table-cell>
                    <!-- <md-table-cell style="width: 5%;" md-label="Impression"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[15]">{{ item.dashboard[15] }}</md-button></md-table-cell> -->
                    <md-table-cell style="width: 5%;" md-label="Prép. doc. final (PDE/SE)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[6]">{{ item.dashboard[6] }}</md-button></md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="2e ctrl (LF/FS)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[7]">{{ item.dashboard[7] }}</md-button></md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="Finalisation (PDE/SE)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[9]">{{ item.dashboard[9] }}</md-button></md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="Valid tech (DGY)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[8]">{{ item.dashboard[8] }}</md-button></md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="Signatures-Art.35 (LF/FS)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[10]">{{ item.dashboard[10] }}</md-button></md-table-cell>
                    <!-- <md-table-cell style="width: 5%;" md-label="Signature (LF/FS)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[11]">{{ item.dashboard[11] }}</md-button></md-table-cell> -->
                    <md-table-cell style="width: 5%;" md-label="Valid-Art.35  (DGY)"><md-button class="md-raised" @click="openNewEtapeDialog(item)" v-if="item.dashboard[12]">{{ item.dashboard[12] }}</md-button></md-table-cell>
                    <!-- <md-table-cell style="width: 5%;" md-label="Courrier (PDE/SE)"><md-button class="md-raised" @click="openNewEtapeDialog(item)">{{ item.dashboard[13] }}</md-button></md-table-cell>
                    <md-table-cell style="width: 5%;" md-label="RF"><md-button class="md-raised" @click="openNewEtapeDialog(item)">{{ item.dashboard[14] }}</md-button></md-table-cell> -->
                </md-table-row>
            </md-table>
        </md-card-content>
    </md-card>


<!-- ================================================== -->

    <!-- Dialog pour la création de nouvelle affaire -->
    <md-dialog :md-active.sync="showNewAffaireDialog" style="z-index: 6;">
        <md-dialog-title>Nouvelle affaire</md-dialog-title>

        <md-dialog-content>
            <!-- Nom de l'affaire -->
            <md-field>
                <label>Nom de l'affaire</label>
                <md-input v-model="affaire.nom" required></md-input>
            </md-field>

            <!-- Type d'affaire -->
            <md-autocomplete v-model="affaire.type" :md-options="affaireTypes_autocomplete" md-dense required @md-selected="getPremiereEtapeAffaire">
                <label>Type d'affaire</label>
            </md-autocomplete>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-accent" @click="initFormAffaire">Annuler</md-button>
            <md-button class="md-primary" @click="postNewAffaire">Enregistrer</md-button>
        </md-dialog-actions>
    </md-dialog>


    <!-- Dialog pour la création de nouvelle étape dans l'affaire -->
    <md-dialog :md-active.sync="showNewEtapeDialog" style="z-index: 6; margin: auto;">
        <md-dialog-title>Nouvelle étape</md-dialog-title>

        <md-dialog-content>
            <div class="md-layout md-gutter">
                <div class="md-layout-item md-size-45">
                    <!-- Nom de l'étape en cours -->
                    <md-field>
                        <label>Etape en cours</label>
                        <md-input v-model="affaire.actuelle_etape" readonly></md-input>
                    </md-field>
                </div>
                <h3>=></h3>
                <div class="md-layout-item md-size-45">
                    <!-- Type d'affaire -->
                    <md-autocomplete v-model="affaire.prochaine_etape" :md-options="affaireEtapes_autocomplete" md-dense required @md-selected="setProchaineEtapeId">
                        <label>Prochaine étape</label>
                    </md-autocomplete>
                </div>
            </div>



        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-accent" @click="initFormAffaire">Annuler</md-button>
            <md-button class="md-primary" @click="updateAffaire">Enregistrer</md-button>
        </md-dialog-actions>
    </md-dialog>


</div>