<div id="SuiviAffaire">
    <!-- Info Bulle -->
    <md-card v-if="((new Date('2020/11/18').getTime() - new Date().getTime()))/(1000*3600*24) > 0" style="background-color: #ABBAEA;" id="info1">
        <md-card-content>
            <div class="md-gutter md-layout">
                <div class="md-layout-item md-size-95">
                    <h2 style="margin: 0;">Mise à jour du 16 novembre 2020</h2>
                    <ul style="margin-bottom: 0;">
                        <li>Ajout automatique du contact sélectionné dans les remarques pour l'étape des travaux. On garde ainsi une trace de la personne à qui est attribuée l'affaire.</li>
                        <li>Ajout d'une contrainte d'unicité sur le nom de l'affaire. Une erreur est levée lorsqu'on crée une affaire avec un nom existant déjà dans la base.</li>
                        <li>Récupération de l'historique des affaires N4261 et N4270.</li>
                    </ul>
                    
                </div>
                <div class="md-layout-item md-size-5">
                    <md-button onclick="document.getElementById('info1').style.display = 'none'" class="md-icon-button" md-dense><md-icon>close</md-icon></md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-header>
            <md-toolbar>
                <h1 style="flex: 1">Suivi technique des dossiers</h1>
                <!-- <md-button class="md-raised md-accent" @click="openInfolicaTest">Infolica version test</md-button> -->
            </md-toolbar>
        </md-card-header>
        
        <md-card-content>
            <md-button class="md-primary md-raised" @click="showNewAffaireDialog=true">Nouvelle affaire</md-button>
            <md-table v-model="affaires" md-sort="id" md-sort-order="desc" md-card>           
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <!-- <md-table-cell md-label="Nom" md-sort-by="affaire_nom">{{ item.affaire_nom }}</md-table-cell> -->
                    <md-table-cell md-label="affaire_id" md-sort-by="affaire_id" v-if="false">{{ item.affaire_id }}</md-table-cell>
                    <md-table-cell md-sort-by="affaire_type" md-label="Type d'affaire">{{ item.affaire_type }}</md-table-cell>
                    <md-table-cell md-sort-by="dashboard_0" md-label="Coordination (DGY)"><md-button class="md-raised md-dense" @click="openNewEtapeDialog(item)" v-if="item.dashboard_0">{{ item.dashboard_0 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_1" md-label="Travaux (c. éq.)"><md-button class="md-raised md-dense" @click="openNewEtapeDialog(item)" v-if="item.dashboard_1">{{ item.dashboard_1 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_2" md-label="Ctrl tech (DGY)"><md-button class="md-raised md-dense" @click="openNewEtapeDialog(item)" v-if="item.dashboard_2">{{ item.dashboard_2 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_4" md-label="Report serv. (BB)"><md-button class="md-raised md-dense" @click="openNewEtapeDialog(item)" v-if="item.dashboard_4">{{ item.dashboard_4 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_5" md-label="1er ctrl (LF/FS)"><md-button class="md-raised md-dense" @click="openNewEtapeDialog(item)" v-if="item.dashboard_5">{{ item.dashboard_5 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_6" md-label="Prép. doc. final (PDE/SE)"><md-button class="md-raised md-dense" @click="openNewEtapeDialog(item)" v-if="item.dashboard_6">{{ item.dashboard_6 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_7" md-label="2e ctrl (LF/FS)"><md-button class="md-raised md-dense" @click="openNewEtapeDialog(item)" v-if="item.dashboard_7">{{ item.dashboard_7 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_9" md-label="Finalisation (PDE/SE)"><md-button class="md-raised md-dense" @click="openNewEtapeDialog(item)" v-if="item.dashboard_9">{{ item.dashboard_9 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_10" md-label="Signatures-Art.35 (LF/FS)"><md-button class="md-raised md-dense" @click="openNewEtapeDialog(item)" v-if="item.dashboard_10">{{ item.dashboard_10 }}</md-button></md-table-cell>
                    <md-table-cell md-sort-by="dashboard_8" md-label="Valid tech (DGY)"><md-button class="md-raised md-dense" @click="openNewEtapeDialog(item)" v-if="item.dashboard_8">{{ item.dashboard_8 }}</md-button></md-table-cell>
                </md-table-row>
            </md-table>
        </md-card-content>
    </md-card>


<!-- ================================================== -->

    <!-- Dialog pour la création de nouvelle affaire -->
    <md-dialog :md-active.sync="showNewAffaireDialog" style="z-index: 6;">
        <md-dialog-title>Nouvelle affaire</md-dialog-title>

        <md-dialog-content>
            <!-- Nom de l'affaire -->
            <md-field>
                <label>Nom de l'affaire</label>
                <md-input v-model="affaire.nom" required></md-input>
            </md-field>

            <!-- Type d'affaire -->
            <md-autocomplete v-model="affaire.type" :md-options="affaireTypes_autocomplete" md-dense required @md-selected="getPremiereEtapeAffaire">
                <label>Type d'affaire</label>
            </md-autocomplete>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-accent" @click="initFormAffaire">Annuler</md-button>
            <md-button class="md-primary" @click="postNewAffaire">Enregistrer</md-button>
        </md-dialog-actions>
    </md-dialog>


    <!-- Dialog pour la création de nouvelle étape dans l'affaire -->
    <md-dialog :md-active.sync="showNewEtapeDialog" style="z-index: 6; margin: auto; width: 1000px;">
        <md-dialog-title>Nouvelle étape de l'affaire '{{ affaire.affaire_nom }}'</md-dialog-title>

        <md-dialog-content>
            <div class="md-layout md-gutter md-alignment-top-space-between">
                <div class="md-layout-item md-size-45">
                    <!-- Nom de l'étape en cours -->
                    <md-field>
                        <label>Etape en cours</label>
                        <md-input v-model="affaire.actuelle_etape" readonly></md-input>
                    </md-field>
                </div>
                <h3>=></h3>
                <div class="md-layout-item md-size-45">
                    <!-- Type d'affaire -->
                    <md-autocomplete v-model="affaire.prochaine_etape" :md-options="affaireEtapes_autocomplete" md-dense required @md-selected="setProchaineEtapeId">
                        <label>Prochaine étape</label>
                    </md-autocomplete>

                    <md-field v-if="showMailChefEquipe">
                        <label>Chef d'équipe</label>
                        <md-select v-model="etape.mailadress" md-dense>
                            <md-option v-for="item in mailAdressList" :key="item" :value="item">{{ item }}</md-option>
                        </md-select>
                    </md-field>
                    
                </div>
                <div class="md-layout-item md-size-100">
                    
                    <md-field>
                        <label>Remarques</label>
                        <md-textarea v-model="etape.remarque" md-autogrow></md-textarea>
                    </md-field>
                </div>
                
                <md-divider/>
                
                <div class="md-layout-item md-size-100">
                    <md-table v-model="suiviAffaires" md-card>
                        <md-table-toolbar>
                            <h3>Historique des étapes</h3>
                        </md-table-toolbar>
                        <md-table-row slot="md-table-row" slot-scope="{ item }">
                            <md-table-cell style="width: 15%;" md-label="Horodateur">{{ item.datetime }}</md-table-cell>
                            <md-table-cell style="width: 30%;" md-label="Etape">{{ item.etape }}</md-table-cell>
                            <md-table-cell style="width: 15%;" md-label="Déclanché par">{{ item.operateur_prenom }}</md-table-cell>
                            <md-table-cell style="width: 40%;" md-label="Remarque">{{ item.remarque }}</md-table-cell>
                        </md-table-row>
                    </md-table>
                </div>
            </div>


        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-accent" @click="initFormAffaire">Annuler</md-button>
            <md-button class="md-primary" @click="updateAffaire">Enregistrer</md-button>
        </md-dialog-actions>
    </md-dialog>


</div>