<div class="login">
    <div class="materialContainer">


        <div class="box">     
           <div class="title">LOGIN</div>
     
           <div class="input">              
              <input type="text" name="username" id="username" ref="username" placeholder="Utilisateur" value="mru">
              <span class="spin"></span>
           </div>
     
           <div class="input">
              <input type="password" name="userpass" id="userpass" ref="userpass" placeholder="Mot de passe" value="mru">
              <span class="spin"></span>
           </div>
     
           <div class="button login">
              <button v-on:click="doLogin"><span>CONNEXION</span> <i class="fa fa-check"></i></button>
           </div>     
        </div>     
     </div>
</div>