<div class="controlePPE">
    <md-card>
        <md-card-header>
            <div class="md-title">
                <md-card-expand-trigger>
                    <md-button class="md-icon-button expandCollapseBtn"
                        @click.native="showNewControlePPEBtn = !showNewControlePPEBtn">
                        <md-icon>keyboard_arrow_down</md-icon>
                    </md-button>
                </md-card-expand-trigger>
                Contrôle PPE
                <md-button class="md-primary newControlePPEBtn" v-on:click="newControlePPE()"
                    v-if="showNewControlePPEBtn && !affaireReadonly">Nouveau contrôle</md-button>
            </div>
        </md-card-header>

        <md-card-expand>
            <md-card-expand-content>

                <md-card-content v-bind:class="{ disabledElement: affaireReadonly }">
                    <div v-if="controlePPE.id">
                        <div class="md-title">Checklist de contrôle des dossiers PPE</div>
                        <p>
                            Contrôle du :
                            <md-field style="width: 300px; display: inline-block">
                                <md-select v-model="currentControle" @md-selected="updateControleByDate" md-dense>
                                    <md-option v-for="item in controlePPE_dates_liste" :key="item.id" :value="item.id">{{ item.nom }}</md-option>
                                </md-select>
                            </md-field> 
                        </p>
                        
                        <md-checkbox class="md-primary" v-model="check_all" @change="updateCheckboxesState">Tout cocher</md-checkbox>

                        <div class="md-layout md-gutter md-alignment-top-space-between">
                            <div class="md-layout-item md-size-30 md-small-size-50 md-card">
                                <div class="md-subhead">Récapitulatif des informations générales</div>
                                <md-checkbox class="md-primary" v-model="controlePPE.gen_1">Type de dossiers</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.gen_2">Cadastres</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.gen_3">Bien-fonds de bases</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.gen_4">Adresses</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.gen_5">Interlocuteurs</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.gen_6">Architectes</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.gen_7">Notaires</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.gen_8">Adresse de facturations</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.gen_9">Date de dépôt du dossiers</md-checkbox>
                                <md-field><label>Remarques</label><md-textarea md-autogrow v-model="controlePPE.gen_remarque"></md-textarea></md-field>
                            </div>
                            <div class="md-layout-item md-size-30 md-small-size-50 md-card">
                                <div class="md-subhead">1. Eléments constitutifs du dossier</div>
                                <md-checkbox class="md-primary" v-model="controlePPE.dos_a">1.a) Formulaire de dépôts</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dos_b">1.b) Accord écrit du preneur en charge de la factures</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dos_c">1.c) Plan de situations</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dos_d">1.d) Plan(s) d’étages</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dos_e">1.e) Plan(s) de coupes</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dos_f">1.f) Plan(s) de façadess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dos_g">1.g) Formule de légendes</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dos_h">1.h) Balance(s) de surfacess</md-checkbox>
                                <md-field><label>Remarques</label><md-textarea md-autogrow v-model="controlePPE.dos_remarque"></md-textarea></md-field>
                            </div>
                            <div class="md-layout-item md-size-30 md-small-size-50 md-card">
                                <div class="md-subhead">2. Eléments juridiques</div>
                                <md-checkbox class="md-primary" v-model="controlePPE.jur_a">2.a) Architecte inscrit au registres</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.jur_b">2.b) Bien-fonds de base en vigueur / Division en courss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.jur_c">2.c) Tous les bâtiments du bien-fonds de base font parties de la PPEs</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.jur_d">2.d) Le bien-fonds de base de la PPE n’est pas une PPEs</md-checkbox>
                                <md-field><label>Remarques</label><md-textarea md-autogrow v-model="controlePPE.jur_remarque"></md-textarea></md-field>
                            </div>
                            <div class="md-layout-item md-size-30 md-small-size-50 md-card">
                                <div class="md-subhead">3. Plan de situation</div>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_a">3.a) Cartouches</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_b">3.b) Nords</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_c">3.c) Fond cadastrals</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_d">3.d) Source des données cadastraless</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_e">3.e) Date des données cadastraless</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_f">3.f) Droits de passage existantss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_g">3.g) Projets</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_h">3.h) Droits de jouissances</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_i">3.i) Places de parcs</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_j">3.j) Autres servitudes projetéess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_k">3.k) Echelle 1:500s</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_l">3.l) Fond cadastral issu des données officielless</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_m">3.m) Données validess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_n">3.n) Fond cadastral en niveaux de griss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_o">3.o) Limites de biens-fonds en trais noir épaiss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_p">3.p) Limites de biens-fonds au premier plans</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_q">3.q) Numéros de biens-fonds inscrits et lisibless</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_r">3.r) Bâtiments en trait plein avec trame grises</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_s">3.s) Bâtiments souterrains figurents</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_t">3.t) Couverts figurents</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_u">3.u) Couleur des éléments du projets</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_v">3.v) Eléments démolis ne figurent pass</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_w">3.w) Eléments supprimés ne figurent pass</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_x">3.x) Eléments inchangés en trame grise de type quadrillages</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_y">3.y) Légende pour la trames</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.psit_z">3.z) Phrase spécifique correctes</md-checkbox>
                                <md-field><label>Remarques</label><md-textarea md-autogrow v-model="controlePPE.psit_remarque"></md-textarea></md-field>
                            </div>

                            <div class="md-layout-item md-size-30 md-small-size-50 md-card">
                                <div class="md-subhead">4. Plans d’étage</div>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_a">4.a) Cartouches</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_b">4.b) Nords</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_c">4.c) Eléments de construction de l’étages</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_d">4.d) Veluxs</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_e">4.e) Faîte de toits</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_f">4.f) Unités d’étage et annexess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_g">4.g) Droits de jouissances</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_h">4.h) Places de parcs</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_i">4.i) Cotes généraless</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_j">4.j) Lignes(s) de coupes</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_k">4.k) Un plan par étages</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_l">4.l) Echelle 1:100s</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_m">4.m) Plancher réel sous mansardess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_n">4.n) Informations superflues suppriméess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_o">4.o) Eléments supprimés ne figurent pass</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_p">4.p) Eléments inchangés en trame grise de type quadrillages</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_q">4.q) Légende pour la trames</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.pet_r">4.r) Phrase spécifique correctes</md-checkbox>
                                <md-field><label>Remarques</label><md-textarea md-autogrow v-model="controlePPE.pet_remarque"></md-textarea></md-field>
                            </div>
                            <div class="md-layout-item md-size-30 md-small-size-50 md-card">
                                <div class="md-subhead">5. Cartouches</div>
                                <md-checkbox class="md-primary" v-model="controlePPE.cart_a">5.a) Nom du cadastres</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.cart_b">5.b) n° du bien-fonds de bases</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.cart_c">5.c) Titres</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.cart_d">5.d) Echelles</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.cart_e">5.e) Nom de l’architectes</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.cart_f">5.f) Signature de l’architectes</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.cart_g">5.g) Dates</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.cart_h">5.h) « Cadastre de … »s</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.cart_i">5.i) « PPE sur le bien-fonds … »s</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.cart_j">5.j) Titre corrects</md-checkbox>
                                <md-field><label>Remarques</label><md-textarea md-autogrow v-model="controlePPE.cart_remarque"></md-textarea></md-field>
                            </div>
                            <div class="md-layout-item md-size-30 md-small-size-50 md-card">
                                <div class="md-subhead">6. Unités d’étage</div>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_a">6.a) Local fermés</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_b">6.b) Tout indépendants</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_c">6.c) Accès propres</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_d">6.d) Lettres capitaless</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_e">6.e) Lettre « i » non utilisées</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_f">6.f) Attribution des lettres selon l’ordre des bâtimentss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_g">6.g) Attribution des lettres de bas en hauts</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_h">6.h) Liseré est une géométrie fermées</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_i">6.i) Liseré décalé vers l’intérieurs</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_j">6.j) Liseré au premier plans</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_k">6.k) Liseré correspond à la surface disponibles</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_l">6.l) Exclusion des parties communess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_m">6.m) Balcons inclus dans l’unités</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_n">6.n) Terrasses non inclues dans l’unités</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_o">6.o) Une couleur par unité d’étages</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_p">6.p) Couleurs bien distinctes pour les unités prochess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_q">6.q) Couleurs bien visibles à l’impressions</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_r">6.r) Couleurs des liserés initiaux respectéess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_s">6.s) Accès propres</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_t">6.t) Possibilité de fermer le local annexes</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_u">6.u) Lettre et chiffres</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_v">6.v) Géométrie fermée pour le liserés</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_w">6.w) Liseré décalé vers l’intérieurs</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_x">6.x) Liseré au premier plans</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_y">6.y) Délimitation correspond à la surface disponibles</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_z">6.z) Exclusion des parties communess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_aa">6.aa) Liseré de même couleur que l’unités</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_ab">6.ab) Elément de liaisons</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_ac">6.ac) Vides inclus dans le l’unités</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_ad">6.ad) Hachure des videss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.uet_ae">6.ae) Escaliers correctement considéréss</md-checkbox>
                                <md-field><label>Remarques</label><md-textarea md-autogrow v-model="controlePPE.uet_remarque"></md-textarea></md-field>
                            </div>
                            <div class="md-layout-item md-size-30 md-small-size-50 md-card">
                                <div class="md-subhead">7. Droits d’usage particuliers</div>
                                <md-checkbox class="md-primary" v-model="controlePPE.dup_a">7.a) Concordance entre les planss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dup_b">7.b) Liseré de même couleur que l’unités</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dup_c">7.c) Liseré traitilléss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dup_d">7.d) Liseré décalé vers l’intérieurs</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dup_e">7.e) Liseré au premier plans</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dup_f">7.f) Liseré ne dépasse pas les limites de bien-fondss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dup_g">7.g) Exclusion des parties communess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dup_h">7.h) Libellés</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.dup_i">7.i) Numérotation uniques</md-checkbox>
                                <md-field><label>Remarques</label><md-textarea md-autogrow v-model="controlePPE.dup_remarque"></md-textarea></md-field>
                            </div>
                            <div class="md-layout-item md-size-30 md-small-size-50 md-card">
                                <div class="md-subhead">8. Formule de légende</div>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_a">8.a) Nom du cadastres</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_b">8.b) n° du bien-fonds de bases</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_c">8.c) Lettres des unités et annexess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_d">8.d) Niveau(x) des unités et annexess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_e">8.e) Situation des unitéss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_f">8.f) Appellation des unités et annexess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_g">8.g) Nombre de pièces et balcons pour les logementss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_h">8.h) Nombre et type de locaux pour les annexess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_i">8.i) Récapitulatif des documentss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_j">8.j) Lieu et dates</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_k">8.k) Nom et signature de l’architectes</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_l">8.l) Surface des unités et annexess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_m">8.m) n° de bien-fonds des unités modifiéess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_n">8.n) Paragraphe spécifique expliquant l’origine de la modifications</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_o">8.o) Mise en page correctes</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_p">8.p) « Cadastre de … »s</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_q">8.q) « PPE sur le bien-fonds … »s</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_r">8.r) Unités par ordre alphabétiques</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_s">8.s) Niveaux sur la même ligne et séparés par un « - »s</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_t">8.t) Surfaces arrondies au m2s</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_u">8.u) Situation de l’unité correctes</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_v">8.v) Appellations des unités et annexes correctess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_w">8.w) Critères « pièce » respectéss</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_x">8.x) Récapitulatif corrects</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.leg_y">8.y) Seules les unités nouvelles et modifiées figurents</md-checkbox>
                                <md-field><label>Remarques</label><md-textarea md-autogrow v-model="controlePPE.leg_remarque"></md-textarea></md-field>
                            </div>
                            <div class="md-layout-item md-size-30 md-small-size-50 md-card">
                                <div class="md-subhead">9. Balance de surfaces</div>
                                <md-checkbox class="md-primary" v-model="controlePPE.balsurf_a">9.a) Unités et annexes ancien états</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.balsurf_b">9.b) Unités et annexes nouvel états</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.balsurf_c">9.c) Surfaces des unités et annexess</md-checkbox>
                                <md-checkbox class="md-primary" v-model="controlePPE.balsurf_d">9.d) Surfaces échangéess</md-checkbox>
                                <md-field><label>Remarques</label><md-textarea md-autogrow v-model="controlePPE.balsurf_remarque"></md-textarea></md-field>
                            </div>

                            <div class="md-layout-item md-size-20 md-small-size-20" style="position: absolute; bottom: 80px; right: 10px;">
                                <div class="md-alignment-bottom-right">

                                    <md-datepicker v-model="controlePPE.date" md-immediately></md-datepicker>

                                    <md-autocomplete v-model="controlePPE.operateur" :md-options="operateurs_liste" @md-changed="getFormOperateur" md-dense>
                                        <label>Opérateur</label>
                                    </md-autocomplete>
                                </div>
                            </div>
                        </div>


                        <div class="md-layout md-alignment-bottom-right" v-if="showCancelSaveBtn">
                            <md-button class="md-accent md-raised" v-on:click="onCancelEditControlePPE" v-if="!affaireReadonly">
                                Annuler
                            </md-button>

                            <md-button class="md-primary md-raised md-top-right"
                                v-on:click="onConfirmEditControlePPE" v-if="!affaireReadonly">
                                Enregistrer
                            </md-button>
                        </div>
                    </div>
                    <div v-else>
                        <em>Aucun contrôle</em>
                    </div>
                </md-card-content>
            </md-card-expand-content>
        </md-card-expand>
    </md-card>
</div>