import os, site

# replace path here with the root path of your app
root="/path/to/your/api/back"

site.addsitedir(root + "/env/Lib/site-packages") 

from pyramid.paster import get_app, setup_logging

configfile = os.path.join(root, "production.ini")
setup_logging(configfile)
application = get_app(configfile)
