<div class="about">
    <md-card>
        <md-card-header>
            <div class="md-title"><b>Listing des améliorations apportées d'une version à une autre.</b></div>
        </md-card-header>
    </md-card>

    <md-card>
        <md-card-header>
            <div-md-title><div class="md-title">05.08.2020</div></div-md-title>
        </md-card-header>
        <md-card-content>
            <md-list>
                <md-list-item>
                    <md-icon>check_box</md-icon>
                    <span class="md-list-item-text">Gestion améliorée des adresses (notamment de facturation).</span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box</md-icon>
                    <span class="md-list-item-text">Réservation de numéros: le type de numéro est défini automatiquement à la réservation selon le type d'affaire.
                        <span class="md-list-item-text" style="font-weight: bold; color: red;">La réservation de numéros (DP, Bâtiments, etc) n'est pas encore disponible !!</span>
                    </span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box</md-icon>
                    <span class="md-list-item-text">Affichage des panneaux déroulant de la consultation de l'affaire selon le type d'affaire et réordonné.</span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box</md-icon>
                    <span class="md-list-item-text">Date de validation de l'affaire: proposition de mise à jour lorsque le contrôle a été réalisé. Une erreur est levée lorsque la date est inférieure à une étape ultérieure.</span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box</md-icon>
                    <span class="md-list-item-text">Création d'affaire et facturation: ajout d'un bouton pour recharger la liste des clients si un client a été enregistré à la volée.</span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box</md-icon>
                    <span class="md-list-item-text">Changement de type d'affaire dans le panneau de consultation possible seulement dans certains cas (affaire de type autre à division par exemple).</span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box</md-icon>
                    <span class="md-list-item-text">Création de client: formulaire revisité (distinction personne morale vs personne physique et liste de sélection pour le titre d^'une personne physique).</span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box</md-icon>
                    <span class="md-list-item-text">Corrections de bugs.</span>
                </md-list-item>

                <md-list-item>
                    <md-icon>check_box_outline_blank</md-icon>
                    <span class="md-list-item-text">Recherche de client par type_client/nom/prénom/nom entreprise.</span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box_outline_blank</md-icon>
                    <span class="md-list-item-text">Réservation de numéros (Bâtiments, DP, etc).</span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box_outline_blank</md-icon>
                    <span class="md-list-item-text">Imprimer quittance immeubles réservés.</span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box_outline_blank</md-icon>
                    <span class="md-list-item-text">Modification d'affaire - suppression partielle.</span>
                </md-list-item>
                <md-list-item>
                    <md-icon>check_box_outline_blank</md-icon>
                    <span class="md-list-item-text">Affaire de division: contrôler s'il y a des DDP créés et s'il existait des DDP sur les biens-fonds à supprimer.</span>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>