<div class="about">
    <md-toolbar>
        <h1>A propos</h1>
    </md-toolbar>

    <md-card>
        <md-card-header>
            <div class="md-title"><b>Listing des améliorations apportées d'une version à une autre</b></div>
        </md-card-header>
        <md-card-content>
            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 18.02.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction du chargement de la page de cockpit.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction diverses et adaptation des droits selon le type d'utilisateur.</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>


            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 11.02.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Récupération des dossiers de travail de l'affaire (consultables dans l'onglet Documents).</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction étape de saisie de la balance: validation technique.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Ajout possibilité de supprimer un préavis en passant par le bouton action.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction des droits sur l'application sur le frontend.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Création d'une section de gestion des biens-fonds mat diff qui ont été matérialisés pour la création de la req.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Mise à jour du login avec les nouveaux groupes LDAP.</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>


            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 05.02.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Affichage de la balance (+ récupération) à partir du moment de la préparation du dossier final (phase précédant l'envoi).</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction de l'importation des affaires de modification.</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>


            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 04.02.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Ajout de la navigation entre les affaires de base et les affaires de modification en cliquant sur le bouton contenant le numéro d'affaire.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Suppression désormais possible de la mention mat diff losque l'affaire est envoyée ou cloturée.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction de l'import des numéros avec mention mat-diff.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction de l'importation des affaires de type modification.</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>


            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 03.02.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Numéros et BF liés à l'affaire: la réservation n'est plus possible lorsque la date d'envoi de l'affaire est saisie.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Cockpit: filtrer par opérateur et revenir à une vue avec tous les opérateur.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Ajout d'une barre de chargement pour indiquer quand le tableau du cockpit charge les affaires.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Uniformisation des termes chef d'équipe, technicien et collaborateur. Désormais: opérateur.</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>


            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 02.02.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Suppression type d'affaire Devis. On ouvre une affaire normale et on passe par l'étape "devis" pour créer les devis.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Récupération du masque de cockpit (suivi technique de l'affaire) et ajout du filtre par opérateur.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Récupération de l'historique des affaires du tableau de suivi des affaires (à l'exception des affaires de cadastrations et rétablissement de PFP3).</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>


            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 28.01.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Ajout réservation de numéros MO dans l'affaire de cadastration.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Affichage des clients pour la facturation dans le résumé de l'affaire.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction de la recherche d'affaire par client.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Enregistrement de la balance.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction de l'affichage de la map lorsque la fenêtre du navigateur n'est pas à l'échelle 100% (Il ne faut pas modifier l'échelle de la page en cours de consultation, mais recharger la page après).</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>


            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 22.01.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Adaptation du contenu affiché par type d'affaire.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction du format de la date dans le bordereau de l'affaire.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction de l'import de la base de données clients.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Mise à jour du bordereau de l'affaire.</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>


            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 13.01.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Envoi d'e-mail lors de changement d'étape (reste à paramétrer si les acteurs souhaitent ou non recevoir un mail).</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Sélection de l'opérateur dans le dialoge de changemenet d'état (il n'est plus obligatoire de le saisir à la création de l'affaire).</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>


            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 12.01.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Données importées depuis Access.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Client - correction clients "personnes individuelle": possibilité d'ajouter un nom d'entreprise.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Client - correction à l'importation: récupère les noms des entreprises/ASSA/SARL, etc. contenus jusqu'alors dans la rubrique Titre dans ACCESS.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Consultation d'affaire: correction du zoom.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction de bugs divers.</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>


            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 05.01.2021</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Base de données: importer les données de Access.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Réactivation de l'affaire: Possibilité de réactiver une affaire abandonnée ou clôturée et de revenir à l'état juridique précédent.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Préavis: A la création d'un préavis, le fichier est automatiquement généré et enregistré dans le dossier de l'affaire.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Création d'affaire: Le champ 'Description' est obligatoire.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Dossier de l'affaire: Affiche le contenu du dossier de l'affaire et permet de télécharger les fichiers.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Informations générales de l'affaire: ajout d'un espace d'informations générales ou spécificités de l'affaire et suppression de l'espace de remarques de l'affaire.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Facturation: ajout d'une section "devis".</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Suivi affaire: Envoi d'un e-mail de notification à la personne concernée par la prochaine étape avec l'historique de l'affaire.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Suivi affaire: Correction de la sélection auto de l'étape suivant.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Contrôles et suivis: Il n'est plus nécessaire d'entrer la date et le nom de l'opérateur, ils sont récupérés à la volée.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Réservation de numéros de la MO: Validation du formulaire + demande de confirmation de la réservation avant enregistrement.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Cadastration: Possibilité de référencer des biens-fonds à une facture.</span>
                        </md-list-item>

                        <md-list-item>
                            <md-icon>check_box_outline_blank</md-icon>
                            <span class="md-list-item-text">Balances: Intégrer les contrôles des biens-fonds mutés.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box_outline_blank</md-icon>
                            <span class="md-list-item-text">Affaire de RP: Ajout "Provient du RP" et "Va dans le RP" dans les balances.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box_outline_blank</md-icon>
                            <span class="md-list-item-text">Affaire de division: contrôler s'il y a des DDP créés et s'il existait des DDP sur les biens-fonds à supprimer.</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 09.10.2020</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Controle du géomètre: Créé.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Balance: Récupérées depuis GEOS.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Ajout du DP dans les balances.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Cadastration: Possibilité de référencer des biens-fonds à une facture.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Abandon d'affaire: Ajout d'un bouton abrégé pour la clôture et l'abandon de l'affaire. L'abandon occasionne l'abandon des numéros réservés.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Numéros de la MO (PFP, DP, bâtiments, etc): réservation et affichage des numéros réservés dans l'affaire (réservations pas encore récupérées de ACCESS) et prise en comte des "cadastres conjoints", comme la Chaux-de-Fonds et les Eplatures.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Numéros de la MO: Télécharger la réquisition de radiation de mat-diff.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Controle PPE: Formulaire mis à jour + gestion de plusieurs contrôles.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Cadastration: Générer une lettre pour le propriétaire et une req pour le RF.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Préavis: adaptation des adresses de demande au SCAT aux services de l'urbanisme des villes.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Correction de bugs.</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-header>
                    <div class="md-title">Etat au 14.08.2020</div>
                </md-card-header>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Générer la page de demande (bouton "Bordereau de l'affaire" en haut de la page de consultation d'une affaire).</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Imprimer quittance immeubles réservés. Bouton visible dans l'encart "Réservation de numéros" si au moin un numéro est réservé.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Modification d'affaire - abandon partiel: mise à jour de l'affaire, création d'une affaire de suppression des biens-fonds référencés (l'affaire de modification est clôturée à la création et l'affaire fille reste active).</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Modification d'affaire: lorsque la modification récupère tous les numéros de l'affaire de base (i.e. plus aucun numéro n'est actif dans l'affaire de base), l'affaire de base est clôturée à l'ouverture de l'affaire de modification.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Possibilité d'enregistrer des personnes de contact pour un client "personne moral".
                                <span class="md-list-item-text">Les contacts sont proposés dans le champ "A l'attention de..." lors de la création d'affaire ou de la création de facture.</span>
                            </span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Gestion améliorée des adresses (notamment de facturation).</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Réservation de numéros: le type de numéro est défini automatiquement à la réservation selon le type d'affaire.
                                <span class="md-list-item-text" style="font-weight: bold; color: red;">La réservation de numéros (DP, Bâtiments, etc) n'est pas encore disponible !!</span>
                            </span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Affichage des panneaux déroulant de la consultation de l'affaire selon le type d'affaire et réordonné.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Date de validation de l'affaire: proposition de mise à jour lorsque le contrôle a été réalisé. Une erreur est levée lorsque la date est inférieure à une étape ultérieure.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Création d'affaire et facturation: ajout d'un bouton pour recharger la liste des clients si un client a été enregistré à la volée.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Changement de type d'affaire dans le panneau de consultation possible seulement dans certains cas (affaire de type autre à division par exemple).</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Création de client: formulaire revisité (distinction personne morale vs personne physique et liste de sélection pour le titre d'une personne physique).</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Recherche de client par type_client/nom/prénom/nom entreprise.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Recherche d'affaire par client.</span>
                        </md-list-item>
                        <md-list-item>
                            <md-icon>check_box</md-icon>
                            <span class="md-list-item-text">Corrections de bugs.</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </md-card-content>
    </md-card>
</div>