<div class="facturation">
    <md-card>
        <md-card-header class="justifyTitleBtn">
            <div class="md-title">
                <md-card-expand-trigger>
                    <md-button class="md-icon-button expandCollapseBtn" @click.native="showNewFactureBtn = !showNewFactureBtn">
                        <md-icon>keyboard_arrow_down</md-icon>
                    </md-button>
                </md-card-expand-trigger>
                Devis et factures
            </div>
            <div>
                <md-button class="md-primary" v-on:click="openEmolumentsDialog" v-if="showNewFactureBtn && permission.editEmolumentAllowed">Nouvel Emolument</md-button>
                <md-button class="md-primary" v-on:click="newFacture('devis')" v-if="showNewFactureBtn && permission.editFactureAllowed">Nouveau devis</md-button>
                <md-button class="md-primary" v-on:click="newFacture('facture')" v-if="showNewFactureBtn">Nouvelle facture</md-button>
            </div>
        </md-card-header>

        <md-card-expand>
            <md-card-expand-content>
                <md-card-content>

                    <h3>Devis</h3>
                    
                    <!-- Emoluments -->
                    <div v-if="$refs.emoluments && $refs.emoluments.emolumentsGeneral_list && $refs.emoluments.emolumentsGeneral_list[0]">
                        <ul>
                            <li v-for="item in $refs.emoluments.emolumentsGeneral_list" v-if="item.facture_type_id === configFactureTypeID.devis">
                                <a @click="$refs.emoluments.openEmolumentDialog(item.id)">Emolument id: {{ item.id }} ( {{ item.nb_batiments }} bâtiment<span v-if="item.nb_batiments > 1">s</span>
                                    <span v-if="item.numeros.length > 0"> | bien<span v-if="item.numeros.length > 1">s</span>-fonds: <template v-for="num in item.numeros"> {{ num.numero }}</template></span>
                                    <span v-if="item.remarque"> | {{ item.remarque }}</span>
                                    )
                                    <span v-if="item.utilise"> - Utilisé</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div v-if="affaire_devis[0]">
                        <md-table v-model="affaire_devis" md-sort="date" md-sort-order="desc" md-fixed-header>
                            <md-table-row slot="md-table-row" slot-scope="{ item }">
                                <md-table-cell md-label="Id" md-sort-by="id" v-if="false">{{ item.id }}</md-table-cell>
                                <md-table-cell md-label="SAP" md-sort-by="sap" style="width: 5%;">{{ item.sap }}</md-table-cell>
                                <md-table-cell md-label="Date" md-sort-by="date" style="width: 5%;">{{ item.date }}</md-table-cell>
                                <md-table-cell md-label="Biens-fonds" md-sort-by="numero" style="width: 5%;" v-if="affaire.type_id === typesAffaires_conf.cadastration">{{ item.numeros.join(", ") }}</md-table-cell>
                                <md-table-cell md-label="Client" md-sort-by="adresse_facturation_" style="width: 15%;">{{ item.adresse_facturation_ }}</md-table-cell>
                                <md-table-cell md-label="MO" md-sort-by="montant_mo" style="width: 5%;">CHF {{ item.montant_mo }}</md-table-cell>
                                <md-table-cell md-label="Mat Diff" md-sort-by="montant_mat_diff" style="width: 5%;">CHF {{ item.montant_mat_diff }}</md-table-cell>
                                <md-table-cell md-label="RF" md-sort-by="montant_rf" style="width: 5%;">CHF {{ item.montant_rf }}</md-table-cell>
                                <md-table-cell md-label="TVA" md-sort-by="montant_tva" style="width: 5%;">CHF {{ item.montant_tva }}</md-table-cell>
                                <md-table-cell md-label="Total" md-sort-by="montant_total" style="width: 5%;">CHF {{ item.montant_total }}</md-table-cell>
                                <md-table-cell md-label="Remarque" md-sort-by="remarque" style="width: 10%;">{{ item.remarque }}</md-table-cell>
                                <md-table-cell md-label="Actions" class="actionsColumn" v-if="permission.editFactureAllowed" style="width: 15%;">
                                    <md-button class="md-icon-button md-primary md-dense" @click="openFactureEdition(item, 'devis')">
                                        <md-icon>edit</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button md-accent md-dense" v-on:click="callDeleteFacture(item)">
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>
                    <div v-else>
                        <em>Aucun devis</em>
                    </div>
                    
                    <md-divider></md-divider>
                    <h3>Factures</h3>

                    <!-- Emoluments -->
                    <div v-if="$refs.emoluments && $refs.emoluments.emolumentsGeneral_list && $refs.emoluments.emolumentsGeneral_list[0]">
                        <ul>
                            <li v-for="item in $refs.emoluments.emolumentsGeneral_list" v-if="item.facture_type_id === configFactureTypeID.facture">
                                <a @click="$refs.emoluments.openEmolumentDialog(item.id)">Emolument id: {{ item.id }} ( {{ item.nb_batiments }} bâtiment<span v-if="item.nb_batiments > 1">s</span>
                                    <span v-if="item.numeros.length > 0"> | bien<span v-if="item.numeros.length > 1">s</span>-fonds: <template v-for="num in item.numeros"> {{ num.numero }}</template></span>
                                    <span v-if="item.remarque"> | {{ item.remarque }}</span>
                                    )
                                    <span v-if="item.utilise"> - Utilisé</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div v-if="affaire_factures[0]">
                        <md-table v-model="affaire_factures" md-sort="date" md-sort-order="desc" md-fixed-header>
                            <md-table-row slot="md-table-row" slot-scope="{ item }">
                                <md-table-cell md-label="Id" md-sort-by="id" v-if="false">{{ item.id }}</md-table-cell>
                                <md-table-cell md-label="Date" md-sort-by="date" style="width: 5%;">{{ item.date }}</md-table-cell>
                                <md-table-cell md-label="Biens-fonds" md-sort-by="numero" style="width: 5%;" v-if="affaire.type_id === typesAffaires_conf.cadastration">{{ item.numeros.join(", ") }}</md-table-cell>
                                <md-table-cell md-label="SAP Client" md-sort-by="client_no_sap" style="width: 5%;">{{ item.client_no_sap }}</md-table-cell>
                                <md-table-cell md-label="Client" md-sort-by="adresse_facturation_" style="width: 15%;">{{ item.adresse_facturation_ }}</md-table-cell>
                                <md-table-cell md-label="MO" md-sort-by="montant_mo" style="width: 5%;">CHF {{ item.montant_mo }}</md-table-cell>
                                <md-table-cell md-label="Mat Diff" md-sort-by="montant_mat_diff" style="width: 5%;">CHF {{ item.montant_mat_diff }}</md-table-cell>
                                <md-table-cell md-label="RF" md-sort-by="montant_rf" style="width: 5%;">CHF {{ item.montant_rf }}</md-table-cell>
                                <md-table-cell md-label="TVA" md-sort-by="montant_tva" style="width: 5%;">CHF {{ item.montant_tva }}</md-table-cell>
                                <md-table-cell md-label="Total" md-sort-by="montant_total" style="width: 5%;">CHF {{ item.montant_total }}</md-table-cell>
                                <md-table-cell md-label="SAP Facture" md-sort-by="sap" style="width: 5%;">{{ item.sap }}</md-table-cell>
                                <md-table-cell md-label="Remarque" md-sort-by="remarque" style="width: 10%;">{{ item.remarque }}</md-table-cell>
                                <md-table-cell md-label="Actions" class="actionsColumn" style="width: 15%;">
                                    <md-button class="md-icon-button md-primary md-dense" @click="openFactureEdition(item, 'facture')">
                                        <md-icon>edit</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button md-accent md-dense" v-on:click="callDeleteFacture(item)" v-if="permission.editFactureAllowed">
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </md-table-cell>
                                <md-table-cell md-label="Lettre Propriétaire" class="actionsColumn" v-if="permission.editFactureAllowed && affaire.type_id === typesAffaires_conf.cadastration" style="width: 15%;">
                                    <md-button class="md-primary md-icon-button md-dense" v-on:click="generateLettreProprietaire(item)" title="Générer les documents pour le RF et le propriétaire">
                                        <md-icon>save_alt</md-icon>
                                    </md-button>
                                </md-table-cell>
                                <md-table-cell md-label="Réquisition RF" class="actionsColumn" v-if="permission.editFactureAllowed && affaire.type_id === typesAffaires_conf.cadastration" style="width: 15%;">
                                    <md-button class="md-primary md-icon-button md-dense" v-on:click="generateReqRF(item)" title="Générer les documents pour le RF et le propriétaire">
                                        <md-icon>save_alt</md-icon>
                                    </md-button>
                                </md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>
                    <div v-else>
                        <em>Aucune facture</em>
                    </div>
                </md-card-content>
            </md-card-expand-content>
        </md-card-expand>
    </md-card>
    
    
    <md-dialog :md-active.sync="showFactureDialog" md-title="Edition facture">
        <md-dialog-title>Edition facture</md-dialog-title>
        
        <md-dialog-content>
            
            <div class="md-layout md-gutter" v-if="affaire.type_id === typesAffaires_conf.cadastration">
                <div class="md-layout-item md-size-100">
                    <md-divider></md-divider>
                    <md-subheader>Bien(s)-fonds</md-subheader>
                    <md-divider></md-divider>
                    
                    <!-- Création de facture -->
                    <div v-if="showReferenceNumeroFacture">
                        <md-table v-model="numeros_references_restant" md-fixed-header md-card @md-selected="onSelectNumeroReference" 
                            md-sort="numero" md-sort-order="asc">
                            <md-table-empty-state md-label="Tous les biens-fonds sont rattachés à une facture"></md-table-empty-state>
                            <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple">
                                <md-table-cell v-if="false">{{ item.numero_id }}</md-table-cell>
                                <md-table-cell md-label="Cadastre" md-sort-by="numero_cadastre">{{ item.numero_cadastre }}</md-table-cell>
                                <md-table-cell md-label="Bien-fonds" md-sort-by="numero">{{ item.numero }}</md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>
                    <!-- Modification de facture -->
                    <div v-else>
                        <md-table v-model="selectedFacture.numeros_obj" md-fixed-header md-card md-sort="numero" md-sort-order="asc">
                            <md-table-empty-state md-label="Aucun bien-fonds"></md-table-empty-state>
                            <md-table-row slot="md-table-row" slot-scope="{ item }">
                                <md-table-cell v-if="false">{{ item.numero_id }}</md-table-cell>
                                <md-table-cell md-label="Cadastre" md-sort-by="numero_cadastre">{{ item.numero_cadastre }}</md-table-cell>
                                <md-table-cell md-label="Bien-fonds" md-sort-by="numero">{{ item.numero }}</md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>
                </div>
            </div>
            
            <br>
            <br>
            <md-divider></md-divider>
            <br>
            <br>
            
            <div class="md-layout md-gutter md-alignment-top-space-between">
                
                <!-- Client facture -->
                <div class="md-layout-item md-size-60">
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-size-50">
                            <md-field>
                                <label>No SAP facture</label>
                                <md-input v-model="selectedFacture.sap" :disabled="!permission.editFactureAllowed"></md-input>
                            </md-field>
                        </div>
                        
                        <div class="md-layout-item md-size-50">
                            <div style="text-align: right;"></div>
                            <md-datepicker v-model="selectedFacture.date" md-immediately>
                                <label>Date</label>
                            </md-datepicker>
                        </div>
                    </div>
                </div>
                
                <div class="md-layout-item md-size-60" v-if="affaire.type_id !== typesAffaires_conf.cadastration">
                    <br>
                    <md-divider></md-divider>
                    
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-size-50">
                            <md-subheader>Adresse de la facture</md-subheader>
                        </div>
                        <div class="md-layout-item md-size-50">
                            <div style="text-align: right;">
                                <md-button class="md-primary md-dense md-elevation-3" @click="searchClients">Recharger la liste des clients <md-icon>replay</md-icon></md-button>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
        
                    <md-field>
                        <label>Hoirie... / PPE... (optionnel)</label>
                        <md-input v-model="selectedFacture.client_premiere_ligne"></md-input>
                    </md-field>
        
                    <!-- <md-autocomplete v-model="selectedClient" :md-options="clients_liste_select" @md-selected="setSelectedClientObject(selectedClient)" :class="getValidationClass('client')" -->
                    <md-autocomplete v-model="selectedClient" :md-options="clients_liste_select" @md-selected="setSelectedClientObject(selectedClient)"
                        @md-changed="getClientSearch(selectedClient)" required md-dense>
                        <label>Facturer à (débiteur)</label>
                        <template slot="md-autocomplete-empty" slot-scope="{ term }" v-if="term && term.length > 2">
                            Pas de client correspondant à la recherche "{{ term }}". <a @click="openCreateClient" v-if="permission.editClientAllowed">Créer le client !</a>
                        </template>
                        <!-- <span class="md-error" v-if="!$v.selectedFacture.client.objectValidation">Le client est obligatoire</span> -->
                    </md-autocomplete>

                    <div style="background-color: #eff551;" v-if="selectedClient && selectedClient.besoin_vref_facture">
                        <md-icon style="margin-left: 5px;">warning</md-icon> <span>Le client demande d'indiquer une référence sur la facture.</span>
                    </div>
        
                </div>

                <!-- Montants de facturation -->
                <div class="md-layout-item md-size-40">
                    <div style="float: right;">
                        <md-field :class="getValidationClass('montant_mo')">
                            <label>Montant MO</label>
                            <span class="md-prefix">CHF</span>
                            <md-input class="currency" v-model="selectedFacture.montant_mo" v-on:keyup="computeTotal()" @focus="$event.target.select()" @change="setFinanceFormat('montant_mo')" required :disabled="!permission.editFactureAllowed"></md-input>
                            <span class="md-error" v-if="!$v.selectedFacture.montant_mo.required">Le montant MO est obligatoire</span>
                        </md-field>
        
                        <md-field :class="getValidationClass('montant_mat_diff')">
                            <label>Montant mat diff</label>
                            <span class="md-prefix">CHF</span>
                            <md-input class="currency" v-model="selectedFacture.montant_mat_diff" v-on:keyup="computeTotal()" @focus="$event.target.select()" @change="setFinanceFormat('montant_mat_diff')" required :disabled="!permission.editFactureAllowed"></md-input>
                            <span class="md-error" v-if="!$v.selectedFacture.montant_mat_diff.required">Le montant mat diff est obligatoire</span>
                        </md-field>
        
                        <md-field :class="getValidationClass('montant_rf')">
                            <label>Montant RF</label>
                            <span class="md-prefix">CHF</span>
                            <md-input class="currency" v-model="selectedFacture.montant_rf" v-on:keyup="computeTotal()" @focus="$event.target.select()" @change="setFinanceFormat('montant_rf')" required :disabled="!permission.editFactureAllowed"></md-input>
                            <span class="md-error" v-if="!$v.selectedFacture.montant_rf.required">Le montant RF est obligatoire</span>
                        </md-field>
        
                        <md-field :class="getValidationClass('montant_tva')">
                            <label>TVA</label>
                            <span class="md-prefix">CHF</span>
                            <md-input class="currency" v-model="selectedFacture.montant_tva" v-on:keyup="computeTotal()" @focus="$event.target.select()" @change="setFinanceFormat('montant_tva')" required :disabled="!permission.editFactureAllowed"></md-input>
                            <span class="md-error" v-if="!$v.selectedFacture.montant_tva.required">Le montant de TVA est obligatoire</span>
                        </md-field>
        
                        <md-field>
                            <label>Total</label>
                            <span class="md-prefix">CHF</span>
                            <md-input class="currency" v-model="selectedFacture.montant_total" readonly></md-input>
                        </md-field>
                    </div>
                </div>

            </div>


            <md-field>
                <label>Remarque</label>
                <md-textarea v-model="selectedFacture.remarque"></md-textarea>
            </md-field>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-accent" @click="onCancelEditFacture">Annuler</md-button>
            <md-button class="md-primary" @click="onConfirmEditFacture">Enregistrer</md-button>
        </md-dialog-actions>
    </md-dialog>

    <!-- Dialogue confirmation suppression facture -->
    <div>
        <md-dialog-confirm :md-active.sync="deleteFactureActive" md-title="Supprimer la facture" :md-content="deleteFactureMessage" md-confirm-text="Confirmer" md-cancel-text="Annuler" @md-confirm="onConfirmDelete" @md-cancel="onCancelDelete" />
    </div>

    <Emoluments ref="emoluments"
                :affaire="affaire"
                :typesAffaires_conf="typesAffaires_conf"
                :clientTypes_conf="clientTypes_conf"
                :numeros_references="numeros_references_bk"
                :permission="permission"
                :configFactureTypeID="configFactureTypeID"
                :affaire_factures="affaire_factures"
                :factureTypes="factureTypes" />

</div>
