<div  class="reservationNumeros">

    <md-dialog :md-active.sync="showReservationDialog" 
        md-confirm-text="Enregistrer" 
        md-cancel-text="Annuler"
        md-title="Réservation de numéros"
        :md-close-on-esc="false"
        :md-click-outside-to-close="false">
        <md-dialog-title>Réservation de numéros</md-dialog-title>
    <md-dialog-content>


        <md-card-content>
            <!-- Affaire -->
            <div class="md-layout md-gutter">
                <!-- Cadastre -->
                <div class="md-layout-item">
                    <md-autocomplete v-model="reservation.cadastre" :md-options="cadastre_liste">
                        <label>Cadastre</label>
                        <template slot="md-autocomplete-item" scope="{ item }">
                            {{ item.nom }}
                        </template>
                    </md-autocomplete>
                </div>
                <div class="md-layout-item md-small-size-100">
                    <!-- <md-field>
                        <label>Affaire ID</label>
                        <md-input v-model="affaire_id" class="textAlignRight" readonly></md-input>
                    </md-field> -->
                </div>
            </div>
        </md-card-content>

        <md-divider />

        <md-card class="md-elevation-0 simple">

            <div class="leftColumn">
                <md-card class="md-elevation-0 simple">
                    <!-- Immeubles -->
                    <md-card-header>
                        <div class="md-title">Immeubles</div>
                    </md-card-header>

                    <md-card-content>
                        <!-- Biens-fonds -->
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Biens-fonds</label>
                                    <md-input v-model="reservation.nb_bf" type="number" min="0" class="textAlignRight">
                                    </md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-small-size-100"></div>
                        </div>
                        <!-- Droits distincts et permanents -->
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>DDP</label>
                                    <md-input v-model="reservation.nb_ddp" type="number" min="0" class="textAlignRight">
                                    </md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-small-size-100"></div>
                        </div>
                        <!-- Unités de PPE -->
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Unités de PPE</label>
                                    <md-input v-model="reservation.nb_ppe" type="number" min="0" class="textAlignRight">
                                    </md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-small-size-100">
                                <md-field v-if="reservation.nb_ppe>0">
                                    <label>Lettre de départ</label>
                                    <md-input v-model="reservation.ppe_suffixe_start"
                                        onkeypress="return /[A-HJ-Z]/i.test(event.key)" maxlength="2"></md-input>
                                </md-field>
                            </div>
                        </div>
                        <!-- Parts de copropriété -->
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Parts de copropriété</label>
                                    <md-input v-model="reservation.nb_pcop" type="number" min="0"
                                        class="textAlignRight">
                                    </md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-small-size-100"></div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>

            
            <div class="rightColumn">
                <md-card class="md-elevation-0 simple">
                    <!-- Points de la MO -->
                    <md-card-header>
                        <div class="md-title">Points de la MO</div>
                    </md-card-header>

                    <md-card-content>
                        <!-- PFP3 -->
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>PFP3</label>
                                    <md-input v-model="reservation.nb_pfp3" type="number" min="0"
                                        class="textAlignRight">
                                    </md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-small-size-100"></div>
                        </div>
                        <!-- Points auxiliaires -->
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Points auxiliaires</label>
                                    <md-input v-model="reservation.nb_paux" type="number" min="0"
                                        class="textAlignRight">
                                    </md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-small-size-100"></div>
                        </div>
                        <!-- Bâtiments -->
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Bâtiments</label>
                                    <md-input v-model="reservation.nb_bat" type="number" min="0" class="textAlignRight">
                                    </md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-small-size-100"></div>
                        </div>
                        <!-- Couverture du sol -->
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label>Couverture du sol</label>
                                    <md-input v-model="reservation.nb_pcs" type="number" min="0" class="textAlignRight">
                                    </md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-small-size-100">
                                <md-field v-if="reservation.nb_pcs>0">
                                    <label>Plan</label>
                                    <md-input v-model="reservation.plan_id" type="number" min="0"
                                        class="textAlignRight">
                                    </md-input>
                                </md-field>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-card>

        <md-divider />


        <md-dialog-actions>
            <md-button class="md-accent" @click="onCancelReservationNumeros">Annuler</md-button>
            <md-button class="md-primary" @click="onConfirmReservationNumeros">Enregistrer</md-button>
        </md-dialog-actions>

    </md-dialog-content>
    </md-dialog>

</div>