.operateurs{
    width: 100%;
    float: left;
    overflow: auto;
}


.operateurs .actionsColumn{
    width: 150px !important;
    min-width: 150px !important;
}

/*
.operateurs .operateursResults .md-table{
    overflow: hidden;
}

.operateurs .operateursResults .md-table-content{
    width: 100%;
}*/

.operateurs .newOperateurBtn{
    right: 25px;
    position: absolute;
}

.operateurs .expandCollapseBtn{
    position: absolute;
    left: 115px;
    top: 22px;
}

