<div class="operateurs">
    <md-toolbar class="justifyTitleBtn">
        <h1>Opérateurs</h1>
        <md-button class="md-raised md-accent" @click="createUser" v-if="editionOperateursAllowed">Nouvel opérateur</md-button>
    </md-toolbar>

    <div v-if="divEditUser.show">
        <md-card>
            <md-card-header>
                <div class="md-title">{{ divEditUser.title }}</div>
            </md-card-header>
            <md-card-content>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-25 md-small-size-100">
                        <md-field>
                            <label>Nom</label>
                            <md-input v-model="form.nom"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-25 md-small-size-100">
                        <md-field>
                            <label>Prénom</label>
                            <md-input v-model="form.prenom"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-10 md-small-size-100">
                        <md-field>
                            <label>Initiales</label>
                            <md-input v-model="form.initiales"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-15 md-small-size-100">
                        <md-field>
                            <label>Login</label>
                            <md-input v-model="form.login"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-25 md-small-size-100">
                        <md-field>
                            <label>Adresse e-mail</label>
                            <md-input v-model="form.mail"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-25 md-small-size-50" style="display: flex;">
                        <md-datepicker v-model="form.entree" md-immediately>
                            <label>Date d'entrée</label>
                        </md-datepicker>
                        <md-datepicker v-model="form.sortie" md-immediately>
                            <label>Date de sortie</label>
                        </md-datepicker>
                    </div>
                    <div class="md-layout-item md-size-25 md-small-size-50">
                        <md-field>
                            <label>Service</label>
                            <md-select v-model="form.service_id" md-dense>
                                <md-option v-for="item in services" :key="item.id" :value="item.id">{{ item.nom_ }}</md-option>
                            </md-select>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-25 md-small-size-50">
                        <md-field>
                            <label>Rôle</label>
                            <md-select v-model="form.role_id" md-dense>
                                <md-option v-for="item in roles" :key="item.id" :value="item.id">{{ item.nom_ }}</md-option>
                            </md-select>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-25 md-small-size-100">
                        <md-field>
                            <label>Domaine LDAP</label>
                            <md-input v-model="form.ldap_domain" maxlength="5" @keyup="textUpperCase()"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-25 md-small-size-50" style="display: flex;">
                        <md-checkbox v-model="form.responsable">Responsable</md-checkbox>
                        <md-checkbox v-model="form.chef_equipe">Chef·fe d'équipe</md-checkbox>
                    </div>
                    <div class="md-layout-item md-size-25 md-small-size-50" style="display: flex;">
                        <md-field>
                            <label>Etape-mailer</label>
                            <md-select v-model="form.affaire_etapes_mailer" multiple md-dense>
                                <md-optgroup label="Priorité 1">
                                    <md-option v-for="item in affaireEtapesAll.prio1" :value="item.id">{{ item.nom_ }}</md-option>
                                </md-optgroup>
                                <md-optgroup label="Priorité 2">
                                    <md-option v-for="item in affaireEtapesAll.prio2" :value="item.id">{{ item.nom_ }}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-100 md-small-size-100" style="text-align: right;">
                        <md-button class="md-accent md-elevation-1" @click="onCancelNewOperateur">Annuler</md-button>
                        <md-button class="md-primary md-elevation-1" @click="onSaveNewOperateur">Enregistrer</md-button>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <!-- Search -->
    <md-card>
        <!-- Search Header -->
        <md-card-header>
            <div class="md-title">Recherche</div>
        </md-card-header>

        <md-card-expand-trigger>
            <md-button class="md-icon-button expandCollapseBtn">
                <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
        </md-card-expand-trigger>

        <!-- Search Content -->
        <md-card-expand>
            <md-card-expand-content>
                <md-card-content>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-30">
                            <md-field>
                                <label for="prenom">Prénom</label>
                                <md-input name="prenom" id="prenom" v-model="search.prenom" @keyup="searchOperateurs()" />
                            </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-30">
                            <md-field>
                                <label for="nom">Nom</label>
                                <md-input name="nom" id="nom" v-model="search.nom" @keyup="searchOperateurs()" />
                            </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-30">
                            <md-field>
                                <label for="login">Login</label>
                                <md-input name="login" id="login" v-model="search.login" @keyup="searchOperateurs()" />
                            </md-field>
                        </div>
                    </div>

                    <!-- Search Actions -->
                    <md-card-actions>
                        <md-button class="md-raised"
                                   v-bind:disabled="!search.nom && !search.prenom && !search.login"
                                   v-on:click="clearForm">Réinitialiser
                        </md-button>
                    </md-card-actions>
                </md-card-content>
            </md-card-expand-content>
        </md-card-expand>
    </md-card>

    </br>

    <!-- Results -->
    <div class="operateursResults">

        <md-card>
            <!-- Results Header -->
            <md-card-header>
                <div class="justifyTitleBtn">
                    <div class="md-title">Résultats</div>
                    <div style="overflow: hidden; white-space: nowrap; text-align: right; ">
                        <div>({{ operateurs.length }} opérateur<span v-if="operateurs.length >= 2">s</span> affiché<span v-if="operateurs.length >= 2">s</span> / {{ nb_operateurs_total }} résultat<span v-if="operateurs.length >= 2">s</span>)</div>
                        <md-checkbox v-model="search.old_operateurs" style="margin-right: 0px;" @change="searchOperateurs()">Afficher les anciens opérateurs</md-checkbox>
                    </div>
                </div>
            </md-card-header>

            <!-- Results Content -->
            <md-card-content>
                <md-table md-height="100%" v-model="operateurs" md-sort="nom" md-fixed-header>
                    <md-table-row slot="md-table-row" slot-scope="{ item }" v-bind:class="{disabledTableRow: item.sortie!==null}">
                        <md-table-cell md-label="Id" md-sort-by="id" v-if="false">{{ item.id }}</md-table-cell>
                        <md-table-cell md-label="Prénom" md-sort-by="prenom">{{ item.prenom }}</md-table-cell>
                        <md-table-cell md-label="Nom" md-sort-by="nom">{{ item.nom }}</md-table-cell>
                        <md-table-cell md-label="Service" md-sort-by="service">{{ item.service }}</md-table-cell>
                        <md-table-cell md-label="Rôle" md-sort-by="role">{{ item.role }}</md-table-cell>
                        <md-table-cell md-label="Chef d'équipe" md-sort-by="chef_equipe">{{ item.chef_equipe }}</md-table-cell>
                        <md-table-cell md-label="Responsable" md-sort-by="responsable">{{ item.responsable }}</md-table-cell>
                        <md-table-cell md-label="Entree" md-sort-by="entree_sort">{{ item.entree }}</md-table-cell>
                        <md-table-cell md-label="Sortie" md-sort-by="sortie_sort">{{ item.sortie }}</md-table-cell>
                        <md-table-cell md-label="Actions" class="actionsColumn" v-if="editionOperateursAllowed">
                            <md-switch class="md-primary" v-model="item.sortie===null" @change="updateOperatorStatus(item)" title="Activer/désactiver l'opérateur"></md-switch>

                            <md-button class="md-icon-button md-primary"v-on:click="callEditOperateur(item)">
                                <md-icon>edit</md-icon>
                            </md-button>
                        </md-table-cell>
                    </md-table-row>
                </md-table>

                <div class="md-layout md-gutter md-alignment-center-center" v-if="operateurs.length < nb_operateurs_total">
                    <md-button class="md-primary md-dense md-raised" @click="searchOperateurs(true)">Afficher les 20 résultats suivants</md-button>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>