<div id="preavisEdit" class="preavisEdit" v-if="affaireLoaded">

    <!-- TITRE -->
    <md-toolbar class="justifyTitleBtn preavisHeader">
        <h1>Saisie de préavis pour l'affaire {{ affaire.id }}</h1>
        <div>
            <md-button class="md-raised md-primary" @click="savePreavisDefinitively" v-if="affaire.preavis_etape === 'externe'" :disabled="preavisDecision.preavis_type_id == null || preavisDecision.remarque == null || preavisDecision.remarque === ''"><md-icon>save</md-icon> Enregistrer définitivement</md-button>
            <md-button class="md-raised md-primary" @click="$router.push({name: 'Preavis'})"><md-icon>arrow_back</md-icon> Retour au tableau de préavis</md-button>
        </div>
    </md-toolbar>

    <div class="preavisContent">
        <md-card>
            <md-card-content>
                <div class="md-layout md-gutter md-alignment-top-space-between">
                    <div class="md-layout-item md-size-50">
                        <div class="md-title">Informations générales</div>
                        <br>
                        <table class="tg">
                            <tbody>
                                <tr>
                                    <td class="title">Numéro d'affaire</td>
                                    <td class="content">{{ affaire.id }}</td>
                                </tr>
                                <tr>
                                    <td class="title">Type d'affaire</td>
                                    <td class="content">{{ affaire.type_affaire }}</td>
                                </tr>
                                <tr>
                                    <td class="title">Cadastre</td>
                                    <td class="content">{{ affaire.cadastre }}</td>
                                </tr>
                                <tr>
                                    <td class="title">Description</td>
                                    <td class="content">{{ affaire.nom }}</td>
                                </tr>
                                <tr>
                                    <td class="title">Demande du préavis</td>
                                    <td class="content">{{ affaire.preavis_date_demande }}</td>
                                </tr>
                                <tr>
                                    <td class="title">Client</td>
                                    <td class="content" style="white-space: pre-wrap;">{{ affaire.client }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="md-layout-item md-size-50">
                        <div style="text-align: right;">
                            Raccourcis sur le SITN:
                            <md-button @click="openSitnTheme('amenagement_territoire')" class="md-dense md-raised" style="background-color: lightgray;" title="Aménagement du territoire">Amén. Ter.</md-button>
                            <md-button @click="openSitnTheme('cadastre')" class="md-dense md-raised" style="background-color: lightgray;" title="Cadastre">cadastre</md-button>
                            <md-button @click="openSitnTheme('sites_pollues')" class="md-dense md-raised" style="background-color: lightgray;" title="Sites pollués">sites pollués</md-button>
                        </div>
                        <!-- MAP -->
                        <div id="mapContainer">
                            <div id="mapDiv" class="map"></div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    
    
        <md-card>
            <md-card-header>
                <div class="md-title">Documents</div>
            </md-card-header>
            <md-card-content>
                <div class="md-layout md-gutter md-alignment-top-space-between">
                    <div class="md-layout-item md-size-65">
                        <md-table v-model="documents" md-sort="filename" md-sort-order="asc" md-fixed-header md-card>
                            <md-table-empty-state md-label="Aucun document"></md-table-empty-state>
                            
                            <md-table-row slot="md-table-row" slot-scope="{ item }">
                                <md-table-cell style="width: 40%;" md-label="Fichier" md-sort-by="filename">{{ item.filename }}</md-table-cell>
                                <md-table-cell style="width: 15%;" md-label="Taille" md-sort-by="size" md-numeric>{{ item.size }}</md-table-cell>
                                <md-table-cell style="width: 25%;" md-label="Modification" md-sort-by="modification_sort">{{ item.modification }}</md-table-cell>
                                <md-table-cell style="width: 20%;" md-label="Actions">
                                    <md-button class="md-icon-button md-dense md-primary" @click="downloadFile(item)">
                                        <md-icon>save_alt</md-icon>
                                    </md-button>
                                </md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>
                    <div class="md-layout-item md-size-30">
                        <md-card>
                            <md-card-header>
                                <div class="md-title">Drag & drop</div>
                            </md-card-header>
                            <md-card-content>
                                <div class="dragdrop">
                                    <drop class="drop" @drop="handleDrop" style="height: 200px !important; margin:auto;">
                                        Glissez des documents ici pour les ajouter à la liste
                                        <br>
                                        puis appuyez sur ENREGISTRER pour les charger
                                        <br><br>
                                        <md-icon class="md-size-5x">cloud_upload</md-icon>
                                    </drop>
                                </div>
                                <div v-if="droppedFiles.length > 0">
                                    <ul>
                                        <li v-for="item in droppedFiles">{{ item.name }} ({{ Math.ceil(item.size/1000) }} ko) <button @click="removeItem(item)" class="md-dense">supprimer</button></li>
                                    </ul>
                                    <md-button @click="saveFiles" 
                                        style="float: right; margin-bottom: 15px;" 
                                        class="md-dense md-raised md-primary">enregistrer</md-button>
                                </div>
                                <div v-else>
                                    <em>Aucun document</em>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    
        <preavisEditComments :preavis_id="affaire.preavis_id" />
        <preavisEditDecision ref="ped" :preavis_id="affaire.preavis_id" :showAddDecision="affaire.preavis_etape === 'externe'" />
    </div>

</div>