<div id="preavisEditDecision" class="preavisEditDecision">
    <md-card>
        <md-card-header>
            <div class="md-title">Préavis</div>
        </md-card-header>
        <md-card-content>
            <div v-if="decisions_liste.length > 0">
                <table class="tg">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th style="text-align: left;">Opérateur</th>
                            <th style="text-align: left;">Préavis</th>
                            <th style="text-align: left;">Commentaire</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in decisions_liste">
                            <td style="width: 100px; vertical-align: top; text-align: center;">{{ item.version }}</td>
                            <td style="width: 140px; vertical-align: top;">{{ item.operateur }}</td>
                            <td style="width: 140px; vertical-align: top;"><md-icon :style="'color: ' + item.icon_status_color">{{ item.icon_status }}</md-icon> {{ item.decision }}</td>
                            <td style="width: 1000px; white-space: pre-wrap;">{{ item.remarque }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <em>Aucun préavis n'a été saisi pour le moment.</em>
            </div>

            <div v-if="showAddDecision">
                <br>
                <md-button @click="decision.show = true" class="md-primary md-raised" v-if="decision.show === false">Saisir une nouvelle version</md-button>
    
                <md-card v-if="decision.show === true">
                    <md-card-header>
                        <div class="md-title">Saisie d'une nouvelle version du préavis</div>
                    </md-card-header>

                    <md-card-content>
                        <div style="margin-top: 10px; margin-bottom: 10px;" v-if="decision.version"><em>Version provisoire n° {{ decision.version }} du {{ decision.date }} enregistrée par {{ decision.operateur }}</em></div>

                        <md-radio v-model="decision.preavis_type_id" :value="1" :disabled="decision.definitif">Préavis positif sans condition</md-radio>
                        <md-radio v-model="decision.preavis_type_id" :value="5" :disabled="decision.definitif">Préavis positif avec condition</md-radio>
                        <md-radio v-model="decision.preavis_type_id" :value="2" :disabled="decision.definitif">Préavis négatif</md-radio>
                        <md-radio v-model="decision.preavis_type_id" :value="3" :disabled="decision.definitif">Pas concerné</md-radio>
                        <md-field>
                            <label>Commentaire</label>
                            <md-textarea v-model="decision.remarque" :disabled="decision.definitif" style="max-height: 70vh; height: 70vh;"></md-textarea>
                        </md-field>
                        <md-button @click="saveDecisionProvisoire" class="md-raised md-primary" style="float: right; margin-bottom: 20px;" :disabled="decision.preavis_type_id == null || decision.remarque == null || decision.remarque === ''" v-if="!decision.definitif">Enregistrer provisoirement</md-button>
                    </md-card-content>
                </md-card>
            </div>
        </md-card-content>
    </md-card>
</div>